[2015-06-26 16:51] johnjelinek opened #4 "Sample does not work"
When I follow the sample, this step fails:
[code]

I looked into the container and saw this:
[code]

[2015-06-26 16:59] bparees commented on #4
there are a host of currently known issues w/ this, but out of curiousity how were you running it?

https://bugzilla.redhat.com/show_bug.cgi?id=1232247
https://bugzilla.redhat.com/show_bug.cgi?id=1223249
https://bugzilla.redhat.com/show_bug.cgi?id=1213783

[2015-06-26 17:42] johnjelinek commented on #4
I executed steps in the docs for the Jenkins sample for the cli.
On Jun 26, 2015 11:59 AM, "Ben Parees" <notifications@github.com> wrote:

[2015-07-17 21:20] ffirg commented on #4
The make won't work on a minimal RHEL7 build. To get it to work:
curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"
python get-pip.py
sudo pip install -U websocket
pip install -U docker-compose

[2015-07-18 22:28] bparees commented on #4
@johnjelinek this image has been cleaned up now and the instructions should work again.

@ffirg is that the best way to resolve the rhel issue, or is there a package that can be installed instead?  we build this image on rhel system w/o a problem, so i'm guessing there are some appropriate packages that could be installed which would be the preferred solution over downloading arbitrary content.

[2015-07-20 19:47] ffirg commented on #4
@bparees intrigued. Do you use RHEL7 as your base build or RHEL6 per chance?

[2015-07-20 19:55] cgwalters opened #6 "Out of sync with docker hub"
https://registry.hub.docker.com/u/openshift/jenkins-1-centos/dockerfile/ appears to have no relation to https://github.com/openshift/jenkins/

[2015-07-20 19:57] cgwalters opened #7 "Bare uid in USER instruction leaves root supplementary group"
[code]

is not a good idea, because:

[code]

We should use `useradd` and `groupadd` to add an entry to `/etc/passwd` and `/etc/group` so that there's a supplementary group to use.  E.g.:

[code]

[2015-07-20 19:59] ffirg commented on #4
@bparees suspect you have EPEL enabled?

Looks like that provides pip...

[root@dns ~]# wget https://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm
[root@dns ~]# rpm -ivh epel-release-7-5.noarch.rpm
[root@dns ~]# yum whatprovides pip
Loaded plugins: product-id, subscription-manager
epel/x86_64/filelists_db

[2015-07-20 20:00] cgwalters commented on #7
At present, I'm not seeing an obvious privilege escalation in the current Jenkins image from simply having `gid=0` - however, it does mean that files like the `/run/secrets` with entitlements are readable.

Hmm, actually there already *is* a `jenkins` user created from the RPM, so why aren't we just doing `USER jenkins` ?

[2015-07-20 20:14] bparees commented on #6
that image is deprecated, updated the readme on docker hub.

thanks for noticing.

[2015-07-20 20:14] #6 closed

[2015-07-20 20:21] bparees commented on #7
when images run on openshift, they are assigned a random uid to run as.  so the reason behind not defaulting to the jenkins user is so that we when we test the image outside of openshift, we ensure we aren't running as jenkins (ie ensure the image works when run as a random userid).

had not considered the group side of the equation...  not clear to me why uid=1001 would be in gid 0?  seems strang

[2015-07-20 20:39] bparees commented on #4
@ffirg is your error w/ the easy_install invocation?

#  rpm -qf /bin/easy_install
python-setuptools-0.9.8-3.el7.noarch

I do not have python-pip installed.

[2015-07-20 21:20] ffirg commented on #4
@bparees can't seem to check at the mo, having problems downloading from repos...

[2015-08-27 04:30] bparees commented on #4
@ffirg we now have a rhel image available as well, but since it's built using our internal packaging repos you may not be able to build it.  you can pull it from registry.access.redhat.com/openshift3/jenkins-16-rhel7 (note that name is going to change very soon to jenkins-1-rhel7)

[2015-09-21 08:29] hbenmansour opened #33 "Git plugin"
Hi,

Since Git is the preferred SCM to be used with Openshift, is it a desired behavior that the Git plugin is not included in the image ?

Regards

[2015-09-21 12:41] bparees commented on #33
we're looking into what plugins to package with the image directly, there's some internal processes we need to deal with to publish a supportable image with additional plugins.

In the meantime hopefully you've seen the doc about how to extend this image with additional plugins?
https://github.com/openshift/jenkins#plugins

@mfojtik @gabemontero fyi.

[2015-09-22 10:21] mfojtik commented on #33
@hbenmansour @bparees correct, you can rebuild the image to include your plugins as I did here:

https://github.com/mfojtik/jenkins-ci/blob/master/openshift/jenkins-master-ephemeral.json#L115
https://github.com/mfojtik/jenkins-ci/blob/master/jenkins-master/Dockerfile#L14

We are going to package some of the plugin as RPM's soon as we sort out the list we want to package.

[2015-10-02 15:25] ivanthelad opened #34 "viewing jenkins log files"
Should be possible to "docker exec" into jenkins container and view the jenkins logs under /var/log/jenkins

[2015-10-02 19:51] bparees commented on #34
by default the logs go to stdout so you can view them via "docker logs <container>", if you want different behavior you can configure jenkins itself w/ whatever logging you prefer, but logging to stdout is the standard docker best practice.

[2015-10-21 14:07] bparees commented on #4
closing due to age, please reopen if you are still having issues with a current image and want to pursue this.

[2015-10-21 14:07] #4 closed

[2015-10-24 10:58] nak3 opened #41 "Jenkins image on registry.access.redhat.com doesn't have git command/package"
- issue

I know that it is supposed to be installed. - https://github.com/openshift/jenkins/blob/master/1/Dockerfile.rhel7#L34
However, `git` doesn't exist in the `jenkins-1-rhel7` container. Please see the output below

[code]

- env

[code]

- other info

openshift/jenkins-1-centos7 (dockerhub) has git package/command.

[2015-10-24 21:02] bparees commented on #41
the registry.access.redhat.com image hasn't been updated based on what's in github yet, i'm working on moving it through the publication process.

[2015-11-20 18:29] bparees opened #50 "jenkins successful test logs are not clean"
Jenkins "successful" logs contain some scary statements:

[code]

This one in particular is worrisome:
`/usr/local/bin/jenkins-common.sh: line 51: /opt/openshift/passwd: Permission denied`

As seen here:
https://ci.openshift.redhat.com/jenkins/job/jenkins/120/console

[2015-11-20 18:30] bparees commented on #50
(near as i can tell password changing is still working since we have an explicit test for that, but the nss wrapper stuff might not be working correctly)

[2015-11-20 20:17] mfojtik commented on #50
token error is ok but the permission one worries me. I haven't seen that
error in Jenkins logs running in OpenShift. Will have a look.
On Nov 20, 2015 7:30 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-12-02 09:59] Yashu5 opened #51 "can not perform oc operation in RHEL/Jenkins image"
Hi,

I have created a pod in openshift enterprise using "oc new-app registry.access.redhat.com/openshift3/jenkins-1-rhel7" , I can access jenkins console fine.

But whenever I try to run "oc" commands from jenkins job,

it gives me "default cluster has no server defined"

There in no such issue though with jenkins/centos image.

any thoughts??

[2015-12-02 14:51] bparees commented on #51
are you running the sample job or your own job you've created?

if it's your own job, can you provide the commands you're running?

note that the sample job explicitly sets up an alias for oc to ensure certain arguments are passed:
```alias oc="oc -n $PROJECT --token=$AUTH_TOKEN --server=$OPENSHIFT_API_URL --certificate-authority=/run/secrets/kubernetes.io/serviceaccount/ca.crt "```

i just tested

[2015-12-03 05:35] Yashu5 commented on #51
Hi Ben, Thanks , How do I get the AUTH_TOKEN here.

Below is the error I got while building sample job:

Started by user Jenkins Admin
Building in workspace /var/lib/jenkins/jobs/OpenShift Sample/workspace
[workspace] $ /bin/sh -xe /tmp/hudson5463768946706679320.sh
+ '[' -z pBgBeKcalFdDo_PVAYOfoK4z9el51lR1-7zIA2VrT14 ']'
+ '[' -e /run/secrets/kubernetes.io/serviceaccount/ca.crt ']'
+ alias 'oc=oc

[2015-12-03 14:05] bparees commented on #51
If you look at the sample jenkins job, you can see that it gets the auth token from the secret mounted into the pod:
[code]

based on your output it was picked up correctly, as was the ca.crt.

@liggitt any theories on why oc would be reporting this error?  I don't see where the insecure flag is being set...

@Yashu5 can you confirm you've pulled the latest registry.access.redhat.com/openshift3/je

[2015-12-03 16:35] liggitt commented on #51
do you have an existing $KUBECONFIG or ~/.kube/config file present? If so, that is merged with any options you provide on the command line, and could be setting an insecure=true config value

[2015-12-03 16:36] bparees commented on #51
there shouldn't be on in the jenkins image, at least not by default, so unless @Yashu5 rsh'd into the jenkins image and performed an oc login or something....

[2015-12-03 16:42] liggitt commented on #51
Only relevant thing I see is https://github.com/openshift/jenkins/blob/013b2dfe34243d3ffec0e981f8aaeeb94e0b084a/1/test/testjob.xml#L75-L79

[2015-12-03 16:50] bparees commented on #51
yeah based on the output provided, we're not in the --insecure path.

[2015-12-03 16:55] liggitt commented on #51
the output of `oc config view` would be helpful to see

[2015-12-04 09:50] Yashu5 commented on #51
Hi ben and liggitt, thanks for responses here, I am using latest version of jenkins RHEL image only.

dont know what could be the issue, for temporary purpose i logged into the pod and did "oc login", after this I can run the job without any issue.

but I do not want to do  that for my other jenkins server running in different environment. Any help would be appreciated

as asked by liggit below is

[2015-12-07 06:37] nak3 commented on #41
@bparees
It looks like current release has git command. Please feel to close this issue.
[code]

[2015-12-07 14:45] bparees commented on #41
thanks!

[2015-12-07 14:45] #41 closed

[2015-12-09 23:42] bparees commented on #51
can you create a new jenkins job that just runs "oc config view", then does the aliasing the sample job does, then runs "oc config view" again, per @liggitt 's request?

[2016-01-28 11:11] mfojtik opened #70 "Fail the build when plugin fail to install"
Currently when the plugin fail to install (99% downloading error), the installer finishes but the build continue, which result in inconsistent build result (Jenkins gets deployed, but without plugins that failed to install)

[2016-02-01 18:57] #34 closed

[2016-02-01 18:59] bparees commented on #7
we actually now depend on the assumption that the container uid is a member of gid 0, so closing this.

(it's an assumption baked into many of the openshift images, not just the jenkins one)

[2016-02-01 18:59] #7 closed

[2016-02-02 21:54] bparees commented on #70
@mfojtik you fixed this right?

[2016-02-02 21:55] bparees commented on #51
closing based on lack of response, if you can reproduce this on a current image and want to revisit it, please reopen.

[2016-02-02 21:55] #51 closed

[2016-02-02 21:57] bparees commented on #50
not seeing this is current logs.

[2016-02-02 21:58] bparees commented on #33
@mfojtik where did this land w/ @tdawson.  did we package this one/are we going to?

[2016-02-03 07:32] mfojtik commented on #70
@bparees yes.

[2016-02-03 07:32] #70 closed

[2016-02-11 11:38] siamaksade opened #78 "Add the master url config to global Jenkins configs"
OpenShift mater url should be configurable in global Jenkins configs and one chosen as "default". Buildsteps should be set to the one chosen as "default" and show a dropdown list for picking the master url. Text field in each buildstep means a change in the url requires every buildstep to be manually updated by the user.

[2016-02-14 16:37] YannMoisan opened #80 "With S2I, manage dynamic part in job config"
I've created a template that uses a S2I build to copy job definitions.

When I create a new-app from this template, I need a way to set the token in the configuration of the job.

Is there a way to modify the source to replace a placeholder ?

Or another way to achieve that use case ?

[2016-02-15 03:06] bparees commented on #80
If I understand correctly you have a git repository that contains your
Jenkins job definition, and an openshift template that defines an s2i build
config which uses the repository to create a new Jenkins image with your
job defined in it?

And you want to, at template instantiation, customize the Jenkins job
definition that is being injected into the newly built Jenkins image? (or a
customize it a

[2016-02-15 12:27] YannMoisan commented on #80
You get the point perfectly.

I can't show because I'm not working on public stuff.

I was wondering if there is a way without modifying the jenkins image, but I'll try to do that.

[2016-02-15 22:21] bparees commented on #80
you don't have to modify the image, you can provide a customized assemble script in your source repo (the same one containing your job configs).
https://docs.openshift.org/latest/dev_guide/builds.html#override-builder-image-scripts

[2016-02-18 02:41] thincal opened #82 "how to add the slave in jenkins"
After deploying the jenkins in openshift platform, how to add the slave in jenkins ? thanks.

[2016-02-18 02:52] bparees commented on #82
@mfojtik is working on a PR that walks through this.  you can see it here:
https://github.com/openshift/origin/pull/7145

[2016-02-18 03:33] thincal opened #83 "About the user for uid 1001"
If configuring the ssh key for jenkins container, it will report `No user exists for uid 1001` when running `ssh-keygen`.

some info FYI:

$ echo $USER
[code]

$ echo $UID
[code]

$ id jenkins
[code]

$ cat /opt/openshift/passwd
[code]

The problem should be there is no user created for the uid 1001, but it seems that it is trying to create a jenkins user with the uid 1001, right ? but the result

[2016-02-18 03:44] bparees commented on #83
how are you running the image?

[2016-02-18 03:50] thincal commented on #83
Followed the example https://github.com/openshift/origin/tree/master/examples/jenkins by running:
[code]

[2016-02-18 03:57] bparees commented on #83
when you run an image in openshift you are actually a random user (run whoami to see it), so the 1001 is irrelevant.

As for how to solve this problem, we'll have to use nss_wrapper to ensure we can always map the current random uid to jenkins for programs that require the current uid be resolvable in /etc/passwd.  This is something we've done in other images.

[2016-02-18 03:59] thincal commented on #83
$ whoami
whoami: cannot find name for user ID 1001

[2016-02-18 04:31] bparees commented on #83
fundamentally yes that is the issue.  you must have openshift configured with a RunAsAny policy though, since the image is running as 1001 and not a random id.

regardless, the fix is what i described, we need to use nss_wrapper to map whatever uid the container is running as, to the jenkins user.

[2016-02-18 07:49] thincal commented on #83
@bparees when will get the fix ? thanks.

[2016-02-18 09:34] mfojtik commented on #82
@thincal should be merged today. Also see the official documentation: https://github.com/openshift/openshift-docs/pull/1580/files

[2016-02-18 09:37] mfojtik commented on #83
@thincal i'm working on the fix today.

[2016-02-18 09:48] mfojtik commented on #83
@thincal @bparees I think the problem is because of `docker exec`. It starts a shell but does not set the NSS_WRAPPER properly.

@thincal how exactly you invoking `docker exec` ? (I think something like:

[code]

should work). But I think the better solution would be to move the nss_wrapper into entrypoint wrapper.

[2016-02-18 11:01] thincal commented on #83
@mfojtik yes after running as following
[code]

[2016-02-19 02:28] thincal commented on #83
And when executing the shell script inside the jenkins job, actually the user is set correctly already. So that this will not be a problem, thanks all for your attention and help.

I will close it now, thanks.

[2016-02-19 02:28] #83 closed

[2016-02-19 22:38] gabemontero commented on #78
@siamaksade - I couldn't tell for sure if you were aware of this, so just in case, I'll mention that with the existing code you can create a global property today, put the name of that property as the setting for any of the configurable text fields of any of the build steps, and the plugin will substitute the value of the global property for the build step text field when running the job.

That sa

[2016-02-22 11:20] mfojtik opened #85 "Use mounted namespace secret for PROJECT_NAME"
The recent version of k8s (and openshift) has the namespace name mounted in into /var/run/secrets/kubernetes.io/serviceaccount/namespace. We should check if that file exists and use it as the `PROJECT_NAME` by default.. We need to preserve PROJECT_NAME for backward compatibility and to allow people override.

[2016-02-23 03:10] gabemontero commented on #78
An update:  after some investigation of the jenkins jelly taglibs, I wasn't enamored with the usability of the non-deprecated options out there (most notably the combobox and select).  Got a second opinion from @bparees and he agreed.

We decided on a slightly different approach, but one which we think captures the desire of this item.  Also, this new approach dovetails with a separate discussion

[2016-02-23 04:02] bparees commented on #78
Sounds good to me, with one minor note:
KUBERNETES_SERVICE_HOST is actually set by openshift/k8s (which is good, it means that variable won't be set when the image is running outside of openshift/k8s).

@siamaksade please let us know if you think this will address your issue.

[2016-02-23 04:02] bparees commented on #78
@gabemontero yeah not aware of any way to move an issue between repos, but you can still reference this issue from your pull in that repo and vice versa.

[2016-03-09 20:22] bparees commented on #78
fixed by https://github.com/openshift/jenkins-plugin/pull/22

[2016-03-09 20:22] #78 closed

[2016-04-13 19:49] lvthillo commented on #50
I seem to have this issue:

[code]

Don't know where it comes from. I try to pull from a bitbucket repo with username/passwd

[2016-04-13 19:56] gabemontero commented on #50
Perhaps everyone is aware, but typically in jobs I run, I see `NSS_WRAPPER_PASSWD=/opt/openshift/passwd`.

Again, maybe everyone is already aware of this, but perhaps the SCMs in question are picking up on the env var and accessing `/opt/openshift/passwd` when they shouldn't be?

[2016-04-13 19:58] bparees commented on #50
@lvthillo can you describe your full scenario?

[2016-04-13 21:00] lvthillo commented on #50
@bparees I'm running a persistent Jenkins container on OpenShift Origin 1.1.6. I've installed the git plugin and try to connect to my git repository on bitbucket to pull the repo into the jenkins workspace but don't work.

[code]

[2016-04-14 03:17] bparees commented on #50
@gabemontero that file (/opt/openshift/passwd) should always be there and nss should always be getting used (that's why we put nss in the LD_PRELOAD).

@lvthillo can you "oc rsh" into your jenkins pod and do an "ls -l /opt/openshift/passwd" and also "whoami" ?

[2016-04-15 22:24] PI-Victor commented on #85
close? https://github.com/openshift/jenkins/pull/86/files i'm guessing you fixed it

[2016-04-15 22:25] PI-Victor commented on #82
should this be closed now?

[2016-04-15 23:00] PI-Victor commented on #33
is this issue still ongoing?

[2016-05-19 22:12] rafabene commented on #50
I'm also facing this issue.

[2016-05-19 23:30] bparees commented on #50
@rafabene can you provide the information i asked for from @lvthillo then?

and confirm you're on the latest openshift/jenkins-1-centos7 image?  (or tell me which one you are on)

[2016-05-19 23:44] rafabene commented on #50
In fact it happened with registry.access.redhat.com/openshift3/jenkins-1-rhel7:latest I just dropped my CDK environment and recreating it to see what is happening.

[2016-05-19 23:48] rafabene opened #101 "duplicated openshift-pipeline in /var/lib/jenkins/plugin folder"
I have dumped my desired Jenkins dependencies in a plugin.txt file.

Following the instructions of the s2i custom-build, I ended with two openshift-pipeline.hpi in /var/lib/jenkins/plugin folder

41 May 19 03:21 openshift-pipeline.hpi -> /usr/lib64/jenkins/openshift-pipeline.hpi
4124260 May 19 03:21 openshift-pipeline.jpi

This also happened with:

- credentials.hpi
- durable-task.hpi
- kubernetes

[2016-05-19 23:57] bparees commented on #101
can you share the exact content of your plugin.txt and the buildconfig you used?

[2016-05-20 00:17] rafabene commented on #101
Sure. The resources are here: https://github.com/redhat-helloworld-msa/jenkins

[2016-05-20 02:05] rafabene commented on #50
Not only I face this issue in pod log, but when I try to execute a Jenkinsfile pipeline.

[Pipeline] node
Running on master in /var/lib/jenkins/jobs/Hello Microservices/workspace
[Pipeline] {
[Pipeline] stage (Git checkout)
Entering stage Git checkout
Proceeding
[Pipeline] echo
Checking out git repository
[Pipeline] git
Cloning the remote Git repository
Cloning repository https://github.com/redhat

[2016-05-20 03:29] bparees commented on #50
@rafabene can you "oc rsh" into your jenkins pod and do an "ls -l /opt/openshift/passwd" and also "whoami" ?

and cat the passwd file if it exists.

[2016-05-20 03:43] rafabene commented on #50
There it goes:

bash-4.2$ ls -l /opt/openshift/passwd
ls: cannot access /opt/openshift/passwd: No such file or directory
bash-4.2$ ls -l /opt/openshift/
total 8
-rw-rw-r--. 1 1001 root   74 May 16 12:08 base-plugins.txt
drwxrwxr-x. 2 1001 root    6 May 19 23:21 configuration
-rwxrwxr-x. 1 1001 root 2039 May 16 12:08 password-encoder.jar
bash-4.2$ whoami
whoami: cannot find name for user ID 1001
ba

[2016-05-20 03:55] rafabene commented on #50
Also allows you to see the errors.

[2016-05-20 04:00] bparees commented on #50
this issue has been fixed but a new rhel7 image has not yet been published.  For now you'll have to use the openshift/jenkins-1-centos7 image instead, which does contain the fix.

[2016-05-20 04:02] bparees commented on #101
@gabemontero you might have some thoughts here since you've done more w/ installing plugins than i have.

[2016-05-20 04:42] rafabene commented on #50
Thanks. Updated to openshift/jenkins-1-centos7 and it seems to work,

[2016-05-20 04:48] rafabene commented on #101
It seems that using openshift/jenkins-1-centos7 is fine. The problem seems to be in the latest rhel image.

[2016-05-20 12:57] gabemontero commented on #101
A couple of thoughts (and possibly an answer):
- So the difference in centos / rhel behavior I believe makes sense since they seem to live in different spots based on what I'm seeing when I `docker run ... /bin/bash` those images without any changes.

For RHEL:
/usr/lib64/jenkins/openshift-pipeline.hpi - this comes from the RPM install that @tdawson does for us
/opt/openshift/plugins/openshift-pip

[2016-05-20 13:13] bparees commented on #50
ok, will close this once we publish a new rhel7 image.

[2016-05-20 18:39] bparees commented on #101
if that's true, shouldn't it have taken precedence over the .hpi symlink?  I can't remember from @rafabene's original problem if we knew which one took precedence or there was some conflict with both of them getting loaded?  If the jpi is in fact taking precedence, it sounds like we're fine as is.

Special processing to handle all the .hpi files we might already included in the image is scary.

[2016-05-20 19:15] gabemontero commented on #101
Well, perhaps I misread the doc I found, or it is incorrect :-) ... for reference, it is [here](http://stackoverflow.com/questions/30658375/what-is-difference-between-hpi-and-jpi-of-jenkins-plugins)

And looking back, with our centos image only having a .jpi file, perhaps was is happening with the jenkins extended test is that we are *replacing* the plugin file vs. having 2 copies and the jpi file

[2016-06-08 19:24] sdodson commented on #50
registry.access.redhat.com/openshift3/jenkins-1-rhel7:1.651.2-4 has finally gone live and is tagged latest as well.

[2016-06-08 19:30] bparees commented on #50
tragically that image does not appear to contain the fix because /usr/local/bin/jenkins-common.sh still contains this line:
[code]

[2016-06-08 19:35] bparees commented on #50
this was the fix for the issue:
https://github.com/openshift/jenkins/commit/20a511b8ccf71a8ebd80519440403e530ccb6337

[2016-06-09 15:08] maci0 commented on #50
same issue here with
`registry.access.redhat.com/openshift3/jenkins-1-rhel7            latest              8fe7d109f5bd        2 weeks ago         556.9 MB`

[2016-06-09 15:14] bparees commented on #50
@maci0 yeah see my 2 comments above.  fix has not been pushed yet, but you can use the centos image for now if you need a workaround.

[2016-06-10 05:17] bparees commented on #80
@YannMoisan anything further we can help you with here?

[2016-06-10 21:01] gabemontero commented on #101
I circled back to this and believe I have a solution.  My theory of having both the hpi and jpi files present seems to have been correct.  A change to the rhel7 docker file's ln so that the destination file ends with jpi makes it copacetic with the `plugins.sh` script.  That script's download and its replacing of the jpi file now works the same was as it does with the centos image, as we are only

[2016-06-10 22:32] bparees commented on #101
fyi i did a little research on hpi vs jpi when looking into this the other day and the answer is just that hpi is a hudson(ie the old name for jenkins) plugin extension and jpi is a jenkins plugin extension.  so we should always be using jpi at this point, rather than calling something hpi and then trying to override it with a jpi.

all of which goes to say it sounds like your plan aligns w/ that

[2016-06-13 13:22] #101 closed

[2016-06-15 22:48] bparees commented on #50
the corrected image has now been pushed, thanks for your patience.

[2016-06-15 22:48] #50 closed

[2016-06-20 20:28] bparees commented on #80
closing based on lack of feedback, will reopen if needed.

[2016-06-20 20:28] #80 closed

[2016-06-27 09:07] ullgren opened #117 "maven plugin failes"
When using the maven plugin the build failes since the [maven plugin uses the default directory during the initial pom.xml scan](http://osdir.com/ml/java-jenkins-user/2012-03/msg00071.html). The default directory does not seem to be detected correctly in the openshift jenkins image thus the build fails with:

`ERROR: Failed to create ?/.m2`

A according to the post in the java-jenkins-user mailing

[2016-06-28 03:08] #117 closed

[2016-07-21 11:54] tnozicka opened #128 "Jenkins service account is not propagated to slaves"
Jenkins slaves are missing service account **jenkins** and have only the default one. They should have the same one as master.

My current workaround is:
[code]

I would like to get rid of it.

[2016-07-21 15:50] bparees commented on #128
the k8s plugin claims to support setting a service account in the pod template definition for the node:
https://github.com/jenkinsci/kubernetes-plugin/commit/49cd23fd47e66d79744d5fa6a95767ee33a7d436#diff-7ce44bbe5d164ad0631710f06a682472

but i'm not seeing the config field in the jenkins configuration page.  will investigate further.

[2016-07-21 15:51] bparees commented on #128
@iocanel you added the service account config support to the k8s plugin, are you aware of any issues with it not showing up on the jenkins config page?

[2016-07-22 20:56] bparees commented on #128
looks like we need a new release of the plugin to get the service account feature, i've requested one:
https://issues.jenkins-ci.org/browse/JENKINS-36891

[2016-07-28 13:58] tnozicka opened #130 "Git is not working properly on slaves"
[code]
ends up with error:
[code]

Same for maven one:
[code]
[code]

Surprisingly, this is not a problem when running Jenkins on `oc cluster up`. When using ADB/CDK all attempts to checkout repositories on slaves fail with these errors.

(There is probably a different policy to get UID from or something like that.)

I am not sure about the proper solution here, but we had a hack in our images bef

[2016-07-28 15:35] bparees commented on #130
The image isn't intended to be run that way, the problem is this:
[code]

the slave startup script that is invoked when you use this image as a proper slave uses nss wrapper to setup a fake passwd file that ensures the uid can be resolved.

if you want to use this image manually, you need to do the same steps:
[code]

which results in:
[code]

[2016-07-28 15:59] tnozicka commented on #130
@bparees This was just an example, but it happens to real slaves as well. The error is exactly the same. It only manifests in ADB because of the admission policy.

Actually [the script](https://github.com/openshift/jenkins/blob/master/slave-base/contrib/bin/generate_container_user) was called. I did not change the the entrypoint at all, I changed only command. And entrypoint [sources](https://gith

[2016-07-28 16:55] bparees commented on #130
@tnozicka yeah normally our base images define uid 1001 as a real use, but that wasn't the case for the slave images.  i'll remove the conditional.

[2016-07-28 18:50] #130 closed

[2016-08-09 08:48] dakky opened #134 "Changing the admin PW via UI does not survive the restart of the container"
Hello

I'm using openshift/jenkins-1-rhel7.
After changing the admin pw via the UI i can login with the new password. . But after restarting the container, the password configured in the environment ist set again.

In fact, the following code does not work:
https://github.com/openshift/jenkins/blob/master/1/contrib/s2i/run

[...]
 90:  if [ $old_password!=$new_password_hash ]; then
[...]

the pass

[2016-08-09 10:22] dakky opened #135 "s2i customization makes image unstartable"
Hello

i'm trying to customize the jenkins image openshift/jenkins-1-rhel7. The original image seems to work fine.

As "base" is use: https://github.com/siamaksade/jenkins-s2i-example

In order to customize the image, i have the following buildconfig:

[code]

The build itself works fine (here only the source part):

[code]

But when starting the built image i get the following error:

[code]

it

[2016-08-09 12:02] gabemontero commented on #134
You most likely are using the ephemeral template.  To have configuration
persist across constainer restarts you need to use the persistent template
and define an associated PV.

On Tuesday, August 9, 2016, Dakky <notifications@github.com> wrote:

[2016-08-09 12:38] dakky commented on #134
Hello :)

Nope i'm using the persistent template:

[code]

I also logged in the containers and compared the strings in the password file: they differ.

[2016-08-09 14:06] bparees commented on #135
I can't access your repo, are you overriding the run script in your repository?

Also the image we produce expects to write to /var/lib/jenkins, not var/jenkins_home, other directories won't have the correct permissions, so if you're changing that, you need to change permissions on the directories.

[2016-08-09 15:12] dakky commented on #135
Hello ;)

No, I don't override the run script. Have a look here: https://github.com/siamaksade/jenkins-s2i-example

Thats what I am using basically.
I changed the directory layout in order to fit in to our company setup (and of course fixed the contextDir in the buildconfig) but i did not change any of the jenkins specific setup files. Only the openshift part was modified: layout directory, cleane

[2016-08-09 15:17] bparees commented on #135
are you changing the JENKINS_HOME env variable?

[2016-08-09 15:22] dakky commented on #135
not explicitly.

[code]

[2016-08-09 15:44] bparees commented on #135
i mean in the image you are building.

[2016-08-09 16:12] dakky commented on #135
nope (I think ;) )
i did not add any s2i scripts in order to overwrite the orignal ones, so this should be ok.
The only env I added in the buildconfig is a http/https proxy

[2016-08-09 21:01] bparees commented on #134
https://github.com/openshift/jenkins/blob/master/1/contrib/s2i/run

It turns out that code is breaking because we generate a new salt whenever we compute the password hash, so even if the password has not changed, the hash is unique.  The behavior is supposed to be such that if you ever modify the jenkins password via the web console, the env variable no longer has any effect.  (but as long as you

[2016-08-09 21:08] bparees commented on #134
Sorry, I misstated the design intent:

it should work such that if you change the env variable, we will always update jenkins with a password based on the env variable, but if you change the password via jenkins, and do NOT change the env variable, we will not reset the password based on the env variable on restart.  If you change the password via the jenkins ui, then change the password env varia

[2016-08-09 21:38] #134 closed

[2016-08-09 22:16] bparees commented on #135
can i see your deployment config and all of your buildconfig?

[2016-08-09 22:17] bparees commented on #135
also your buildconfig setting "contextDir": "jenkins-s2i/s2i/master", yet the repo structure you showed me doesn't have a "jenkins-s2i" root directory?

[2016-08-10 06:18] dakky commented on #134
any idea when this change will come to https://access.redhat.com/search/#/container-images?q=jenkins&p=1&sort=relevant&rows=12&srch=any&documentKind=ImageRepository ?

[2016-08-10 06:37] dakky commented on #135
of course, here you are:
Deploymentconfig:
[code]

buildconfig:
[code]

the "jenkins-s2i" folder is the "." in the most upper hierarchy. Here a snipplet from the project root:
[code]

[2016-08-10 12:44] bparees commented on #134
probably in the next few weeks.

[2016-08-11 02:54] bparees commented on #135
i suspect i know your problem.  your deployment config has the field:
`image: jenkins`

Which means "use the jenkins image from dockerhub".  While you do also have an imagechangetrigger which points to your actual image that your buildconfig produces, there can be a race condition as to which value gets used.  change the image field to:
`image: " "` to ensure it does not contain a valid image that

[2016-08-11 02:55] bparees commented on #135
@kargakis @mfojtik i'm starting to feel like it should be a validation error to provide a value for the image field of a podtemplate in a DC when you have an ICT on that same DC.

[2016-08-11 07:24] mfojtik commented on #135
@kargakis @bparees just a brainstorming, but how about using something like:

* `image: "foo"` - use the "foo" image from dockerhub (or whatever registry Docker daemon have configured)
* `image: "is:foo"` - use the "foo" image stream.

One problem with this is that this violates the spec format.
@bparees can you open an issue on origin to have broader discussion? ;-)

[2016-08-11 12:50] bparees commented on #135
@mfojtik https://github.com/openshift/origin/issues/10356

[2016-08-11 13:31] tnozicka opened #139 "[Pipeline-sync] Pipeline build, started before Jenkins is deployed, gets deleted"
If I create a pipeline BC and trigger it for the first time, it triggers jenkins deployment into that namespace and deletes the build. Starting it for the second time, after Jenkins is deployed, works.

Steps to reproduce:
 1. $ oc cluster up --version=v1.3.0-alpha.3 && oc process -f https://github.com/tnozicka/nodejs-ex/raw/kontinu8-next/.openshift-pipeline/pipeline-template.yaml -v 'GIT_URL=http

[2016-08-11 14:27] bparees commented on #139
@gabemontero @jimmidyson i can't imagine what is deleting these builds (but i was able to recreate).  Are there any conditions under which the sync plugin would delete a build out of openshift?

[2016-08-11 14:28] bparees commented on #139
it certainly used to be that if you created the build before jenkins existed, it would simply get run when jenkins started up (though there were some issues reported about cases where it didn't run it, but it certainly didn't delete it)

[2016-08-11 14:31] jimmidyson commented on #139
The sync plugin deletes builds if the BuildConfig is deleted. IIRC that's the only place where OS builds are deleted.

[2016-08-11 15:02] gabemontero commented on #139
Yep, the pipeline plugin does not delete builds.

On Thu, Aug 11, 2016 at 10:31 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2016-08-11 15:25] bparees commented on #139
QE has also just reported this issue here:
https://bugzilla.redhat.com/show_bug.cgi?id=1366223

I would have to assume the sync plugin is doing it, @jimmidyson is there some debug we can turn on or logging that would show up when the sync plugin deletes a build?

[2016-08-11 15:27] bparees commented on #139
@jimmidyson and it seems likely this is related:
https://bugzilla.redhat.com/show_bug.cgi?id=1366200

(old builds being deleted when the buildconfig is modified)

[2016-08-11 15:34] tnozicka commented on #139
It has been happening for at least a week or 2. I just got myself to properly investigate it today, sorry.

Also, as @bparees mentioned, there was a problem even before Summit that the first build failed when triggered by ConfigChange, but we have removed that trigger so I am not sure if it's an issue anymore.

[2016-08-12 10:34] #139 closed

[2016-08-12 10:34] jimmidyson commented on #139
Sorry about that - fixed now.

[2016-08-16 17:21] bparees commented on #33
looks like we are now packaging jenkins-plugin-git, jenkins-plugin-git-client, and jenkins-plugin-git-server.
centos:
https://github.com/openshift/jenkins/blob/master/1/contrib/openshift/base-plugins.txt#L59-L60
https://github.com/openshift/jenkins/blob/master/1/contrib/openshift/base-plugins.txt#L43

rhel:
https://github.com/openshift/jenkins/blob/master/1/Dockerfile.rhel7#L37

[2016-08-16 17:21] #33 closed

[2016-08-16 17:21] #82 closed

[2016-08-16 17:22] bparees commented on #85
yup

[2016-08-16 17:22] #85 closed

[2016-08-16 17:22] bparees commented on #135
@dakky did my last comment help fix your problem?
https://github.com/openshift/jenkins/issues/135#issuecomment-239061288

[2016-08-16 20:14] #128 closed

[2016-08-17 13:02] dakky commented on #135
jep kind of ;)
setting the source image to " " did not work (validation error)
I renamed the image from jenkins to jenkins-s2i, which fixes my problem, until someone on dockerhub pushes an image with this name.
I think I don't understand the openshift concept at this point. I thought the image setting causes openshift to look for an image(stream) in my  namespace and after that in the openshift na

[2016-08-17 13:08] bparees commented on #135
No, the image setting is the same as "docker pull" for whatever value you put there, the image field has no relation to imagestreams in your cluster.

and " " should not be a validation error (as long as you have a space in there), but you can also put any other invalid value in there like "foobar1234", you just want a value that can't actually be pulled, so that when the deployment happens, it wi

[2016-08-17 13:08] #135 closed

[2016-08-17 13:16] dakky opened #144 "extending image with s2i: proxy env variables for build only?"
Hello

I have another Problem when extending the jenkins image via s2i.
I added the following settings to the build config:
[code]

Why? I need to use a proxy in order to download the additional plugins from jenkins-ci
Whats the problem?
The problem is, that these env variables also exist in the running image and not onyl the builder. This forces me, to have an exessive long no_proxy host list (pa

[2016-08-17 13:47] bparees commented on #144
you can update the deploymentconfig to set http_proxy/etc to "" in your pod template.

but no, there is no way to set env variables at build time only today.  they will always exist in the final image.  so you have to override the value in the deploymentconfig for the image if you don't like that value.

[2016-08-17 13:49] dakky commented on #144
a that was easy :D thanks

[2016-08-17 13:49] #144 closed

[2016-08-19 10:12] tnozicka opened #145 "[sync-plugin] - Pipeline stage duration are not synced after deleting the pipeline and creating it again"
$(subject) + it shows the old durations and does not make sense.
#### Steps to reproduce:
1. $ oc cluster up --version=v1.3.0-alpha.3
2. $ oc process -f https://github.com/tnozicka/nodejs-ex/raw/kontinu8-next/.openshift-pipeline/pipeline-template.yaml -v 'GIT_URL=https://github.com/tnozicka/nodejs-ex.git,GIT_REF=kontinu8-next' | oc apply -f -
3. $ oc start-build nodejs-ex-pipeline
4. # wait for it

[2016-08-19 12:18] tnozicka opened #146 "[sync-plugin] - 404 on Jenkins logs and job in Jenkins"
Steps to reproduce.
1. $ oc cluster up --version=v1.3.0-alpha.3
2. $ oc process -f https://github.com/tnozicka/nodejs-ex/raw/kontinu8-next/.openshift-pipeline/pipeline-template.yaml -v 'GIT_URL=https://github.com/tnozicka/nodejs-ex.git,GIT_REF=kontinu8-next' | oc apply -f -
3. $ oc start-build nodejs-ex-pipeline
4. $ oc process -f https://github.com/tnozicka/nodejs-ex/raw/sync-WIP/.openshift-pipel

[2016-08-19 13:31] bparees commented on #145
@jwforres is this value coming from the web console or the sync plugin?

[2016-08-19 13:32] bparees commented on #145
also @tnozicka for future reference this issue probably should have been filed against either the sync plugin:
https://github.com/fabric8io/openshift-jenkins-sync-plugin/issues

or the origin web console:
https://github.com/openshift/origin-web-console/issues

[2016-08-19 13:35] tnozicka commented on #145
@bparees ok, I will file next issues there

btw. At some point I have seen there something like '-40005'. (@jwforres)

[2016-08-19 18:28] bparees commented on #146
this sounds like the issue where the buildconfig was getting mistakenly deleted when you applied changes to it, which was fixed by fix to also not delete builds when the jenkins server started up.

I ran your steps as best i could and i still see a job under `job/nodejs-ex-pipeline/1/` from when i ran "oc start-build" in step 3.

[2016-08-19 19:07] bparees commented on #146
(in case my comment wasn't clear, i guess i'm asking you to confirm you're running the latest jenkins image and/or think if there are any other steps that might be part of the recreate)

[2016-08-19 19:31] tnozicka commented on #146
@bparees I believe I have deleted all the images today, so the problem isn't most probably there.
[code]
I could add the urls that are not working and some screenshots next week. Only other thing might be timing. (I have run all those steps with max. 2s delay)

Also note that step 2. and 4. are different so the sync plugin might delete the config and create new one resulting in those problems.

[2016-08-19 19:37] bparees commented on #145
I was not able to recreate this, though I did see some disturbing behavior with respect to resetting the build sequence in jenkins when the builds were deleted and buildconfig recreated.  things didn't work properly until the new build sequence number exceeded the previous number that was deleted.

I wonder if, in your case, something was picking up data from the old build objects. (though it soun

[2016-08-19 19:45] bparees commented on #146
@tnozicka we'll need @jimmidyson to weigh in, but he's on PTO.  @iocanel might be able to help in his absence.  But i tried a few times and can't recreate the behavior you're seeing.  I definitely need to see the URLs you are saying exist before and not after the buildconfig change, but for me both the job url, and the job instance urls, continue to resolve both before and after step 4.

i'd also

[2016-08-19 19:47] bparees commented on #145
@tnozicka if you can recreate it, it would be useful to see a dump of "oc get builds -o json" and "oc get buildconfigs -o json" along w/ the other information you've provided.

[2016-08-19 20:00] tnozicka commented on #145
@bparees I can provide more precise info next week, but I remember checking it through `oc get all` to make sure there is only the imagestream and jenkins boilerplate. (Builds were not there; they were deleted as you say.) I would guess the data from build was only incorrectly preserved in a cache with regard to sync-plugin. Not sure why you could not reproduce it, I have tried it several times.

[2016-09-14 18:40] rawlingsj opened #153 "is it possible to layer on plugins so they replace existing ones?"
We're working with a snapshot kubernetes.hpi and using the `s2i build` approach to layer on the new plugin.

Unless I'm missing something I can't seem to replace the existing 0.8 kubernetes plugin with the new one in the `./plugins/kubernetes.hpi` https://github.com/fabric8io/openshift-jenkins-s2i-config/tree/dedicated/plugins

Is it possible to replace plugins with this layering approach?

[2016-09-14 19:39] gabemontero commented on #153
I reproduced this issue, but also figured out how to make it work.

So I created a local copy of @rawlingsj 's repo and ran s2i against it.  Then I docker ran the image with /bin/bash so I could inspect.

What I found was there was both
- /opt/openshift/plugins/kubernetes.jpi - this is the default one we bring in
- /opt/openshift/plugins/kubernetes.hpi - this was the one from @rawlingsj 's branch

[2016-09-14 19:39] gabemontero commented on #153
So perhaps document that to replace plugins, vs adding them, use the `.jpi` suffix.

[2016-09-14 21:24] rawlingsj commented on #153
Perfect - thanks both! I'll give that a whirl first thing.

[2016-09-14 21:34] bparees commented on #153
Thanks Gabe!  Jenkins really needs to retire the old plugin extension.

Ben Parees | OpenShift

On Sep 14, 2016 21:39, "Gabe Montero" <notifications@github.com> wrote:

[2016-09-15 10:03] rawlingsj commented on #153
@gabemontero thanks again for the investigation and time on this!  FWIW I thought something was up as I was sure I tried the jpi extension but it was your detailed explanation above that really helped.  I wasn't committing the change before running the local s2i build using:
[code]
After renaming the extension and committing the built image did infact overwrite the kubernetes plugin.

[2016-09-15 10:04] bparees commented on #153
fyi you can use the --copy argument to force s2i to use the local directory
contents instead of the committed git repo content.

On Thu, Sep 15, 2016 at 12:03 PM, James Rawlings <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2016-09-15 10:05] rawlingsj commented on #153
@bparees ah ok,  great - thanks!

[2016-09-15 10:05] #153 closed

[2016-09-15 12:05] gabemontero commented on #153
Cool deal guys - glad it is working

On Thursday, September 15, 2016, James Rawlings <notifications@github.com>
wrote:

[2016-09-23 15:21] tnozicka opened #155 "Groovy Sandbox might still need some tunning"
I don't suppose there is a reason for this sandbox to forbid me from using basic string operations, right?

[code]

[code]

[2016-10-05 21:19] gabemontero commented on #155
I'm still researching / contemplating, but maintaining our own whitelist on top of the default one provided by the script security plugin sounds like a bad idea.  I also saw several posts from the jenkins maintainers going on about submitting pulls to the default whitelist if you think it needs updating.

Independent of that though, they also reiterate in a bunch of places that Administrators shou

[2016-10-13 20:25] akshayakhare opened #163 "Enabling Systemd service in jenkins-1-centos7 image"
I have a situation where I need to start some services within this jenkins container to make it work in our project. So i need Systemd enabled in order to do that...

As of now I get the below error when I try to run "systemctl" command within this container:

Which is expected.

Now on my research, I found that if we use the below docker file to create an image and then run a container, we should

[2016-10-13 20:43] bparees commented on #163
the systemctl commands failed when you ran "docker run" with your image?

[2016-10-13 20:54] csrwng commented on #163
You may need to specify --privileged as well... see http://developers.redhat.com/blog/2014/05/05/running-systemd-within-docker-container/

However, the issue of running systemd inside a Docker container has been discussed in many other places and has nothing to do with this repository. For example:  http://unix.stackexchange.com/questions/305340/how-to-run-systemd-services-in-arch-linux-docker-con

[2016-10-13 20:54] #163 closed

[2016-10-13 22:32] akshayakhare commented on #163
Well that's ok...
I get the error after i try running the command in the bash after this command

And I tried running a new image with --privileged, with the same results...

[2016-10-14 18:55] deanpeterson opened #164 "yum install "returned a non-zero code:47""
I try to do a build using the Dockerfile.rhel7 and it fails at the yum install. It starts out not being able to find a bunch of packages:

No package jenkins-plugin-kubernetes available.
No package jenkins-plugin-openshift-pipeline available.
No package jenkins-plugin-openshift-login available.
No package jenkins-plugin-credentials available.
No package jenkins-plugin-ace-editor available.
No pack

[2016-10-14 19:10] bparees commented on #164
@deanpeterson are you building on a rhel subscribed machine?
@tdawson would we expect these packages to be available to a normal rhel box today?

[2016-10-14 19:21] deanpeterson commented on #164
Yes, I am building on a rhel subscribed machine. I am using a build config
in openshift, but I also grabbed the command and ran it on the host. I get
the same thing.

On Fri, Oct 14, 2016 at 2:10 PM, Ben Parees <notifications@github.com>
wrote:

[2016-10-14 19:24] deanpeterson opened #165 "Error: build error: contrib/openshift: no such file or directory"
I was having trouble building the rhel7 version so I switched to the centos version.  Now I see this error:

Step 6 : COPY ./contrib/openshift /opt/openshift
928	F1014 19:21:03.004407       1 builder.go:204] Error: build error: contrib/openshift: no such file or directory

[2016-10-14 19:27] bparees commented on #165
when building on openshift?  can you share your buildconfig?

[2016-10-14 19:35] deanpeterson commented on #165
I am using this build config:
https://gist.github.com/deanpeterson/75852e0a84cc69bfd9b3546836a9b2c5

And the Dockerfile in http://openshift@stash-d00
/projects/OP/repos/jenkins.git is here:
https://github.com/openshift/jenkins/blob/master/1/Dockerfile

On Fri, Oct 14, 2016 at 2:27 PM, Ben Parees <notifications@github.com>
wrote:

[2016-10-14 19:48] bparees commented on #165
does that stash contain the contrib directory?  your git repo needs to basically contain everything here:
https://github.com/openshift/jenkins/tree/master/1
(you don't need the test dir or dockerfile.rhel7)

[2016-10-14 19:50] deanpeterson commented on #165
That was dumb of me. I'm looking at about 20 things today and some basic
knowledge of Docker slipped my mind. Thanks!

On Fri, Oct 14, 2016 at 2:48 PM, Ben Parees <notifications@github.com>
wrote:

[2016-10-14 20:19] #165 closed

[2016-10-14 20:19] deanpeterson opened #166 "Centos Permission denied error"
I even tried adding USER root in the Dockerfile and I still get:

[91m/bin/sh: /usr/local/bin/plugins.sh: Permission denied
658	F1014 20:18:14.636754       1 builder.go:204] Error: build error: The command '/bin/sh -c /usr/local/bin/plugins.sh /opt/openshift/base-plugins.txt &&     touch /opt/openshift/plugins/credentials.jpi.pinned &&     touch /opt/openshift/plugins/subversion.jpi.pinned &&

[2016-10-14 20:22] bparees commented on #166
guessing plugins.sh doesn't have +x permissions in your git repo...

[2016-10-14 21:17] tdawson commented on #164
Since Docker.rhel7 is only enabling epel, I wouldn't expect it to work.
There are two problems.
1 - Not all of the jenkins plugins are in Fedora
2 - Looks like Fedora packaging, and my packaging, have different names and have the .hpi in different locations.

 jenkins-plugin-credentials -> jenkins-credentials-plugin
/usr/lib64/jenkins/credentials.hpi -> /usr/share/jenkins/plugins/jenkins-credentia

[2016-10-15 03:33] deanpeterson commented on #166
Yes, that was it. Thanks!

[2016-10-15 03:33] #166 closed

[2016-10-18 01:44] marodriguez-llbean opened #168 "No user exists for uid XXXX when trying to run scp command"
When I try to run an scp command from my jenkins pod hosted in openshift, or any ssh-related command I got errors like these:

$ ssh
No user exists for uid 1000060000
$ id
uid=1000060000 gid=0(root) groups=0(root),1000060000
$

doing some research, the root cause is that jenkins-openshift image is using a numeric user ID and not a fully featured Named user.  This post provides great level of detai

[2016-10-18 01:49] bparees commented on #168
the jenkins image already implements nss_wrapper to assign a named user.
https://github.com/openshift/jenkins/blob/master/1/contrib/jenkins/jenkins-common.sh#L13-L29

how are you launching the image and are you sure you're using the latest version of our jenkins image (openshift/jenkins-1-centos7 or openshift/jenkins-2-centos7)?

[2016-10-18 02:15] marodriguez-llbean commented on #168
I'm using the jenkins-persistent image available on the "Add to Project" menu , in OpenShift 3.2

[2016-10-18 02:27] bparees commented on #168
i strongly suspect you do not have the latest jenkins image available in your cluster.  what does "oc get is jenkins -n openshift -o yaml" show you?

[2016-10-18 02:33] marodriguez-llbean commented on #168
this is the YAML output

apiVersion: v1
kind: ImageStream
metadata:
  annotations:
    openshift.io/image.dockerRepositoryCheck: 2016-06-22T15:09:32Z
  creationTimestamp: 2016-06-22T15:09:25Z
  generation: 2
  name: jenkins
  namespace: openshift
  resourceVersion: "367"
  selfLink: /oapi/v1/namespaces/openshift/imagestreams/jenkins
  uid: 4e8f755e-388b-11e6-a637-0050569f3e1f
spec:
  tags:
  - ann

[2016-10-18 03:19] bparees commented on #168
that appears to have been imported in june which is quite old at this point.  You should have your admin run oc import-image to update the imagestream to the newest image available.

for comparison here are the values from just importing today:

[code]

in the meantime, you can create a jenkins imagestream in your own project using the imagestream definition here:
https://github.com/openshift/orig

[2016-10-18 18:25] marodriguez-llbean commented on #168
will this image update affect the existing jenkins configuration ?  plugins? pipelines ?

[2016-10-18 18:36] bparees commented on #168
it should be a compatible update.

[2016-10-19 15:20] marodriguez-llbean commented on #168
sorry for keep asking but do I know the I will picking a compatible image ?  I'm not familiar with this process

[2016-10-19 16:29] bparees commented on #168
if you want to be sure you'll have to test the new image by creating a new imagestream for it, importing the new image, and deploying it with your config.

[2016-10-20 19:26] deanpeterson commented on #164
I'm having to switch back to the rhel version since the build is behind a proxy server that does not allow me to access yum packages for centos in anything except the standard rhel repo.  I am not sure I follow the statement above. Are the jenkins plugins this Dockerfile uses not available to a subscribed/registered RHEL 7.2 machine?  I am just looking for a stock Jenkins Dockerfile I can use to b

[2016-10-20 19:54] tdawson commented on #164
I'm sorry, I had misread the epel line.  And now that I read my comment, I can understand why it doesn't make sense.  Disregard what I said.

Most machines do not have the openshift repo enabled.  I think if you put in
--enablerepo=rhel-7-server-ose-3.3-rpms
things should work.

[2016-10-20 20:20] deanpeterson commented on #164
Great, thanks!

[2016-10-23 03:25] deanpeterson commented on #164
I was just able to get access to the rhel-7-server-ose-3.3-rpms repo, successfully enabled it and tried again. I get the exact same issue: https://gist.github.com/deanpeterson/f9ef1f99716196ad857daff4f6a1aad2

[2016-10-23 03:49] deanpeterson commented on #164
Oh, I see. I have to yum install each of those packages separately.

[2016-10-23 05:28] deanpeterson commented on #164
On my host, I am able to install all the missing packages. However, in a Docker build, I cannot get past all the errors seen here: https://gist.github.com/deanpeterson/f9ef1f99716196ad857daff4f6a1aad2

I am not able to use the subscription-manager within a container. I see the docker statements to modify the yum config to use the ose repo, yet all of the packages are still missing? How do I get my

[2016-10-23 06:09] deanpeterson commented on #164
I had to make some changes to get the Dockerfile.rhel7 to work: https://gist.github.com/deanpeterson/3e7e57f5b70fa6089481e0a9bcdba8f0

Notice I had to add
`RUN yum repolist --disablerepo=* && \
    yum-config-manager --enable rhel-server-rpms > /dev/null && \
    yum-config-manager --enable rhel-7-server-extras-rpms > /dev/null && \
    yum-config-manager --enable rhel-7-server-ose-3.3-rpms > /dev

[2016-10-23 07:07] bparees commented on #164
the jenkins-plugin-openshift-login might only be in the ose-3.4 repo and might not be public yet.

as for the rest we'll need @tdawson to weigh in again, i'm not a rhel subscription/yum repo guru, but in general when you docker build on a rhel machine, the container you're building is supposed to pick up the subscription/repos from the host machine.  So if you can yum install a package on your hos

[2016-10-25 19:40] marodriguez-llbean commented on #168
is there anything else we had to do to fix this "No user exists for uid 1000060000" issue besides updating the jenkins image?

just updated from openshift 3.2 to openshift 3.3 and just deploy a new jenkins 2.x image (IS description below) and still keep getting the same error when kick off SSH related commands .  Also, looking at the jenkins-common.sh file, I see the generate_passwd_file() functio

[2016-10-25 19:55] bparees commented on #168
are you running the commands from within a jenkins job definition, or are you rsh'ing into the pod and running commands, or some other mechanism?

[2016-10-25 19:58] bparees commented on #168
(the NSS logic only takes effect for the jenkins process' environment and jobs spawned from it).

[2016-10-25 20:57] marodriguez-llbean commented on #168
I bash into the jenkins pod and also run them from the jenkins pod terminal on the openshift web console

[2016-10-25 21:07] bparees commented on #168
yes, if you run it from within a jenkins job it should work fine.

for example if you create a quick freeform job w/ a shell step that runs "whoami" and execute it, you will see it reports "default" in the build log.

the NSS config is not setup when you ssh/rsh into the pod because it requires some env variable and other config be run which we don't have a mechanism to tie into.

[2016-11-04 22:05] gabemontero commented on #155
OK, I'm concluding my research here, with the conclusion that PRs to the official jenkinsci whitelist should be submitted for whatever additional methods are desired

Details:
1) the "administrators can run anything" claims proved false
2) as stated earlier, I was not at all enamored with the idea of maintaining our own whitelist of groovy methods, but despite that, attempts to mimic what script-s

[2016-11-04 22:05] #155 closed

[2016-11-08 13:57] jim-minter opened #189 "duplicate <remoteFs> tags"
<remoteFs> tag is duplicated at https://github.com/openshift/jenkins/blob/master/1/contrib/jenkins/kube-slave-common.sh#L119-L125 and https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh#L119-L125

This causes a "You have data stored in an older format and/or unreadable data." error at https://jenkins-demo.router.default.svc.cluster.local/manage .

[2016-11-08 13:58] jim-minter commented on #189
It's not instantly clear to me what the correct value of <remoteFs> should be - /home/jenkins doesn't exist inside the pod, and is referenced in other places, so a global search/replace may be necessary in addition to removing the duplicated XML.

[2016-11-08 15:03] bparees commented on #189
/home/jenkins is created in slave-base, so it will exist in those slave images:
https://github.com/openshift/jenkins/blob/master/slave-base/Dockerfile#L14

but i think /tmp is a better path so i'll remove the /home/jenkins references from the podtemplate definition.

[2016-11-08 19:16] #189 closed

[2016-11-28 12:51] jr00n opened #210 "kube-slave-common.sh not working with a new jenkins-slave imagestream"
With my OpenShift Origin 1.3 setup i get problems when i try make a new jenkins-slave image.
I've made a proper new imagestream with label "role=jenkins-slave" for my jenkins-slave

But then Jenkins got an corrupted config.xml because go template is not working on my system:

oc v1.3.0
kubernetes v1.3.0+52492b4
features: Basic-Auth

Server https://10.2.2.2:8443
openshift v1.3.0
kubernetes v1.3.0+5

[2016-11-28 20:19] bparees commented on #210
can you share your slave imagestream definition?

[2016-11-28 20:30] bparees commented on #210
for comparison here is my imagestream which seems to work fine:
[code]

[2016-11-28 21:00] jr00n commented on #210
Thanks for your response...I tried it again and now it's working better...strange, now there is an node defined in the plugin, but not with a proper label...do i something wrong? Image and stream are defined in  https://github.com/jr00n/jenkins-jos-os <https://github.com/jr00n/jenkins-jos-os>

Regards,

Jeroen

  "kind": "ImageStream",
  "apiVersion": "v1",
  "metadata": {
    "name": "jenkins-sla

[2016-11-28 21:07] bparees commented on #210
That looks correct, can you paste the jenkins config.xml PodTemplate entry?

[2016-11-30 09:02] jr00n commented on #210
[code]

[2016-11-30 14:16] bparees commented on #210
it looks like it has a label to me:
`<label>jenkins-slave-maven3-ibmjdk8</label>`

am i missing something?

[2016-11-30 14:24] jr00n commented on #210
Aha i've found it. My Bad....The annotation in my imagestream is:
"label": "maven-ibmjdk8"
and not
"slave-label: "maven-ibmjdk8"

Your scripts is working as designed ;)

[2016-11-30 14:54] bparees commented on #210
excellent :)

[2016-11-30 14:54] #210 closed

[2016-12-02 06:52] sherl0cks opened #212 "S2I Assemble Script Does Not Support Hidden Folder In The Configuration Directory"
This is problematic if you want to version control `.m2/settings.xml`. This can be done with some additionally configuration, but it would be nice to support this scenario out of the box.

The issue is that https://github.com/openshift/jenkins/blob/master/1/contrib/s2i/assemble#L34 is using `mv` which does not support hidden files. Does it make sense to look for `.m2` specifically? Or is there a m

[2016-12-02 15:07] bparees commented on #212
Just an oversight/unconsidered scenario.  I think the proper fix would be to include all hidden files, eg:
http://ram.kossboss.com/shoptdotglob-copy-hidden-files-secrets-of-bash-what-does-asterick-selects/

so just add a `shopt -s dotglob` call before the mv.

[2016-12-16 10:35] petenorth opened #216 "Is there an easy way to upgrade the Maven version for the maven slave?"
In the Docker file for the maven slave image it has

ENV MAVEN_VERSION=3.0.5

The maven version required by the fabric8 goals I think needs to be higher than this

https://github.com/fabric8io/fabric8-maven-plugin/issues/556

It seems a bit onerous to go the s2i route to create a new Jenkins Maven Slave image with an updated ENV variable? Is there an easier way?

I tried setting an environment var

[2016-12-16 18:06] bparees commented on #216
the environment variable doesn't control the maven version, it's informational about what maven version was installed when the image was built:

https://github.com/openshift/jenkins/blob/master/slave-maven/Dockerfile#L12

I don't actually remember if there's a good reason we even define it (though as you can see for the centos image, we use it to drive which version we download.  for the rhel imag

[2016-12-16 18:06] #216 closed

[2016-12-16 18:27] bparees commented on #212
@sherl0cks were you interested in submitting a PR for this?  (setting shopt -s dotglob)?

[2016-12-16 18:32] #168 closed

[2016-12-16 18:34] bparees commented on #145
@tnozicka are you still able to recreate this w/ the latest jenkins centos image (centos because they contains a more updated sync plugin)?  if so can you provide the output i requested above?

[2016-12-17 03:30] sherl0cks commented on #212
Yes I am, life has just been hectic the last week. I can look at it next
work, or you can go ahead and make the change. I won't be heart broken.

On Dec 16, 2016 11:27 AM, "Ben Parees" <notifications@github.com> wrote:

@sherl0cks <https://github.com/sherl0cks> were you interested in submitting
a PR for this? (setting shopt -s dotglob)?

—
You are receiving this because you were mentioned.

Reply

[2016-12-17 13:58] tnozicka commented on #145
@bparees I am on PTO right now; I can get you the data once I am back in January.

But I have found similar issue last month (https://github.com/fabric8io/openshift-jenkins-sync-plugin/issues/107)

[2016-12-17 18:02] bparees commented on #145
similar perhaps, but i don't think related.

[2016-12-19 04:48] #212 closed

[2017-01-07 18:03] mykemd opened #220 "change .metadata.annotations to .metadata.tags"
Had a small issue with autodiscovery jenkins slaves from image streams in the project.
In the template annotations is used for optional slave-label annotation.
Maybe it should be changed to tags since tags are always present in the metadata of the image stream.

[2017-01-09 03:00] bparees commented on #220
are you referring to this logic which finds imagestreams with the slave label?
https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh#L68

[2017-01-09 04:05] mrmikedoe commented on #220
Yes.
My jenkins was bombing with null error because this portion of the template  was failing

<label>{{if index .metadata.annotations \"slave-label\"}}{{index .metadata.annotations \"slave-label\"}}{{else}}${name}{{end}}</label>

It's not a big deal - just have to make sure annotations are present - or else template default logic to set label to image name won't work

[2017-01-09 04:09] bparees commented on #220
hm, well we'll definitely want to fix the template to at least not bomb. i'll look into it, thanks for the report!

[2017-01-09 17:46] bparees commented on #146
@tnozicka is this still an issue for you?

[2017-01-09 17:46] bparees commented on #145
@tnozicka bump

[2017-01-09 17:49] bparees opened #221 "Add ruby/python/perl to jenkins master+slave images"
See discussion here:
https://github.com/openshift/jenkins/pull/219#issuecomment-270394704

biggest challenge will be sorting out scl_enablement for the nodejs image that's build on top of the slave base image.

[2017-01-09 17:49] bparees commented on #221
@AdamSaleh fyi

[2017-01-11 17:57] tnozicka commented on #145
sorry, I have been really busy lately. Just letting you know that it is still in my inbox and I should get to testing it in few days time

[2017-01-12 21:08] bparees commented on #220
i'm not able to recreate this, i defined an imagestream with just the role=slave-label label:

[code]

and my jenkins config was populated correctly:
[code]

can you provide any additional details about how to recreate this, or what version of the jenkins image you are were using?

[2017-01-12 22:57] mykemd commented on #220
Had this problem with Openshift Container Platform 3.3 with Jenkins Ephemeral image inherited from openshift/jenkins-2-centos7 on dockerhub

this is my template i use to create slaves in the namespace

[code]

If i don't use - the template was bombing because i didn't have "annotations" section in my image stream definition since the template checks if annotation "slave-label" is optionally there

[2017-01-13 16:06] #220 closed

[2017-01-23 15:53] bparees commented on #164
@tdawson any advice you can offer here?

[2017-01-23 15:54] bparees commented on #145
@tnozicka bump

[2017-01-23 21:26] tdawson commented on #164
@bparees is correct.  Those rpm's are only in the ose-3.4 repo.  So you need to change rhel-7-server-ose-3.3-rpms to rhel-7-server-ose-3.4-rpms

[2017-01-23 21:27] tdawson commented on #164
We haven't every backfilled the jenkins-plugin rpms to older ose releases.  Is this something that needs to be done?

[2017-01-23 21:35] bparees commented on #164
@tdawson no i don't think so.

[2017-01-24 15:34] tnozicka commented on #146
@bparees it seems to be working with `v1.5.0-alpha.2+e4b43ee-dirty` so I am closing it as "no longer an issue"

[2017-01-24 15:34] #146 closed

[2017-01-24 16:20] tnozicka commented on #145
@bparees my apologies for taking so long.

I have tested it and with new jenkins images and `v1.5.0-alpha.2+e4b43ee-dirty` it does not happen anymore.

[2017-01-24 16:20] #145 closed

[2017-01-26 19:33] bparees commented on #221
moved to trello:
https://trello.com/c/Ni9NIiIH

[2017-01-26 19:33] #221 closed

[2017-03-03 16:36] rawlingsj opened #255 "When upgrading plugins in a Jenkins image plugins are not overwritten"
If we are using persistent storage and mounting a PV on $JENKINS_HOME then the  `$JENKINS_HOME/plugins/*` survive pod restart.  If however we update the Jenkins image which includes a plugin version update when jenkins starts the plugin on the PV is used and not the updated version.

This comment here suggests this behaviour is intentional https://github.com/openshift/jenkins/blob/master/2/contrib

[2017-03-03 18:36] bparees commented on #255
I don't think that's the issue.  The way the jenkins image works, when you build the image we populate /opt/openshift with all your plugins, jenkins config, etc.

Then when the image starts, we check if /var/lib/jenkins is populated.  If it's not, we move the content from /opt/openshift over to /var/lib/jenkins.  If it *is* populated, then we don't do anything.

In other words, once you populate /

[2017-03-07 13:37] rawlingsj opened #256 "can the jenkins2 image be tagged?"
We're using the jenkins2 image and the s2i tool to layer on top plugins.
[code]
Is it possible to tag the jenkins 2 images please?  I think just hit an issue where there was already an old :latest tag on our CD infra and that image was used rather than the latest in dockerhub.
 https://hub.docker.com/r/openshift/jenkins-2-centos7/tags/

[2017-03-07 13:46] rawlingsj commented on #256
Our pipelines now pull the latest image to make sure so we avoid our issue but it might help others to use a tagged version.

[2017-03-08 00:54] bparees commented on #256
i'm not sure how us tagging the images would help you, if you continue to reference "latest" you're still going to have this problem, and if you pick a different tag you're never going to get a newer image until you see there is a new tag available and reference it.

if you want to be using the latest images, you can always pass `--pull-policy=always`, and of course every image has a unique sha yo

[2017-03-08 08:55] rawlingsj commented on #256
I want to use a tagged version and not latest to ensure our releases are based on known versions.

Yeah either or TBH, we use both strategies on our own images.  For example this is the jenkins-openshift image that is created by our release pipelines https://hub.docker.com/r/fabric8/jenkins-openshift/tags/,

If just in the short term each commit used the short git sha that would be great, until a

[2017-03-09 04:07] bparees commented on #256
@rawlingsj ok, we'll see about at least pushing the commit tags for now.

[2017-03-13 10:43] rawlingsj commented on #255
Ok thanks @bparees I'll have a go at that.

[2017-03-22 15:28] megnere opened #260 "Can't access jenkins API with OPENSHIFT_ENABLE_OAUTH=true"
Hi

The authentication through the Openshift Login Plugin (with OPENSHIFT_ENABLE_OAUTH=true) works fine with a browser, but we can't access to jenkins API directly. Here is an example :
 _**curl -X GET -H "Authorization: Bearer $(our token)" https://${our_jenkins_url}/api/json?pretty=true -k -v**

With this requests, we always get this message :

**Authentication required

You are authenticated as

[2017-03-22 16:14] gabemontero commented on #260
3 things:
1) what version of the plugin is being used
2) can you supply the jenkins logs
3) if i recall correctly there was a issue with curl -k and jenkins; try
with http:// instead

Thanks

On Wed, Mar 22, 2017 at 11:29 AM Ben Parees <notifications@github.com>
wrote:

[2017-03-22 18:03] megnere commented on #260
1) We are using OpenShift Login Plugin **0.1**
2) There are no logs related to authentication
3) with http://, i am redirected to https:// url.

[2017-03-22 18:44] gabemontero commented on #260
You minimally need 0.10 to get the bearer token feature.  Assuming you are using the openshift jenkins image, you must be using an older RHEL one.

Either manually upgrade the plugin from the jenkins download center at https://updates.jenkins-ci.org/download/plugins/openshift-login (the latest is 0.11), find the newer rhel image (I believe the 3.5 jenkins rhel image should have this), or try the l

[2017-03-22 18:44] #260 closed

[2017-03-24 09:32] gianluca-sabena opened #262 "Keep slave build cache"
Is it possible to keep dependent libraries and intermediate compilated files between multiple run of a build job?

I'm working on a sbt slave to compile a scala project. Sbt is really slow on first dependency resolution, so I need to keep sbt data cace between multiple run.

My first idea is to enable persitent storage on slave pods. A second approach is to zip the cache and store on the master wi

[2017-03-24 14:24] bparees commented on #262
persistent storage on the slaves probably won't work since a new slave pod is created every time the job is run so i'm not sure if you how you can ensure the same volume gets reused for every slave pod (but i'm not an expert in the storage aspects of openshift, so it might be possible)

running the job directly on the master would be one option, or as you say zipping the cache and storing it on th

[2017-03-24 14:24] #262 closed

[2017-03-24 15:18] gianluca-sabena commented on #262
I have a use case that requires to scale builds, and so to add cache support to slave is very important. I suggest to keep this issue open and tag it as "new feature/improvements"

If I understood correctly, jenkins uses kubernetes plugin that has volume support https://github.com/jenkinsci/kubernetes-plugin#pod-and-container-template-configuration

My idea is:
- modify kubernates plugin and add p

[2017-03-24 16:55] megnere commented on #260
Thank you,
The Bearer works fine with the 0.11 version.
We are using the latest Jenkins image in the Red Hat repository registry.access.redhat.com/openshift3/jenkins-2-rhel7. The Jenkins image embeds the 0.9 version of the plugin

[2017-03-31 13:58] gianluca-sabena commented on #262
Example of custom jenkins slave with sbt and persistent storage https://github.com/gianluca-sabena/orchestration-playground/blob/master/docs/openshift.md#jenkins

[2017-04-12 14:51] patrickw276 opened #275 "Slaves offline"
I'm trying to run a Jenkins pipeline in enterprise OCP and can't get the slave images to run. I created a simple slave image similar to the nodejs example:

[code]

After building the image and pushing it to an image stream, I configured the Jenkins Kubernetes plugin to use this image, called 'python35'.

I've got a pipeline buildconfig that uses this jenkinsfile:
[code]

When I run the pipeline,

[2017-04-12 16:09] bparees commented on #275
do an oc describe on the slave pod.

i suspect you'll see it failed to pull the image... how did you reference the image name in the slave pod template configuration?  it should be something like "internalregistryip/yournamespace/python35" because it has to be a pullable reference.

[2017-04-12 16:47] patrickw276 commented on #275
Thanks for the quick response @bparees. The image pull doesn't seem to be the problem. I am using the value under "DOCKER REPO" from `oc get is jenkins-slave-python35` as the Docker image kubernetes config, which lines up with your example string. When I run `oc describe pod` it says the pod is terminated due to an error with exit code 139. The description shows events include "Pulled", "Created",

[2017-04-12 16:53] bparees commented on #275
can you get the logs from the pod?

[2017-04-12 17:27] patrickw276 commented on #275
The pods don't log anything, they immediately terminate with no information. Looking at the "run-jnlp-client" script, I'm wondering if no arguments are being provided when the pod runs, making the script execute `exec "$@"` which just returns immediately. Is this possible? How is the script supposed to get it's arguments passed?

[2017-04-12 18:25] bparees commented on #275
how did you setup your slave pod template?  did you mirror the existing examples?

https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh#L95

[2017-04-13 16:40] patrickw276 commented on #275
I'm just using the default generated pod template:

[code]

I see that it looks pretty different from what's generated by the script you linked. I'm wondering if theres a version conflict somewhere.

[2017-04-13 16:59] bparees commented on #275
hm.  are you using our latest jenkins master image?  (centos/jenkins-2-centos7)?  you may need to pull a new version.

[2017-04-13 17:00] bparees commented on #275
actually I guess i should ask, "generated by what"?

if you just went into the jenkins config page and defined the pod template, you definitely need to fill in additional information.

if you used the slave-label on an imagestream technique to get the pod template defined, it should be correct as long as your jenkins image is current.

[2017-04-13 20:38] patrickw276 commented on #275
I'm using the image stream slave-label technique along with the latest jenkins image from the Red Hat Container Catalog (registry.access.redhat.com/openshift3/jenkins-2-rhel7).

[2017-04-14 03:33] bparees commented on #275
no i think that's just because the script i referenced is for a newer version of the k8s plugin that the image now uses.  Since you're on an older image, your config is also (correctly) different.

are you able to successfully run jobs using the default maven or nodejs slaves?  trying to figure out if this is a config issue w/ your master, or w/ your slave.

[2017-04-17 20:39] patrickw276 commented on #275
I can successfully run jobs using the default maven slave so I guess that points to an issue with my custom slave pod.

[2017-04-17 21:02] bparees commented on #275
yes, although just looking at your dockerfile certainly nothing stands out to me as obviously wrong.

139 is effectively a segfault for the JVM which is particularly odd.

[2017-04-18 17:02] patrickw276 commented on #275
Figured it out. There were a couple of things wrong:
1. My contrib/bin/scl_enable script was wrong. I accidentally had `source scl_enable enable rh-python35` vs `source scl_source enable rh-python35`.
2. Our environment has a proxy set up for pulling code from our git repository. The environment variables `http_proxy`, `https_proxy`, `HTTP_PROXY`, and `HTTPS_PROXY` were automatically being set in

[2017-04-18 17:02] #275 closed

[2017-04-18 17:10] bparees commented on #275
@patrickw276 awesome, glad to hear it and thanks for reporting back what the issue was!

[2017-04-21 15:47] rawlingsj commented on #255
I finally got around to this https://github.com/fabric8io/jenkins-openshift-base/commit/fa9ce3e9bb75d9a34e0e33dadc97f8e5619b1ab7 - thanks Ben!

[2017-04-21 15:47] #255 closed

[2017-04-21 15:48] rawlingsj commented on #256
closing as we have a fork which is tagged + pushed to dockerhub https://hub.docker.com/r/fabric8/jenkins-openshift-base/tags/

[2017-04-21 15:48] #256 closed

[2017-04-24 08:25] ropsahl opened #279 "Missing UTF-8 support, environment variable LANG not set"
Environment variable LANG not set, leading to missing UTF-8 support and Jenkins unable to handle non ASCII characters.
Workaround To get UTF-8 support add following to Dockerfile
ENV LANG="en_US.UTF-8"

[2017-04-24 14:25] bparees commented on #279
You can also just set that env variable on the pod/container you're running, I would assume?

[2017-04-24 14:25] bparees commented on #279
In general we don't explicitly set a LANG on any of our images.

[2017-04-25 05:51] ropsahl commented on #279
I can make my own jenkins, with a dockerfile like:
[code]
I would prefer using using the solution right out of the box, and I expect more users not to familiar with such configurations ending up spending much time chasing down the problem and finding a solution.

In the container UTF-8 is already set for Jenkins, but the shell where it is running is not. The effect is that I can make a new project

[2017-04-25 13:20] bparees commented on #279
Thanks for the additional background.  I've got an open PR to add the variable:
https://github.com/openshift/jenkins/issues/280

[2017-04-25 13:20] #279 closed

[2017-04-26 15:36] cmoulliard opened #283 "Add podTemplate Volume to allow to persist .m2/repository for maven build"
The existing template which is used to generate the podTemplate from an imagestream

[code]

doesn't allow to mount a [volume](https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh#L86) to by example persist the .m2/repository used by the pod to build a maven project

Proposition is to add a PersistentVolumeClaim using as parameter the claimName and mounthPath

[c

[2017-04-26 15:53] bparees commented on #283
I don't think we want to make that change since it would require users have a free PV available to claim.

For now users are free to modify the slave configuration in their jenkins server after standing it up (or providing their own configuration via an s2i build of a new jenkins image, and run that jenkins image instead).

We are also working on a new feature this sprint to allow users to provide

[2017-04-26 15:54] bparees commented on #283
Also this change would require the user define a PVC w/ that name in their project, right?  that is also likely to trip people up.

[2017-04-26 16:12] cmoulliard commented on #283
This is reasonable

[2017-04-26 16:20] cmoulliard commented on #283
I agree with you that this approach will bring more complexity.

[2017-04-26 16:58] bparees commented on #283
Thanks, closing this issue, the feature for better configuration of slaves is being tracked here:
https://trello.com/c/hS9lzo1v

[2017-04-26 16:58] #283 closed

[2017-05-02 20:56] YannMoisan opened #288 "What is the recommended way to manage securely jenkins credentials"
I'd like to avoid manual operation, in this case creating jenkins credentials by using the jenkins UI after the deployment.

I read in the documentation that we can put credentials.xml into source control. But it doesn't seem very secure …

What is the recommended way to manage jenkins credentials, in a secure way ?

Is there a way to synchronize openshift secret with jenkins credentials ?

[2017-05-02 21:35] gabemontero commented on #288
@YannMoisan - there is some ongoing work as we type in this space.

1) a prototype where the openshift-sync plugin maps secrets to jenkins credentials:  https://github.com/openshift/jenkins-sync-plugin/issues/131

2) https://github.com/openshift/jenkins-sync-plugin/issues/131#issuecomment-297501367 notes a longer term solution outside of scope of the sync plugin.  If there is a trello card for it,

[2017-05-08 10:05] cmoulliard opened #290 "Pass ENV Var to the podTemplate"
Since OCP 3.6 we can pass [ENV vars](https://docs.openshift.org/latest/dev_guide/builds/build_strategies.html#jenkins-pipeline-strategy-environment) to the BuildConfig/Pipeline but I don't see within the Jenkins 2 Docker image that the maven PodTemplate used to configure the pod where the build will take place as described within a groovy pipeline script will be able to reuse such ENV vars.

Is th

[2017-05-08 12:53] bparees commented on #290
The env vars should be available to the pipeline(executing within the slave pod) w/o having to configure the env vars in the pod template explicitly...  I would expect Jenkins to ensure the env vars being provided to the pipeline execution, are provided to it regardless of where the pipeline is executing.

Have you actually seen an issue?  Can you describe in more detail what you are doing (what v

[2017-05-08 13:20] cmoulliard commented on #290
Here is the scenario that we are following.

- Every new project created within an openshift namespace will get a Jenkins Server using the jenkins ephemeral or persistent template available in Openshift
- A Buildconfig object containing a JenkinsPipelineStrategy will be created using this [template](https://github.com/cmoulliard/launchpad-missioncontrol/blob/master/services/openshift-service-impl/

[2017-05-08 13:56] cmoulliard commented on #290
The only that I have been able to find for the moment to resolve this problem is to :

1) Change the DeploymentConfig file created from the Jenkins Template to pass the MAVEN_MIRROR_URL env var

[code]
2) Update the PodTemplate `launch-maven` to pass an additional ENV var to be used by Kubernetes Jenkins Plugin when it will create ou pod responsible to do the build

<img width="1515" alt="screensh

[2017-05-08 20:50] gabemontero commented on #290
I've confirmed things are woking as we would hope an appropriate 3.6 version of origin and the latest openshift/jenkins-2-centos7 image (though any openshift jenkins image with v0.1.11 of the sync plugin should suffice) for adding env vars to pipeline build strategy builds, where the env vars will be propagated to any jenkins slaves referenced by the jenkinsfile.

Here is a simple build config:

[

[2017-05-09 14:05] cmoulliard commented on #290
I have been able to setup a project where the ENV var is defined within the Buildconfig object and passed finally to the jenkins slave pod when the Kubernetes Jenkins Plugin will create the maven pod using this template definition generated when the jenkins server is [created](https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh#L78-L108)

Here is the scenario te

[2017-05-09 14:07] gabemontero commented on #290
OK, if I read @cmoulliard update correctly, I think we are good here.  Closing out.

[2017-05-09 14:14] cmoulliard commented on #283
Is there something already [available](https://trello.com/c/hS9lzo1v) that we could use as for the moment we are stuck to fork the jenkins 2 centos image and override the PodTemplate to pass the volume definition

[code]

As, since OCP 1.6 we can pass ENV vars from the BuildConfig, we could override the existing [script](https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave

[2017-05-09 14:15] bparees commented on #290
hm.  Sounds to me like @cmoulliard still manually set the env key/value on the slave pod template, in addition to setting it on the buildconfig:

[code]

That step should not be necessary (and is the pain point that I think @cmoulliard was concerned with in the first place).

@cmoulliard can you confirm whether you actually need to do that?

[2017-05-09 14:18] cmoulliard commented on #290
There is no such default value for the moment define within the docker image but a test checking if there is a MAVEN_MIRROR_URL [var](https://github.com/cmoulliard/jenkins/blob/master/slave-maven/contrib/bin/configure-slave). A default value is not required

[code]

[2017-05-09 14:20] cmoulliard commented on #290
Yes. This manuel step is still required.

[2017-05-09 14:21] gabemontero commented on #290
@cmoulliard  posted in comment https://github.com/openshift/jenkins/issues/290#issuecomment-300175060this link:  https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh#L78-L108

where there is not env var set in the pod template.  I was working off that.

[2017-05-09 14:22] gabemontero commented on #290
And his build config *does* have the env var set.

[2017-05-09 14:22] cmoulliard commented on #290
Ideally, the shell script should be updated to include a test and add <envVars> or <volumes> section

Here is the example that I'm using in my forked project to use the env var (code to check is not yet there like also for the volumes)

[code]

[2017-05-09 14:24] bparees commented on #283
i'm not sure i'd call that a fork, it's more like extending the existing image w/ a new layer that contains your customized slave-config script (or just provide your hardcoded jenkins config files w/ the right slave definitions in your customized image).

another option would be to mount your config into the jenkins pod from a PV.

But otherwise no, there's nothing at the moment that you can do to

[2017-05-09 14:29] gabemontero commented on #290
OK, I am going to circle back to my request for clarification in https://github.com/openshift/jenkins/issues/290#issuecomment-299986922

And try to restate the first part of the question more directly:

@cmoulliard - are you setting the `MAVEN_MIRROR_URL` env var in *BOTH* the PodTemplate env var section and the BuildConfig env var section, and then executing a job with both in place?

I've seen y

[2017-05-09 14:33] cmoulliard commented on #290
Yes. This is required as the env var defined within the buildconfig will be passed to the jenkins pod created and subsequently used by the shell script - kube-slave-common.sh

[2017-05-09 14:40] gabemontero commented on #290
OK, once I am unblocked by https://github.com/openshift/jenkins-sync-plugin/issues/132, I will construct such a flow and report back.

[2017-05-09 16:48] cmoulliard commented on #290
Hmm. The problem is more complex as we we can imagine as the shell script will use the content of the var "template" to fill the variables from the ImageStream discovered within the namespace.

[code]

So, if the imagestream doesn't contain the vars that we want to change, I don't see how the template processed by go will be able to check if an env var exist to mount a volume, set the MAVEN_MIRROR

[2017-05-09 17:44] bparees commented on #290
that's not how that works, unless your scenario is much more complicated than i'm envisioning.

Your goal, as i understand it, is to make the MAVEN_MIRROR_URL value available to your pipeline logic when it is executing.  As it happens, you're executing that logic on a slave pod (vs on the jenkins master).

here's a test i just ran using a pipeline buildconfig that uses a maven slave pod and echoes

[2017-05-09 17:45] bparees commented on #290
(sorry, I see I used the nodejs slave pod, not the maven one, but that is immaterial as far as the question at hand goes).

[2017-05-09 17:54] gabemontero commented on #290
On Tue, May 9, 2017 at 1:45 PM Ben Parees <notifications@github.com> wrote:

@bparees what you did was exactly like my origina attempt, but I did use a
maven slave

My only concern in all this is what happens when env vars are defined in
both the bc and pod template

[2017-05-09 17:55] gabemontero commented on #290
On Tue, May 9, 2017 at 1:53 PM Gabe Montero <gmontero@redhat.com> wrote:

where my current testing is blocked by the new NPE i found

[2017-05-09 18:30] bparees commented on #290
which is a fair question and we should learn the answer, but i think for @cmoulliard it should not matter (he should not need to be defining the variable in the pod template).

[2017-05-09 18:48] cmoulliard commented on #290
The scenario is more complex.

- MAVEN_MIRROR_URL
The ENV var "MAVEN_MIRROR_URL" passed through the BuildConfig Object is not used within the pipeline but instead used by this [script](https://github.com/openshift/jenkins/blob/master/slave-maven/contrib/bin/configure-slave), part of the Docker jenkins image to configure the settings.xml file (`<mirror>` xml tag) before it is copied within the /hom

[2017-05-09 18:59] bparees commented on #290
so you want to actually dynamically define the parameters of a slave pod for a given buildconfig.

i think the net is that the "use configmaps to define slave pods" feature we're working on will address this for you, though you'll need to define the configmap along with the buildconfig.  As long as you aren't anticipating changing the env variables each time you trigger a new build for your buildc

[2017-05-10 05:20] cmoulliard commented on #290
As this function "$(generate_kubernetes_config" is [called](https://github.com/cmoulliard/jenkins/blob/master/2/contrib/s2i/run#L98) when the pod/container is created for the jenkins server and not at all when a jenkins slave pod is created, we can't pass such parameters using the BuildConfig object. That makes no sense.

This is why I'm thinking now that we should define them using (as you propos

[2017-05-10 14:10] gabemontero commented on #290
ok then, closing this out in lieu of the config map feature work ... per the discussion progression in this issue and a sidebar between @bparees and I, I'll track down the orthogonal issue of order of precedence between env vars in the build config vs. pod template

[2017-05-10 14:10] #290 closed

[2017-05-10 14:11] bparees commented on #290
The architecture was not intended to support dynamic configuration of jenkins, the idea was that you configure jenkins initially (either by providing your own config, or by letting the system generate the config from its template configuration), and after that you manage the jenkins configuration via standard jenkins mechanisms.  That is why all the jenkins configuration logic only runs once (the

[2017-05-10 14:52] cmoulliard commented on #290
I like the approach proposed here. Subscribed to the trello card and voted +1 @bparees

[2017-05-12 20:20] bparees commented on #164
@deanpeterson guessing you've long since given up or found another way to get this built, i'm closing this but feel free to comment/reopen if it's still something we can help you with.

[2017-05-12 20:20] #164 closed

[2017-05-13 16:16] gabemontero opened #294 "flake on publishing test success"
You'll see this in the merge output:

[code]

[2017-05-13 16:40] bparees commented on #294
i've added a kind/test-flake label to this repo (And this issue) since we'll probably need it in the future, but this particular issue probably belongs on the vagrant-openshift repo since it's not specific to the jenkins repo.  (and I'm assuming that rosie is smart enough to accept a test-flake issue from another repo, but @stevekuznetsov would have to confirm that).  (and of course the vagrant op

[2017-05-13 16:43] gabemontero commented on #294
On Sat, May 13, 2017 at 12:41 PM Ben Parees <notifications@github.com>
wrote:

agreed / thanks

[2017-05-14 02:58] stevekuznetsov commented on #294
She is -- I had assumed the majority of flakes you'd hit would be in Origin, as is the case with other repos, but the tests are divorced from the rest of the product enough that this is probably not the case. I've changed the Rosie config to expect `kind/test-flake` tags on issues in this repo, instead.

[2017-05-14 14:20] gabemontero commented on #294
Thanks for the confirm @stevekuznetsov

Given what you are uncovering/fixing in the actual pull I am going to close this one out.

[2017-05-14 14:20] #294 closed

[2017-05-14 15:38] bparees commented on #294
can we just make her accept a kind/test-flake tag on any repo?

[2017-05-14 16:55] stevekuznetsov commented on #294
@bparees today the code is written to accept only from one repo. If we end up needing that change I can look into it. Alternatively, [this](https://github.com/openshift/test-pull-requests/blob/master/test_pull_requests#L1369-L1436) is the section of code that drives that logic. We should be OK to just change the repository field to be a list, however "fancy" links that GitHub interprets and hyperl

[2017-05-23 02:55] donnydavis opened #296 "MaxMetaspaceSize is too small and not variable"
MaxMetaspaceSize value is hardcoded, and this value should be variable.

When running a pipeline build against openshift I receive out of memory errors, as does this issue filed against fabric8

https://github.com/fabric8io/fabric8-ui/issues/1279

Here are the references values
https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L65
https://github.com/openshift/jenkins/blob/master/s

[2017-05-23 02:57] bparees commented on #296
it's not hardcoded, you can override JAVA_GC_OPTS to set any value you want.

[2017-05-23 03:06] donnydavis commented on #296
Copy that, thanks @bparees

[2017-05-23 03:06] #296 closed

[2017-05-31 01:28] andrewklau opened #302 "Frequently hitting oom"
After updating, my Jenkins server is frequently hitting OOM and crashing. It seems to be Java reporting the OOM rather then Docker enforcing the quota. Metrics are reporting it only maxes out at 1.3GB but it's allocated 2GB.

Perhaps this change may be the culprit https://github.com/openshift/jenkins/commit/8afc4f8d62aaafcd5fc407c30c4ebe4dcb3d869b

When using an earlier version, before importing t

[2017-05-31 01:38] bparees commented on #302
that's what, container usage?

we did tune the system to be more conservative in terms of heap size, in order to reserve more memory for native usage.  This is because a JVM that runs out of heap is easy to debug, a system that crashes and burns because it tried to allocate native memory that wasn't available is hard to debug.

If you're confident your use case can run successfully with more heap

[2017-05-31 02:13] andrewklau commented on #302
container usage was at 1.3GB but it's max (resource limit) was 2GB. So it was getting killed due to the failed healthcheck rather than the Docker container oom

Thanks, `CONTAINER_HEAP_PERCENT` was what I was looking for.

[2017-05-31 03:00] bparees commented on #302
great.

[2017-05-31 03:00] #302 closed

[2017-05-31 12:03] iocanel opened #304 "Provide tagged version of openshift/jenkins images"
Currently the openshift/jenkins images just use the `latest` tag.
For the obvious reasons, this can be problematic.

For example in the sysndesis propject we are using s2i with the `openshift/jenkins-2-centos7:latest` image. Every now and then a new latest tag comes out, using different plugin versions and completely breaking our ci.

Please provide actual tags, for us to use :-)

[2017-05-31 13:36] gabemontero commented on #304
yep, per recent discussions between @bparees , @jupierce , @tdawson ( with his role transitioned to @smunilla ) and myself we are going to start doing this with v3.6 of openshift (which GA's in July of this year).

[2017-05-31 13:40] iocanel commented on #304
Awesome! Thanks!

[2017-05-31 20:44] bparees commented on #304
well, technically all we signed up to do was create branches of the repo to mark releases, not push images with a particular tag.

I think when @rawlingsj asked for this he ultimately decided to just use an image sha instead of latest, is not that an option for you?

[2017-06-06 17:44] bparees opened #307 "CI testing doesn't rebase/merge PR on latest master"
As seen here:
https://github.com/openshift/jenkins/pull/306#issuecomment-306245483

our CI system just tests the PR branch, it doesn't merge the PR branch into master, meaning PRs are not being tested properly (could cause a breakage once merged, and also don't get the latest fixes included when their PR is tested).

it's been suggested that we use `git fetch origin refs/pull/306/merge:my_new_bran

[2017-06-06 20:03] bparees commented on #307
suggestion from @dobbymoodge:

[code]

[2017-06-15 07:05] steven166 opened #311 "Jenkins runs occasions out of memory"
We use this Docker image to run Jenkins in our Openshift cluster. We use the BitBucket branch source plugin to build all our microservices (40+) using Jenkinsfiles. When a lot of these builds happens at the same time, the Jenkins master throws a lot of **Out Of Memory Exceptions: Metaspace** before the slave node started.

How can we fine-tune the memory settings so this doesn't happen anymore? In

[2017-06-15 13:07] bparees commented on #311
Pass your own JAVA_GC_OPTS env variable which will supercede the 100m metadata value being configured here:
https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L65

[2017-06-15 13:35] steven166 commented on #311
Thanks, I'll try that

[2017-06-15 14:25] bparees commented on #311
closing, but let us know if you are still having issues after trying it.

[2017-06-15 14:25] #311 closed

[2017-06-16 13:45] ferozeb opened #313 "Dockerfile registry path needs updating"
Its seems that the openshift/jenkins-slave-base-rhel7 needs to be openshift3/jenkins-slave-base-rhel7.

And it seem the follow will need to be removed from the Dockerfile,

    rpm -e java-1.7.0-openjdk --nodeps || true && \
    rpm -e java-1.7.0-openjdk-devel --nodeps || true && \
    rpm -e java-1.7.0-openjdk-headless --nodeps || true && \

[2017-06-16 13:54] bparees commented on #313
this is related to how we build the image internally on our CI system.  We can see about aligning the internal and external image names, but for now that's why it is this way.

those are there because the maven package is incorrectly dragging in java1.7 as a dependency, so we need to remove it (the || true is so the remove doesn't start causing failures when the maven package is fixed).  Are you s

[2017-06-21 11:56] gabemontero opened #316 "bump blueocean to 1.1 when appropriate"

[2017-06-21 12:05] gabemontero opened #317 "explore autotuning metaspace"
stemmed from https://github.com/openshift/jenkins/issues/311

quote from @bparees:  `the right answer is probably "min of 100m or X% of total memory, whichever is larger" (unless the user explicitly overrides it, of course).`

[2017-06-26 09:24] wei-lee commented on #304
any update on this? We are having the same issue. @bparees I think SHA value is an option, but it's hard to track which version the SHA value is pointed to.  Having  version tags will make it easier to know which version if being used.

[2017-06-26 15:30] bparees commented on #304
when i cut the 3.6 branch of this repo (which i plan to do today), I will tag the docker hub image as 3.6.

[2017-06-26 15:44] wei-lee commented on #304
@bparees good to know. Thanks.

[2017-06-27 02:28] bparees commented on #304
tag 3.6.0 has been created: https://hub.docker.com/r/openshift/jenkins-2-centos7/tags/

[2017-06-27 02:28] #304 closed

[2017-06-29 18:20] tavogel opened #325 "The `oc` cli fails to apply HorizontalPodAutoscalers"
For the past week we've been experiencing issues when applying a HorizontalPodAutoscaler via YAML to the cluster, but only on our newly built Jenkins servers:
[code]

This has been hard to tackle, because we are reapplying the same YAML to the cluster for every deployment in our CI pipelines. The only workaround has been to comment out the YAML and instead use `oc autoscale` in our Jenkinsfile (wh

[2017-06-29 18:26] bparees commented on #325
please open this as an issue against openshift/origin, it sounds like a compatibility problem in the 3.6 oc client when used against a 3.5 server.

[2017-06-29 18:26] #325 closed

[2017-06-29 18:27] bparees commented on #325
@deads2k fyi/heads up.

[2017-06-29 18:47] tavogel commented on #325
Voila: https://github.com/openshift/origin/issues/14965

[2017-07-06 20:39] #313 closed

[2017-07-06 21:23] bparees commented on #307
jenkins test job has been updated to do a proper master merge + test now.

[2017-07-06 21:23] #307 closed

[2017-07-17 14:09] gabemontero opened #334 "bump plugins per security advisory in 3.6.1"
See https://jenkins.io/blog/2017/07/10/security-advisory/

[2017-07-20 12:55] scoheb opened #335 "Allow more fine-grained control for adding/updating plugins using s2i method when using Jenkins PV"
Scenario: Provide more control to update plugins on already configured Jenkins instance
Given a Jenkins instance created using the s2i method
And the s2i config contains a plugins.txt file
And the instance is configured using a PV
And the instance has been initially deployed to create JENKINS_HOME on PV
When the image is updated to include a update to plugins.txt to add/update a plugin
And the s2i

[2017-07-20 13:23] bparees commented on #335
@gabemontero we should look at everything we do/do not copy when the PV is already "configured" and make each type of content (plugins, config, anything else?) individually configurable as "overwrite existing" or not.

[2017-07-20 13:47] gabemontero commented on #335
@bparees shall we create a trello card for this as well, or do you want to handle outside of sprint planning?

[2017-07-20 20:12] bparees commented on #335
@gabemontero i don't think we need a card for this, it should be pretty trivial.

[2017-07-31 14:07] scoheb opened #339 "Rebuilt Jenkins master image (2.46.3 -> 2.60.1) causes fatal errors during startup with JENKINS_HOME persistent volume"
Here is a snapshot of the permissions in the above directory.

![lib-jenkins](https://user-images.githubusercontent.com/3596711/28781298-9ec08a26-75d7-11e7-9957-92c6db770721.png)
![lib2](https://user-images.githubusercontent.com/3596711/28781419-fc51adbe-75d7-11e7-9a65-e71f618498d0.png)

In addition, after rollback (using previous version) these errors are seen:

I am wondering a **complete** _fix

[2017-07-31 15:45] scoheb commented on #339
I believe this is a false alarm. I had altered my restricted SCC and this caused the fatal errors. Reverting to the default restricted SCC permitted my container to start. Sorry for the noise.

[2017-07-31 15:45] #339 closed

[2017-08-01 13:48] gabemontero opened #342 "investigate changes to k8s plugin 0.12 and use of template namespaces"
found by @scoheb, see https://github.com/jenkinsci/kubernetes-plugin/pull/179

[2017-08-01 13:49] gabemontero commented on #342
Possibly can work around with the sync plugins pod template support

[2017-08-01 14:21] scoheb commented on #342
via `ConfigMapWatcher.podTemplatesFromConfigMap()` ?

[2017-08-01 14:27] gabemontero commented on #342
On Tue, Aug 1, 2017 at 10:21 AM, Scott Hebert <notifications@github.com>
wrote:

Yep, along with the image stream watcher we have.

[2017-08-01 14:29] scoheb commented on #342
I think it will just work by changing to use 0.12 of the kubernetes plugin...namespace will be pre-filled when you receive the configmap and xstream should just handle it.

[2017-08-03 14:52] gabemontero commented on #335
As of this comment, an inventory of various config related activites:

1) Dockerfile / docker build
    - oc binary is copied to /usr/local/bin
    - base-plugins.txt and password-encoder.jar are copied to /opt/openshift
    - config.xml.tpl, credentials.xml.tpl, the openshift sample job config, disabling of SSHD via its xml config file,  and the admin user config (for when oauth is disabled) are

[2017-08-03 15:42] gabemontero commented on #335
@bparees for config related overrides, do we just allow the user to specify the new contents in an env var? if so, does that include the config.xml/credentials.xml and their template based approach wrt substituting other env vars or items mounted into the pod?

[2017-08-03 15:58] gabemontero commented on #335
Or perhaps just duplicate this existing pattern:

[code]

[2017-08-03 16:59] gabemontero commented on #335
Yeah I actually like that pattern ... no additional env vars required, simply recreate the paths/files cleared out after initially configuring ... will submit PR in a bit

[2017-08-03 18:14] bparees commented on #335
@gabemontero first off, the stuff being copied in the Dockerfile is/are irrelevant.

The issue here is a user does the following:

1) user starts up jenkins with a PV bound.  We generate/copy the config into the PV and also copy the plugins from the image to the PV

2) user modifies their jenkins image (builds a new one) with different config/plugins

3) the jenkins pod restarts to pick up the new

[2017-08-03 18:16] bparees commented on #335
Note that "always using image content" should not be the default for any content item (the default should continue to be "use what's in the PV, if the PV has been initialized already")

[2017-08-03 18:48] gabemontero commented on #335
On Thu, Aug 3, 2017 at 2:15 PM, Ben Parees <notifications@github.com> wrote:

I expanded the background beyond what was specifically relevant just for my
own understanding.  Apologies if
it caused undo clutter, etc.

Yes, understood.  I believe the PR is in fact doing that.

It dawned on my that since the "configured" path is removing the files from
the image that it copied into the PV,
we could l

[2017-08-03 19:11] bparees commented on #335
1) How are you allowing a user to choose whether they want to revert to what is in the image, or continue using the content from the PV?

2) You're checking for the presence of the config files in the PV path(/var/lib/jenkins), so your logic will never execute anyway unless the user removes the content from their PV (and puts a tpl file there)

3) The content that the "first time configure path" r

[2017-08-04 15:38] gabemontero commented on #334
Cross referenced that list with what is installed on our systems either directly or as a dependency of a plugin we do cite and came up with his list:

[code]

I'll see how nasty the dependencies get when explicitly citing each of those plugins

[2017-08-04 18:47] #316 closed

[2017-08-05 19:47] gabemontero opened #348 "rpm mirrors flake"
Such as

http://mirror.rackspace.com/CentOS/7.3.1611/updates/x86_64/Packages/tzdata-java-2017b-1.el7.noarch.rpm: [Errno 14] HTTP Error 404 - Not Found
Trying other mirror.
++ export status=FAILURE

purely environmental ... can't use openshift/origin flakes evidently for jenkins repo to satisfy rosie evidently

[2017-08-05 22:48] #335 closed

[2017-08-07 18:20] #334 closed

[2017-08-11 20:33] gabemontero opened #355 "yet another jenkins security advisory"
https://jenkins.io/security/advisory/2017-08-07/

affects a few of the plugins we pull in

@bparees @coreydaley @smunilla @jupierce FYI ... I'll get to this sometime in the 3.7 timeframe unless someone beats me to it

[2017-08-14 22:21] #355 closed

[2017-08-21 18:50] slinger-scm opened #361 "error: mkdir /var/lib/origin/openshift.local.config: permission denied"
Hello guys!
I'm having this issue while trying to execute my pipeline, any idea I saw that has a push to dockerhub 4 days ago in the image that my pipeline use as slave.. https://hub.docker.com/r/openshift/jenkins-slave-nodejs-centos7/tags/

[code]

[2017-08-22 18:55] bparees commented on #361
can you share the pod logs from the slave pod that got spun up (nodejs-69e36c499aac1)?

also if you can share your jenkinsfile/pipeline definition that could help.

[2017-08-22 19:16] maiconbaumx commented on #361
Hello @bparees! That post wast initiated from my second account, the @slinger-scm.
This issue was present in the latest jenkins-slave-nodejs-centos7 image from OpenShift's Dockerhub repository. After several tries, I decided to build a new Jenkins Slave image from this Dockerfile and use for my pipeline. I don't have these logs anymore, but this error appears in the logs.. After build a new image

[2017-08-22 20:07] bparees commented on #361
hm.  this seems like new behavior in the oc client.  I will loosen the permissions in the image like you did, though.  thanks!

@csrwng @gabemontero @fabianofranz are you aware of this change/breakage?  In particular I'd think @csrwng or @stevekuznetsov would have run into it...

[2017-08-22 20:33] csrwng commented on #361
I have not run into this issue yet, but I am not calling 'oc project [name]' in any pipeline

[2017-08-22 21:05] gabemontero commented on #361
On Tue, Aug 22, 2017 at 4:33 PM, Cesar Wong <notifications@github.com>
wrote:

Same on both points for me as well

[2017-08-23 21:58] dnguyen9 opened #364 "jenkins default to 32bit java when OPENSHIFT_JENKINS_JVM_ARCH is not defined"
in the run script, the java version is set to 64bit if the OPENSHIFT_JENKINS_JVM_ARCH variable is not defined[1], however, it is set back to 32bit when calculating the HEAP_LIMIT [2].  This will cause the run script to exit with an error since the jenkins-agent java is build with 64bit.

(1)
# set the java version used based on OPENSHIFT_JENKINS_JVM_ARCH
if [ -z $OPENSHIFT_JENKINS_JVM_ARCH  ]; the

[2017-08-23 22:07] bparees commented on #364
I don't see any issue when using the 32bit jvm explicitly:

[code]

There was an issue w/ the slave images not actually including the 32bit jvm and therefore failing when it was selected, but that has been fixed in the centos images (you may need to pull new ones) and should be fixed in the rhel images soon.

Do you have logs from your slave pod showing the failure/issue?

[2017-08-23 22:31] bparees commented on #364
@dnguyen9 for now either switch to the centos slaves, or force your slaves to user 64 bit by setting the env var, sorry :(

new rhel images should be coming in a few weeks tops.

[2017-08-23 22:31] #364 closed

[2017-08-24 15:26] #361 closed

[2017-08-28 10:58] cmoulliard opened #368 "curl: (60) Peer's Certificate issuer is not recognized."
As curl doesn't use as parameter the option -k - see [line](https://github.com/openshift/jenkins/blob/master/slave-base/contrib/bin/run-jnlp-client#L57) to download the remote.jar file, we will get this error when the jenkins slave pod will try to access the jenkins server

[code]

[2017-08-28 11:01] cmoulliard opened #369 "PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"
When a jenkins jnlp client running within a pod will access to a jenkins master server running outside of OpenShift, we get this error `javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed` when it tries to access the server

[code]

This issue is similar to this one : https://github.com/appscode-ci/cibox/issues/16

[2017-08-28 18:43] bparees commented on #368
You can provide the cert bundle to your slave by defining it as a secret and updating the slave pod template to mount the secret to the correct path (or building your own slave image w/ the certs baked in) I don't think we want to set the -k option on curl because we want to be secure by default.  (though again, you can customize the image yourself to do that).

[2017-08-28 18:45] bparees commented on #369
as with your other issue, you should be able to mount a proper truststore into the slave pod.

[2017-09-04 15:37] zonArt opened #373 "Issue downloading plugins from an alternative JENKINS_UC url"
I'm trying to build a custom image based on jenkins-2-centos7 but fail to do so when setting the `JENKINS_UC` environment variable to an internal proxified repository, please have a look at the Dockerfile below:

`FROM jenkins-2-centos7
COPY jenkins/plugins_list /opt/openshift/configuration/
ENV JENKINS_UC http://<private repository>/artifactory/jenkins-plugins
RUN /usr/local/bin/install-plugins.s

[2017-09-05 01:17] bparees commented on #373
i'm not sure how to help you with this.  It seems the variable is being respected, but the value you are providing is not valid for the context in which the install-plugin.sh script is being run, which would point to a configuration issue at your end.

What error are you getting?

Also you say "internally proxified repository"..  do you just mean a mirror, or is the private repository behind a pro

[2017-09-05 07:25] zonArt commented on #373
Thing is that I don't have any error (at least not logged one), it looks like it is timing out as if internally the image couldn't resolve the url of my mirror (I don't see any logs on the mirror as if it doesn't receive the request at all) while it is ok when the container runs. To add some information, this was working fine when building the "official" jenkins image with same customization. To h

[2017-09-05 09:25] zonArt commented on #373
Ok, I just found the explanation:
As I was suspecting from the beginning, `<my mirror>` url was not resolved within the image. I ran the `jenkins-2-centos7` image with bash command and tried to ping the url without success then having a look at `/etc/resolv.conf` I noticed that the dns are the google one though not possible to resolve local addresses. I now just need to understand how to give dock

[2017-09-05 14:18] #368 closed

[2017-09-05 20:27] bparees commented on #373
Cool, thanks for the update, i'm going to close this as it's not an image issue.

For how to set the dns, it should pick up the /etc/resolv.conf from your host, so adding the appropriate entries to your host's /etc/resolv.conf is one way.

other options include updating the /etc/resolv.conf as a step within your dockerfile (and then potentially setting it back to the original value).

[2017-09-05 20:27] #373 closed

[2017-09-08 20:55] arnaud-deprez opened #375 "Simplify the support for maven, gradle and sbt"
Hi,

I would like to react to what is been done in #298 and the comment from @jstrachan.

Usually gradle developer uses the [gradle wrapper](url), it allows developer to specify the gradle version they want to use + their location. This ensure a reproducible built on whatever machine you are as long you have access to the server where your gradle distribution resides.

More recently but yet 2 year

[2017-09-08 22:21] bparees commented on #375
We need to ship images that contain content from known locations. So while what you suggest might be viable for the centos images, it's not viable for our rhel images to distribute an image that downloads content from arbitrary locations on the internet.  Furthermore the way these images are consumed (using an ephemeral filesystem), the "correct" gradle/maven version (assuming it's not one that's

[2017-09-11 06:54] arnaud-deprez commented on #375
Hi @bparees,

I understand what you mean but for example, for gradle in enterprise, we ususally provide the gradle distribution on the intranet. This distribution might be customized (it embedded initialization script) or not.
Moreover, these images download already dependencies in order to build the application.
To improve the user experience for this, we use the archiveArtifacts that will basica

[2017-09-11 18:58] eamq opened #376 "Failure building slaves on top of OpenShift language runtime images"
Hello!

#363 introduced a change that is breaking our process for building new Jenkins slave images, as `/var/lib/origin` does not exist in the upstream Centos images used by OpenShift language runtime images (such as `openshift/python:3.5`).

Given the following OpenShift build configuration:

[code]

...we are getting the following error while building this image:

`chmod: cannot access ‘/var/li

[2017-09-11 19:28] bparees commented on #376
I don't really see us making changes to support this workflow I'm afraid.  Our dockerfile is written with the assumption that it is building on top of a specific base image.  While we could add an || true to the lines that are tripping you up, I can't make any promises we wouldn't introduce additional logic in the dockerfile in the future that would once again break this workflow.  Or worse, intro

[2017-09-11 19:28] #376 closed

[2017-09-12 03:10] bparees commented on #375
then you could also provide your own slave images w/ the custom gradle distribution built in.  (just extend the slave-base or slave-maven image)

sure, but that's driven by your pom.xml, not our image behavior.  So that's a user choice, not something we're forcing on the user.  (and from a performance perspective, everything you have to download is going to make the build take longer)

I think we

[2017-09-17 23:50] spyhunter99 opened #380 "can't build android projects due to ~/ being read only"
Hi, I'm experimenting with openshift + jenkins + building a gradle/android project. I was able to get the gradlew wrapper to finally install itself by setting an environment variable in the job

And since i need jdk8 and yum isn't available via ssh, i was able to download the tar.gz and extract it to `app-root/dependencies/java` (not sure if this is the right thing to do or not)

finally, i ran in

[2017-09-18 00:54] bparees commented on #380
jdk8 should already be installed, not sure why you had to do anything for that:
https://github.com/openshift/jenkins/blob/master/2/Dockerfile#L36

Anyway if you do need additional tools in the jenkins image, the thing to do is to build your own image that extends our jenkins image:

FROM openshift/jenkins-2-centos7
USER root
RUN yum install whatever
USER 1001 # optional but a good practice

docker

[2017-09-20 15:35] gabemontero commented on #342
actually I'm going to look at bumping all the way to 1.0 today following some regression testing

but yeah, per your https://github.com/openshift/jenkins/issues/342#issuecomment-319387075 we should be good

i'll close out with the PR that bring 1.0 in

[2017-09-20 15:41] gabemontero commented on #342
we'll that blew up fast:

A bunch of exceptions like:
[code]

Will go back to 0.10, get a base line, then try something between 0.12 and 1.0

[2017-09-20 16:53] gabemontero commented on #342
Actually there is nothing between 0.12 and 1.0.

And 0.12 of the kubernetes plugin has similar class loading issues as 1.0:

[code]

both the openshift sync and k8s plugins have the `<pluginFirstClassLoader>true</pluginFirstClassLoader>` so at first blush not sure why the fabric versions are out of whack when I upgrade k8s beyon 0.10

@jstrachan - any chance you or someone on your team is testing

[2017-09-22 16:57] rafaeltuelho opened #383 "missing JDK packages on slave-base image (only JRE is being installed)"
Looking at https://github.com/openshift/jenkins/blob/master/slave-base/Dockerfile.rhel7#L20 we see only

- java-1.8.0-openjdk-headless.x86_64 : OpenJDK Runtime Environment
- java-1.8.0-openjdk-headless.i686 : OpenJDK Runtime Environment

These packages actually installs only the JRE... The full JDK is from the following ones:

- java-1.8.0-openjdk-devel.x86_64 : OpenJDK Development Environment
- j

[2017-09-22 18:21] bparees commented on #383
the devel package is installed only in the maven slave itself:
https://github.com/openshift/jenkins/blob/master/slave-maven/Dockerfile.rhel7#L23

however we do appear to be missing the 32bit devel package.

[2017-09-22 20:04] #383 closed

[2017-09-25 05:56] shiywang opened #385 "Where can I find the Dockerfile of openshift/origin"
[code]
https://github.com/openshift/jenkins/blob/master/slave-base/Dockerfile#L1
where can I find the dockerfile of this image ?

thanks

[2017-09-25 09:42] eformat opened #386 "jenkins-2-centos7 sync plugin error - No field label conversion function"
hi, the latest  jenkins-2-centos7 image fails to run properly (it starts OK, but won't start slave images) on vanilla OCP - v3.6.173.0.21. looks like a sync plugin issue ?

error in jenkins pod logs:

Sep 25, 2017 9:39:42 AM io.fabric8.jenkins.openshiftsync.BuildWatcher$1 doRun
--
  | SEVERE: Failed to load initial Builds: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing:

[2017-09-25 12:39] bparees commented on #386
dupe of https://github.com/openshift/jenkins-sync-plugin/issues/173

[2017-09-25 12:39] #386 closed

[2017-09-25 12:43] bparees commented on #385
https://github.com/openshift/origin/tree/master/images/origin

[2017-09-25 12:43] #385 closed

[2017-09-27 16:04] gabemontero commented on #342
ok, the reverting of sync plugin's fabric8 version back to 2.3.1 (to work around an openshift bug) has resolved the class loading related issues noted last week;

also, v1.0 of k8s plugin has @scoheb 's fix; v0.12 does not

given the successful regression testing I am seeing, will be submitting a pull for the jenkins image to bump to 1.0

[2017-09-27 18:31] #342 closed

[2017-09-29 14:41] ErikLundJensen opened #390 "Using plugins.txt does not work at Windows if file contains \r\n line ending"
First, the file lock can't be created as the path contains \r:
Creating initial locks...
Locking maven:2.17
Locking
Locking blueocean:1.2.4
Locking
mkdir: cannot create directory '/opt/openshift/plugins/\r.lock': File exists
Failed to install plugins.
Build failed

Secondly, when removing \r from plugins.txt we stil get an error in line 201:

url="$JENKINS_UC_DOWNLOAD/plugins/$plugin/$version/${pl

[2017-10-02 19:11] #380 closed

[2017-10-04 11:36] siamaksade opened #391 "Typo in CONTAINER_CORE_LIMIT en var in run-jnlp-client"
`CONTAINER_CORE_LIMT` should be `CONTAINER_CORE_LIMIT`:
https://github.com/openshift/jenkins/blob/master/slave-base/contrib/bin/run-jnlp-client#L108

[2017-10-04 14:17] bparees commented on #391
ouch.  thanks.

[2017-10-04 14:54] #391 closed

[2017-10-09 11:10] arnaud-deprez commented on #375
I created #394 as an attempt to unified behaviour between gradle and maven. I'll go further with my idea later (when I'll have more time) on and get back here if success.
Thanks you,

[2017-10-09 11:10] #375 closed

[2017-10-09 20:11] gabemontero commented on #348
don't need this anymore ... just employing the delete comment / retrigger tests on flakes.

[2017-10-09 20:11] #348 closed

[2017-10-09 20:13] gabemontero commented on #369
i think we can close this out ... if anybody disagrees, reopen and elaborate

thanks

[2017-10-09 20:13] #369 closed

[2017-10-10 17:08] jstrachan commented on #375
in the age of docker images, it does feel that rather than having wrappers that install tarballs of tools on demand; we'd be better to referencing the versioned docker images directly in the kubernetes build pods.

e.g. we've moved away from using jenkins 'tools' which install versions of stuff from tarballs into slaves to versioned docker images in kubernetes build pods

[2017-10-10 20:10] #390 closed

[2017-10-10 21:54] arnaud-deprez commented on #375
Thank you for your advices, I will forget this idea as I also meet other problems with it.

[2017-10-12 12:32] scoheb opened #397 "Request to update image to use latest Jenkins LTS - 2.73.2"
This will address some security issues: https://jenkins.io/security/advisory/2017-10-11/

[2017-10-12 13:02] bparees commented on #397
@smunilla can we get jenkins 2.73.2 packaged?

@coreydaley https://github.com/openshift/jenkins/blob/master/2/Dockerfile.rhel7#L15 and https://github.com/openshift/jenkins/blob/master/2/Dockerfile.rhel7#L23 should have been updated when you moved the rhel image to 2.73.1.

[2017-10-12 13:04] bparees commented on #397
bumping the centos image here: https://github.com/openshift/jenkins/pull/398

also fixing the rhel7 dockerfile.

but we'll need @smunilla to package the 2.73.2 release before the rhel image can be updated.

[2017-10-12 15:44] gabemontero commented on #317
Per discussion in https://github.com/openshift/jenkins/pull/396 we are going to remove the explicit setting of metaspace via changes from that PR

The JDK appears to be at the point now where it can adjust the metaspace appropriately, even when cgroups are in play.

[2017-10-12 15:44] #317 closed

[2017-10-17 00:44] scoheb opened #399 "Request to have additional font packages installed"
When using the very powerful Jenkins **monitoring** plugin, most graphs fail to render with this stack trace:

`java.lang.ArrayIndexOutOfBoundsException: 0
	at sun.font.CompositeFont.getSlotFont(CompositeFont.java:351)
	at sun.font.CompositeGlyphMapper.initMapper(CompositeGlyphMapper.java:81)
	at sun.font.CompositeGlyphMapper.<init>(CompositeGlyphMapper.java:62)
	at sun.font.CompositeFont.getMappe

[2017-10-17 14:41] scoheb commented on #397
I think this can be closed...at least for Centos.
Thanks!

[2017-10-17 15:34] bparees commented on #397
yeah i want to keep it open until we get rhel updated.  @smunilla can you ack that?

[2017-10-17 15:46] bparees commented on #399
thanks, based on the bug you linked it looks like pretty much any font package will work.  I picked one and it seemed to make the graphs show up, so fixing it here:
https://github.com/openshift/jenkins/pull/400

[2017-10-17 17:00] #399 closed

[2017-10-17 18:16] gabemontero opened #401 "explore using --XX:ErrorFile for core file location"
noticed in man page with open jdk

consider if the jenkins jvm core dumps ... we want to files to go to the PV maybe so they are salvageable after Pod restarts

@bparees @csrwng @stevekuznetsov fyi

[2017-10-17 20:08] bparees commented on #401
i'm thinking the best option might be an env var to configure the destination.  (possibly don't even set the flag unless the user provided an env var value)

[2017-10-23 10:02] steven166 opened #403 "Use fixed versions/tags"
Could these Docker images be versioned instead of using the 'latest' tag. And could they refer to fixed versions of dependent base images. Because we had suddenly an issue with the 'oc' command, because the 'openshift/origin:latest' image is on 1.7 already. But our cluster is still at 1.5.

[2017-10-23 10:05] bparees commented on #403
we did start publishing version tags, the first one was 3.6.0:  https://hub.docker.com/r/openshift/jenkins-2-centos7/tags/

[2017-10-23 10:05] #403 closed

[2017-10-23 10:08] steven166 commented on #403
But that tag is already 4 months old, so it's published before the actual 3.6.0 release?

[2017-10-23 10:17] bparees commented on #403
in this case it was. we're still refining our process.

if you want to build your own 3.6 image you can use this branch and change the oc client that's included to be whatever version you need:
https://github.com/openshift/jenkins/blob/openshift-3.6/2/Dockerfile#L41

[2017-10-23 10:22] steven166 commented on #403
Yes I did that. But when running it by jenkins (different user I guess), it was somehow still using the 3.7 version of the oc client.

[2017-10-25 08:54] eliu opened #406 "How to use those Jenkins slave images in OpenShift"
I've got frustrated on how to use the slave images (slave-base, slave-maven and slave-nodejs) and integrated in my OpenShift project. I wrapped them as image streams and referenced in the deployment template, but still got failed.

Looking into the logs of the respected containers and just stopped at

[code]
and nothing else ...

I also checked the main entrypoint script `run-jnlp-client` and foun

[2017-10-25 09:01] bparees commented on #406
it doesn't sound like you're using them correctly.  you don't need an imagestream and you don't need a deployment config.

https://docs.openshift.org/latest/using_images/other_images/jenkins.html#using-the-jenkins-kubernetes-plug-in-to-run-jobs

the slave images are used from jenkins when you have a jenkins master and a pipeline definition that is configured to run on a slave.

What exactly are yo

[2017-10-25 09:11] eliu commented on #406
I created a new OpenShift project and create a new app by applying the recommended deployment template "Jenkins (Persistent)" with no problems so far. Then I was thinking if it can be configured to run jenkins jobs from respected slave containers. And I found this repo.

I already read the doc you referenced, but still not get the point to enable slaves.

[2017-10-25 09:14] bparees commented on #406
have you tried deploying this template and running the pipeline buildconfig it defines?

https://github.com/openshift/origin/blob/master/examples/jenkins/pipeline/samplepipeline.yaml

it will create a jenkins pipeline that runs on a slave pod.

[2017-10-25 09:15] bparees commented on #406
specifically this part of the pipeline:
https://github.com/openshift/origin/blob/master/examples/jenkins/pipeline/samplepipeline.yaml#L111

says "run these pipeline steps on a jenkins slave node with the label `nodejs`" and if you look at the jenkins master configuration you'll find that the kubernetes plugin configuration includes the definition of a slave with the label "nodejs" by default.

[2017-10-25 09:30] eliu commented on #406
@bparees many thanks. Finally I noticed a pod containing slave-maven or slave-nodejs image is being creating in background, when i finish the general setup for label expression in this reference https://github.com/openshift/origin/blob/master/examples/jenkins/README.md#steps-1

Is it possible to support custom image to build that slave pod? maybe we might have some other components to be installed

[2017-10-25 09:36] bparees commented on #406
you can use your own slave images if that is what you are asking.

we recommend you extend our existing slave-base image if you choose to do so as it contains all the infrastructure to startup and talk to the jenkins master correctly.  (this is the same image our slave-nodejs and slave-maven images extend).

you can find the definitions for all those images in this repository.

the instructions fo

[2017-10-25 09:46] eliu commented on #406
that is exactly what i am looking for. i'll check out the doc to see what i can do to accomplish that.

I have another issue about this jenkins image, that is the docker 1.12.6 installed from yum by default seems not work properly on *push* operation, with error message "unauthorized: authentication required".

Should I open another issue? Since this one already got solutions.

[2017-10-25 10:01] bparees commented on #406
i don't know what you're doing when you get the push authorization failure.  can you please provide more context?

[2017-10-25 10:36] eliu commented on #406
I extended the image based on `openshift/jenkins-2-centos7` and install docker via yum, which is something like this:

[code]

Then I run this image and exec into the container, typing something like this:

[code]

There's no problem to do the push on my host, even on the docker official docker image `docker:1.12.6`.

[2017-10-25 11:01] arnaud-deprez opened #407 "When Openshift/Jenkins will decide to spin up a new Pod ?"
Hi,

I'm not sure it's the right place to raise this issue as this could be a jenkins kubernetes issue but as I'm using it in Openshift, let's start from here.

I'm using the maven slave PodTemplate and I tried to run 3 builds simultaneously.

I've observed that the first build is executed directly and the other goes to the queue and once the first triggered job is done, the others are executed on

[2017-10-25 11:28] grdryn commented on #406
@eliu the problem could be that the default registry that docker is trying to push to (if not specified in the tag) isn't what you think it is. Are you trying to push to Docker Hub, or some other registry? You may need to specify that in the tag (and also maybe the login command).

What I'm saying may not make sense in this case, @bparees can hopefully correct me if I'm wrong!

[2017-10-25 11:39] eliu commented on #406
@grdryn you can review my previous comments about this issue and you'll fiind:

- i have already run `docker login` command and docker prompt `succeeded`
- the same push statement works on my hosts and official docker 1.12.6 container, the version of which is currently the same as the one centos yum repo provide
- both docker hub and my private registry are tried and neither succeeded on this exte

[2017-10-25 11:50] bparees commented on #406
@eliu can you tag the image as "docker.io/user/hello-world" and then push it?  As @grdryn said, i suspect you are getting a different default registry than you expect.  It's better to always explicitly indicate the registry.

[2017-10-25 11:53] bparees commented on #406
since you are not specifying a registry explicitly, the client will default to a registry.  The docker distributed client will default to docker.io.  The centos distributed package does not default to docker.io.

[2017-10-25 12:25] eliu commented on #406
@bparees @grdryn Once again i tried with the same failure:

[code]

[2017-10-25 12:30] bparees commented on #406
@eliu try `docker login docker.io`

and then cat ~/.docker/config.json to ensure you have an auth entry for docker.io.

[2017-10-25 12:33] eliu commented on #406
[code]
the config.json show below:

[code]

[2017-10-25 12:33] grdryn commented on #406
@eliu In addition to what @bparees suggested, also ensure that you have a repo on docker.io under your `eliu` account, so that there's something to push to.

[2017-10-25 12:34] grdryn commented on #406
@eliu Consider removing that auth string from the pasted `~/.docker/config.json` in your above comment!

[2017-10-25 12:37] eliu commented on #406
Already update secret token with masks.

[2017-10-25 12:39] eliu commented on #406
@grdryn repo has already been there: https://hub.docker.com/r/eliu/hello-world/

[2017-10-25 12:45] bparees commented on #406
@eliu hm, well i'm out of ideas but i'm afraid you'll have to open a bug against the centos docker package for further investigation/assistance, as this isn't really related to the jenkins image.

[2017-10-25 12:45] #406 closed

[2017-10-25 12:49] eliu commented on #406
@bparees it's about how the centos distributed docker package work within the container. Because there's no problems for this package if you install your centos on premise or VM.

[2017-10-25 12:51] bparees commented on #406
@eliu ok, but unless it works in a pure "centos" image and only fails in the "jenkins" image, i don't think i'm going to be able to help you.

[2017-10-25 13:10] grdryn commented on #406
@eliu @bparees I'm sure you've already thought of this, but for building images from Jenkins in OpenShift, I've always just delegated to OpenShift to build it, using a BuildConfig with the 'docker' strategy (I never thought of setting `DOCKER_HOST` like you have, and in most cases I wouldn't have access to a separate machine, or the OpenShift node itself).

For just pulling an image from one repo

[2017-10-25 14:52] csrwng commented on #407
@arnaud-deprez can you include your jenkins version and the version of the kubernetes sync plugin that is currently installed?

I have experienced delays in starting slave nodes, but haven't seen them run serially. Also, can you make sure that your job allows concurrent builds? (Should not have the `Do not allow concurrent builds` checkbox checked)

[2017-10-25 14:53] bparees commented on #407
@arnaud-deprez in addition have you seen if the slave pods are being created in your project?  If so, what state are they in and does oc describe give any indication for why they are in that state?

[2017-10-26 08:14] arnaud-deprez commented on #407
Hi,

Sorry for the delay.
I could reproduce it locally with minishift: `minishift start --openshift-version=v3.6.0 --memory=4GB`

Jenkins (2.73.1):
[code]
@csrwng `Do not allow concurrent builds` is checked but it is fine for me. I don't want to have concurrent build for the same project, but I want concurrency for different project (my issue concern 3 different builds using the same labeled node

[2017-10-28 11:32] cchet opened #409 "Update openshift jenkins plugins"
It seems that there are still some old openshift plugin versions used such as *openshift-sync 0.0.11* which is now available in version *0.1.32* which is a large gab

[2017-10-28 20:59] bparees commented on #409
where do you see 0.0.11 being used?

https://github.com/openshift/jenkins/blob/master/2/contrib/openshift/base-plugins.txt#L10

[2017-10-28 21:01] gabemontero commented on #409
On Sat, Oct 28, 2017 at 4:59 PM Ben Parees <notifications@github.com> wrote:

that was the version shipped with the 3.5 image I believe

[2017-10-30 06:59] yu2003w opened #410 "Why is user 1001 used?"
One question about the docker file.
"user 1001", why need to use this?
Could "user root" be used?
Could you help to share design considerations?

Thanks very much.

[2017-10-30 07:52] coreydaley commented on #410
@yu2003w From the OpenShift documentation:
"Lastly, the final USER declaration in the Dockerfile should specify the user ID (numeric value) and not the user name. This allows OpenShift Origin to validate the authority the image is attempting to run with and prevent running images that are trying to run as root, because running containers as a privileged user exposes potential security holes. If th

[2017-10-30 14:25] #410 closed

[2017-10-30 14:26] bparees commented on #410
Also when you actually run the jenkins image(or any image) on openshift it's going to run as a random uid anyway (not necessarily 1001 and definitely not root), unless you have changed the default configuration or granted additional permissions.

[2017-11-01 17:14] csrwng commented on #407
@arnaud-deprez just to clarify...

By project do you mean an openshift project (aka namespace)? or just a different job definition in jenkins?

Taking a look with multiple jobs in Jenkins. I would expect all to work independently from each other.

[2017-11-02 10:10] arnaud-deprez commented on #407
@csrwng sorry, I was meaning a different job definition in jenkins.

So I expect that, event if I do *not allow concurrent builds* per jenkins job, Openshift would be able to spin up many maven jenkins slave to handle all the enqueued jobs.

[2017-11-02 15:02] csrwng commented on #407
@arnaud-deprez so I tested locally with the same version of the kubernetes plugin you have, and I'm not able to reproduce. I created 3 separate jobs, set them to not allow concurrent builds, and to run on the maven slave. I also put a sleep of 30 seconds in each job so that I could see if they were able to run concurrently. I started all 3 at the same time, and although the start time of each job

[2017-11-03 08:42] arnaud-deprez commented on #407
@csrwng I didn't have quota.
It's however possible that jobs finished fast enough (but it is till ~2min) but I don't get the logic. If I increase the build time, I can now see new pods are spun up.
How does it decide it ? Is it configurable ? I couldn't find any documentation about that sorry :-S.

Anyway, it works so it's no more an issue but a question :)

[2017-11-03 12:41] spicysomtam opened #411 "oom issues with openshift/jenkins-2-centos7 on github"
Latest image on docker built 9 days ago. I gave my pod 32Gb of memory and was still getting oom issue. Set it up to use the x86_64 jenkins. Even bumped the CONTAINER_HEAP_PERCENT to 0.80 (80%). The command line for jenkins as follows:

[code]

If  I set it to this, I don't get any oom errors:

[code]

In essence, I removed all the memory tuning settings, and it behaves. I compared the openshift im

[2017-11-03 13:25] csrwng commented on #407
@arnaud-deprez It actually looks like the behavior is configurable. The plugin that handles launching slave pods is the Kubernetes plugin. Take a look at https://github.com/jenkinsci/kubernetes-plugin
Search for "Over provisioning flags"

[2017-11-03 13:40] spicysomtam commented on #411
I had to set JAVA_GC_OPTS='   ' (note space) to disable all the memory settings, apart from the Xms and Xmx. Why is Xms set to be the same as Xmx? Would it not be more sensible to set Xms to say 256Mb?

I also set CONTAINER_HEAP_PERCENT=0.70 (70%) and set parameter MEMORY_LIMIT=8Gi. Anything less than these settings are probably starving Jenkins of memory. OPENSHIFT_JENKINS_JVM_ARCH=x86_64. Hopefu

[2017-11-03 13:54] bparees commented on #411
32 bit is more efficient memory-wise if you have a max heap size that fits in a 32bit space.

do you have the exact OOM message?  There are different memory spaces and we need to know what you were actually exhausting.

it avoids forcing the JVM to repeatedly grow the heap, so it's more performant, however we are investigating changing that setting[1]

you should not need to set this.  If you're g

[2017-11-03 15:52] arnaud-deprez commented on #407
Thank you very much for your time and sorry for this false positive bug. I was trying to figure out how it works :-).
Have a nice week-end!

[2017-11-03 15:52] #407 closed

[2017-11-03 19:46] spicysomtam commented on #411
I'll do some testing on this next week and get back to you.

But ideally Xms should be a memory small starting point and not the same as the max value! You could even set it really small like 64Mb if you are concerned about low memory environments; for higher usage cases it would just grow upwards anyway.

But for Jenkins we want stability, and thus its not wise to starve it of memory. Its a java

[2017-11-03 19:55] bparees commented on #411
I appreciate your perspective, but plenty of tuning guides recommend setting min==max to avoid performance hiccups caused when the JVM goes to grow the heap and perform compaction.  Regardless, we are undoing that setting as part of the PR I referenced.

Different users will have different requirements depending on what plugins they use, whether they run jobs on the master or on slaves, how many j

[2017-11-07 09:55] spicysomtam commented on #411
Sorry did not manage to work on this yesterday.

I have now integrated the jenkins setup into my origin startup (3.6), and have reproduced the memory errors. I did not set anything up on Jenkins, and see the issue when I run the build for the built in sample job. I sized the pod to use 8Gb of memory and to use 70% of that for Jenkins.

If a repeat and set env JAVA_GC_OPTS to a space, then no oom e

[2017-11-07 10:06] spicysomtam commented on #411
Regarding all the tuning stuff: this is not a database or real time system. Its just Jenkins that run Jenkins jobs so optimal tuning is not required. I think its a good idea to set -Xmx and to size it based on the pod memory available, to specify the pod memory size, and the idea of an env var where you can specify % of memory to give to Jenkins is a good idea. In our case we don't run any agents

[2017-11-07 14:28] gabemontero commented on #411
OK the OOM is definitely are familiar friend, metaspace

https://github.com/openshift/jenkins/pull/396 which @bparees referenced earlier is thought to address this issue, as we are deferring to the JVM to autotune metaspace.  See https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/30#issuecomment-336090860 if interested in some of the detailed background.

We currently plan on merging

[2017-11-07 14:36] bparees commented on #411
i've marked https://github.com/openshift/jenkins/pull/396 as fixing this issue, it will close when that PR merges.

[2017-11-07 14:50] spicysomtam commented on #411
Thanks all.

Other than that the image is pretty good, and does what we want out of the box without needing to add any plugins. Its up to date too, Jenkins wise, although need to update loads of the plugins, but hey that is the world of Jenkins!

[2017-11-07 17:03] bparees commented on #409
newer images have updated plugin versions.

[2017-11-07 17:03] #409 closed

[2017-11-08 19:42] gabemontero commented on #397
A new advisory just came out:  https://jenkins.io/blog/2017/11/08/security-updates/

There is now a 2.73.3

[2017-11-08 20:11] smunilla commented on #397
@bparees @gabemontero I'll work on getting us a new build this week.

[2017-11-08 20:47] smunilla commented on #397
@bparees @gabemontero Correction: I built it now. It'll make it into tonight's build.

[2017-11-08 20:51] bparees commented on #397
bumping centos to 2.73.3 here: https://github.com/openshift/jenkins/pull/413

rhel will go to 2.73.3 once @smunilla finishes building it today (and we ship a new jenkins rhel image with 3.7 of course).

[2017-11-10 16:01] csrwng opened #415 "Request to update pipeline utility steps plugin to 1.5.1"
Plugin: pipeline-utility-steps
Version: 1.5.1
https://plugins.jenkins.io/pipeline-utility-steps

The version of the plugin in the current Jenkins image is 1.1.5 and is missing useful utility steps like readJSON/writeJSON, readYaml/writeYaml

[2017-11-10 16:01] csrwng commented on #415
@gabemontero

[2017-11-10 17:05] bparees commented on #415
seems reasonable to me.

[2017-11-10 18:37] bparees commented on #397
next rhel image will have 2.73.3.

[2017-11-10 18:37] #397 closed

[2017-11-10 21:03] #411 closed

[2017-11-13 16:07] bparees opened #418 "test cgroup max heap behavior"
1) what heap does the -XX:+UseCGroupMemoryLimitForHeap argument actually choose for a container with a limit of X gigs and node memory of Y gigs?

2) if both -Xmx and  -XX:+UseCGroupMemoryLimitForHeap are set, which one takes effect?  Does order matter?

[2017-11-13 16:57] gabemontero commented on #418
OK, quick reminder to myself, stuff like top is not cgroup aware, because it shows a lot more mem available thatn the 512Mi from the template's memory_limit.

That 512 holds .... see:
[code]

The command line (with our latest image, so using the new JDK options) is:
[code]

And `ps -aux`

[code]

If the 1/4 allocation of container memory via `-XX:+UseCGroupMemoryLimitForHeap` is true, it would app

[2017-11-13 17:11] bparees commented on #418
i'd rather see this confirmed by taking a java core and looking at the heap settings reported by the JVM.

[2017-11-13 17:17] gabemontero commented on #418
ok, i think this level of analysis is sufficient, but i'll circle back to java cores to be sure (in the middle of the no `-Xmx` experiment at the moment).

[2017-11-13 17:27] gabemontero commented on #418
OK, with no `-Xmx` and `-Xms` set:

[code]

I'm seeing little difference in the RSS

[code]

tip of the hat to @bparees ;-)  .... need to analyze ... fortunately jmap makes it easy.

So:

[code]

That looks like 1/4 of the container mem ... as reported in the customer email thread.

Have to run to an appt, but will redo the `-Xmx` run and report back with `jmap -heap 1`

[2017-11-13 17:33] bparees commented on #418
/cc @jim-minter

[2017-11-13 17:34] bparees commented on #418
/cc @sspeiche

[2017-11-13 19:49] gabemontero commented on #418
When both explicit setting of the max heap and the use of the new property are employed, with the new property appearing *AFTER* the max heap setting (256m in this case):

[code]

And given that we've proven the 1/4 ration of the new cgroup prop (where it was 128m, see above), the explicit map heap setting does in fact win:

[code]

[2017-11-13 19:51] bparees commented on #418
so...

cgroup only - 1/4 of container
cgroup followed by xmx - xmx wins
xmx followed by cgroup - ??

[2017-11-13 19:57] gabemontero commented on #418
On Mon, Nov 13, 2017 at 2:51 PM, Ben Parees <notifications@github.com>
wrote:

The example I posted was xmx followed by cgroup

[2017-11-13 19:58] gabemontero commented on #418
The copy/paste between terminals may have cut things off

[2017-11-13 19:58] bparees commented on #418
ps axwww is your friend :)

so i guess then my question is what about cgroup followed by xmx.

[2017-11-13 20:01] bparees commented on #418
Also based on my findings w/ gradle, I think we need to stop and put all this in a google doc and figure our a disciplined plan for moving forward on:

1) settings for the "main" jvm process (jenkins master, jnlp client)
  - what we set, how users can override them

2) settings for maven + gradle jvms
  - what we set, how users can override

3) settings for compilation jvms launched by gradle (and

[2017-11-13 20:02] gabemontero commented on #418
Yep I believe I proposed something similar in @jim-minter 's PR.

[2017-11-13 20:27] gabemontero commented on #418
`-Xmx` overrides group regardless if coming before or after ... noted Xmx preceding above ... here is the Xmx after cgroups:

[code]

[code]

[2017-11-13 20:33] jim-minter commented on #418
My reading is as follows: -XX:+UseCGroupMemoryLimitForHeap is a temporary flag introduced in the process of making cgroup awareness the default in the JVM.  -Xmx overrides at any time.

[2017-11-13 21:48] bparees commented on #418
Cool, thank you @gabemontero and yeah, @jim-minter that summary sounds right and matches what we were told elsewhere.  It effectively just says "ignore the host memory, use the container memory value instead as the basis, but otherwise proceed as normal w/ allocations"

[2017-11-13 21:48] #418 closed

[2017-11-13 21:59] gabemontero commented on #418
@bparees @jim-minter it is still a work in progress, but I sent you both a link to a google doc I'm composing to capture what @bparees asked for in https://github.com/openshift/jenkins/issues/418#issuecomment-344039944

[2017-11-14 14:31] gabemontero commented on #418
Thanks for the additional clarification @jerboaa

As it turns out, customer support / customer ran some experiments with `-XX:MaxRAMFraction=2` as well and reported the 50% result as well.

Between @jim-minter, @bparees , and myself various details on separate threads are being gathered with regard to recommendations and additional tuning in the jenkins slave / jnlp client / maven / gradle / addit

[2017-11-27 19:38] gabemontero opened #421 "Prevent leakage of zombie processes in jenkins master"
See https://github.com/openshift/release/issues/432 for details, including research around the core problem and how it was fixed in similar docker based images

[2017-11-27 20:51] bparees commented on #421
@jim-minter if you find room for this in your other jenkins tech debt work this sprint, please considering knocking this out too.

I think @smarterclayton was also on board with tini.

[2017-11-27 22:12] gabemontero commented on #421
Just started poking around as well ... assuming we only want to install the 64bit version, hopefully running a 32 bit JVM is orthogonal.  Something to include in unit testing.

[2017-11-27 22:18] gabemontero commented on #421
Forgot ... `make test` in this repo runs 32 bit mode

[2017-11-29 20:40] jim-minter opened #423 "Confusing startup messaging"
[code]

should be clearer.

[2017-11-30 22:22] sherl0cks opened #426 "Include Blue Ocean in the default plugins for the master"
Since blueocean is the future of Jenkins UX, it would be good to include it by default. In particular, because there can be interesting issues with plugin versions between blueocean and some OCP plugins like the sync plugin.

Any interest? I'd be happy to submit a PR on this.

[2017-11-30 22:27] bparees commented on #426
it is included by default already:
https://github.com/openshift/jenkins/blob/master/2/contrib/openshift/base-plugins.txt#L36

[2017-11-30 22:28] bparees commented on #426
@gabemontero you're not aware of us having regressed anything on this front, are you?

[2017-11-30 22:40] bparees commented on #426
confirmed blue ocean ui is available in our image.

[2017-11-30 22:40] #426 closed

[2017-11-30 22:43] sherl0cks commented on #426
looks like I'm late to the party and all of this has been handled.

1.1.7 is the latest version that is working correctly according to our testing, so 1.1.6 should be fine. there was issue opened here with the blueocean folks and they were looking for collab on these items in the future, as anything > 1.2.0 still doesnt work and blue ocean is 1.3.x right now.

https://issues.jenkins-ci.org/browse/

[2017-11-30 22:46] bparees commented on #426
@gabemontero sounds like we'll have to investigate https://issues.jenkins-ci.org/browse/JENKINS-47637 when we get ready to update to a newer blueocean plugin :(

[2017-11-30 23:01] gabemontero commented on #426
On Thu, Nov 30, 2017 at 5:28 PM, Ben Parees <notifications@github.com>
wrote:

no, it works .... just oc clustered up with the latest image and hit
https://jenkins-myproject.127.0.0.1.xip.io/blue/organizations/jenkins/pipelines
(i.e. the Open BlueOcean link on the left panel)
on my local system and it works

when you just login to jenkins, it is still the classic view

if there is some other entry

[2017-11-30 23:46] gabemontero opened #428 "see about bumping blue ocean in 3.9 timeframe"
but need to track https://issues.jenkins-ci.org/browse/JENKINS-47637

@openshift/sig-developer-experience fyi

[2017-12-01 00:37] sherl0cks commented on #426
@gabemontero that is the normal entrypoint for blueocean for now. as discussed above, the changes currently in master and 3.7 branch of this repo should be sage since the current blue ocean version is 1.1.6. If you upgrade past 1.1.7, you will hit  https://issues.jenkins-ci.org/browse/JENKINS-47637

[2017-12-01 01:05] bparees commented on #426
@coreydaley can you please look into https://issues.jenkins-ci.org/browse/JENKINS-47637 as part of your jenkins techdebt work this sprint?  It would be nice for us to able to upgrade the blue ocean plugin.

[2017-12-01 01:35] sherl0cks commented on #426
looks like @gabemontero was working this as part of:
https://issues.jenkins-ci.org/browse/JENKINS-42276
https://github.com/openshift/jenkins-sync-plugin/pull/184

Doesn't appear that a new version of the plugin has been released though: https://plugins.jenkins.io/openshift-sync

[2017-12-01 01:50] gabemontero commented on #426
On Thu, Nov 30, 2017 at 8:35 PM Justin Holmes <notifications@github.com>
wrote:

that was on the to do list for today since 3.7 shipped but we ended up
having to fire fight some post GA issues.

Should be coming soon

[2017-12-01 02:03] sherl0cks commented on #426
I'm familiar =). I'll make it a priority to test the prelease build that is in the ticket to at least confirm it resolves the issue we have been seeing, hopefully getting you that feedback ahead of a new release.

[2017-12-01 13:39] coreydaley commented on #426
@bparees added it to my list

[2017-12-01 21:08] gabemontero commented on #426
OK, I actually had a sec to read all the referenced info and caught up.

So yeah, I started looking at https://issues.jenkins-ci.org/browse/JENKINS-42276 toward the tail end of 3.7.  From the other jira's referenced (this injection thing impacted several plugins), the removal of the extraneous save() call in the config descr null ctor was a safe bet for a root cause.  Also, it was a safe change in

[2017-12-03 22:02] sherl0cks commented on #426
@bparees @bparees @coreydaley I updated https://issues.jenkins-ci.org/browse/JENKINS-42276 with reproducers. https://github.com/sherl0cks/labs-ci-cd/blob/jenkins-42276-latest/s2i-config/jenkins-master/plugins.txt can be used as the basis for #428

[2017-12-05 19:46] gabemontero commented on #428
@coreydaley @bparees see the updates in https://issues.jenkins-ci.org/browse/JENKINS-42276

With an assist from @sherl0cks on obtaining a reproducer, I was able to confirm the that commit 74dd3fcb636496dc418d90f10586faf6be5a7f2b from the sync plugin does fix the circular dependency issue wrt sync plugin.

That, coupled with my previous success in upgrading blueocean in the vanilla openshift jenkin

[2017-12-08 07:32] ManjushaQA commented on #369
When sending test mails in jenkins we are facing the same issue.sun.security.provider.certpath.SunCertPathBuilderException. Can any one help me out on this issue.
![jenkinsissue](https://user-images.githubusercontent.com/32263961/33755696-134b28d2-dc18-11e7-847d-46f222f632ae.png)

[2017-12-08 17:25] grdryn opened #439 "New Jenkins LTS: 2.89.1"
I just saw this in one of the admin messages in my instance, so figured I'd highlight it here.

See here for more info: https://jenkins.io/changelog-stable/

[2017-12-08 18:29] bparees commented on #439
@jupierce @adammhaile can we start the process of building a 2.89.1 rpm?

[2017-12-08 18:29] bparees commented on #439
(thanks @grdryn)

[2017-12-12 15:23] bparees commented on #439
looks like the rpm is built.

[2017-12-14 13:59] sengaya commented on #439
Can someone explain or point me to some docs what the update strategies of the rhel and centos jenkins images are? The image at https://hub.docker.com/r/openshift/jenkins-2-centos7/ seems to be updated more frequently. The image at https://access.redhat.com/containers/?tab=overview#/registry.access.redhat.com/openshift3/jenkins-2-rhel7 seems to be still at version 2.46 which is quite old and likel

[2017-12-18 12:06] grdryn commented on #439
There's now a 2.89.2 to address a security advisory.

https://jenkins.io/changelog-stable/
https://jenkins.io/security/advisory/2017-12-14/

[2017-12-19 01:00] bparees commented on #439
sigh :)

i'll open a new issue for that so we can at least proceed w/ getting 2.89.1 landed.

[2017-12-19 01:01] bparees opened #445 "Update to LTS 2.89.2"
@smunilla i know you just did 2.89.1 but now there's a 2.89.2..can we get it packaged?  thanks :/

[2017-12-19 01:01] bparees commented on #439
issue for 2.89.2: https://github.com/openshift/jenkins/issues/445

[2017-12-19 13:50] tanskann opened #446 "Don't use alpha clients as oc client for CentOS images"
Currently the parent image for CentOS `Dockerfile` used is
`
FROM openshift/origin
`
Which is built with latest alpha version of oc client. We can't rely on that, but instead client built into this image should follow origin releases. Current stable version is 3.7.

Version of `oc` client with latest Jenkins image:

[code]

[2017-12-19 14:16] bakito opened #447 "Update install-plugins script to support version specific update centers"
The install-plugins.sh from jenkinsci/docker does support version specific update centers for LTS versions.
https://github.com/jenkinsci/docker/blob/678f3ec669666bada2f448f9da3f33c4eb0417a9/install-plugins.sh

        # If version-specific Update Center is available, which is the case for LTS versions,
        # use it to resolve latest versions.

It would be nice if this would be applied to the O

[2017-12-19 14:23] bakito opened #448 "Optional plugins should not all be installed by default"
The install-plugins.sh script installs all optional dependen plugins by default. According to the code this is due to a problem with the  matrix-auth plugin.

        # Note, matrix-auth plugin notes cloudbees-folder as optional in the archive, but then failed to
        # load, citing a dependency that is too old, during testing ... so we will download optional dependencies

1. Is theree still a

[2017-12-19 20:23] bparees commented on #446
latest images are not guaranteed to be stable.  use the tagged images if you want something stable.
https://hub.docker.com/r/openshift/jenkins-2-centos7/tags/

[2017-12-19 20:23] #446 closed

[2017-12-20 00:16] bparees commented on #445
thanks @jupierce

[2017-12-20 06:57] tanskann commented on #446
Hmm OK well that's a problem since v3.7 image is not refreshed with the latest Jenkins. Obviously I want that so that always have latest Jenkins in my v3.7 Openshift.

Maybe I'll just use the latest image then and remove the alpha client & put v3.7 client there.

[2017-12-20 12:15] bakito opened #451 "s2i build of jenkins does not know the installed plugins since they are only linked in the run script"
I'm customizing the openshift jenkins by using the s2i build as described here: https://docs.openshift.com/container-platform/3.6/using_images/other_images/jenkins.html#jenkins-as-s2i-builder

Since this commit (
https://github.com/openshift/jenkins/commit/f7b3afb30f027d29c6bbf46f56a345e7f87e0a8c#diff-e6dcb991982488881a38bc0d22e481a0 line 208ff) the installation of plugins during s2i build does no

[2017-12-20 13:08] gabemontero commented on #451
On Wed, Dec 20, 2017 at 7:15 AM, Marc Brugger <notifications@github.com>
wrote:

Must be the move of the linking out of the Dockerfile and into the start up
path.  Our s2i testing did not catch the nuance above @bparees.

First blush, refactor the new (re)linking bash logic into a separate .sh
file that we call from the Dockerfile.

[2017-12-20 13:26] gabemontero commented on #451
Oh, and to be clear, we still leave the processing that does exist in `install_plugins.sh` to still support the upgrade scenarios that were fixed with https://github.com/openshift/jenkins/commit/f7b3afb30f027d29c6bbf46f56a345e7f87e0a8c#diff-e6dcb991982488881a38bc0d22e481a0

we just add the link back into the Dockerfile to facilitate this scenario

[2017-12-20 13:29] gabemontero commented on #451
@bakito - would you be able to provide a precise `s2i` invocation that we could use as a reproduce / validator?

[2017-12-20 13:37] bakito commented on #451
[plugins.txt](https://github.com/openshift/jenkins/files/1575655/plugins.txt)

This is the output of a s2i build with the delivered image from redhat, where the base plugins are not linked. The summary in the end lists much less plugins than actualli are installed on the jenkins once it is started. 36 plugins are installed.
[s2i-log-without-base-plugins.log](https://github.com/openshift/jenkins/fi

[2017-12-20 13:42] gabemontero commented on #451
thanks @bakito !

and just to be certain there are no disconnects, what is the ID and sha of the base image you used?

[2017-12-20 13:46] bakito commented on #451
Name: openshift3/jenkins-2-rhel7
Summary: Provides the latest release of Red Hat Enterprise Linux 7 in a fully featured and supported base image.
Description: Jenkins is a continuous integration server
Source URL:  https://access.redhat.com/containers/#/registry.access.redhat.com/openshift3/jenkins-2-rhel7/images/v3.7.14-5
Author: Ben Parees <bparees@redhat.com>
Built: 7 days ago
Digest: sha256:39

[2017-12-20 14:25] gabemontero commented on #451
plan on having a PR with the links back in the Dockerfile, adjustments to the automated testing to ensure "base" plugins are there, as well as manual testing of the PV upgrade scenario, sometime today

[2017-12-20 15:28] gabemontero commented on #451
ok, existing jenkins image tests are passing for me locally (both rhel and centos), and I've manually verified @bakito 's scenario with the fix.

automating the verification is a bit trickier since the existing test's starting off s2i image adds the base plugins ... I believe we'll need to add a dummy assemble script that does the base plugin file check, but I don't have that sorted out yet.

Have

[2017-12-20 17:54] gabemontero commented on #451
ok, upgrade scenario with PV's still works with the link re-inserted into the dockerfile, but with the install-plugins.sh logic unchanged

sorting out additions to the tests to catch the issue, and will then craft a PR

[2017-12-20 18:57] gabemontero commented on #451
duh .. the assemble is in the builder image ... ok, punting on including verification in automated test

[2017-12-21 00:20] bparees commented on #451
it is, but you can provide your own assemble script as part of the inputs to the build (by providing one in your repo)
https://docs.openshift.org/latest/dev_guide/builds/build_strategies.html#override-builder-image-scripts

[2017-12-21 01:50] bparees commented on #446
you're certainly welcome to layer whatever oc client you want on top of the image, we fully support extending our images for specific needs.

I am going to update the v3.7 release stream to use the v3.7 base image here:
https://github.com/openshift/jenkins/pull/454

(but as you say, that will not help you if you want a newer jenkins version).

[2017-12-21 06:02] bakito commented on #447
This issue hits me when extending the jenkins with s2i.

[2017-12-21 06:02] bakito commented on #448
This issue hits me when extending the jenkins with s2i.

[2017-12-21 21:46] vrutkovs opened #456 "Base slave v.3.7 and 3.7.0 images have newer oc"
[code]

This breaks some oc operations on 3.7 clusters - e.g. creating jenkins pipelines

[2017-12-21 22:05] bparees commented on #456
this is being fixed in https://github.com/openshift/jenkins/pull/454

[2017-12-22 15:39] #451 closed

[2017-12-24 21:45] bparees commented on #456
docker.io/openshift/jenkins-2-centos7:v3.7 has the oc v3.7 client in it.

the v3.9/latest images will continue to have oc client's from origin master.

[2017-12-24 21:45] #456 closed

[2017-12-26 23:53] vamsi248 commented on #275
Hello folks..
any idea why my jenkins master is not running with my own image container.. its always running job by using jnlp-slave default image.
to stop this issue i tried one way..
i change container name as jnlp to my own image then pending node-hgf78 is offline,  jenkins is not running the job. Any hint please

regards
krish

[2017-12-27 15:06] pauvos commented on #445
@jupierce , I just downloaded `openshift/jenkins-2-centos7:latest` (docker.io) which is still version 2.73 and - by now - contains multiple known security issues (https://jenkins.io/security/advisory/2017-12-14/).

I understand the above link is internal (cannot resolve hostname) and only relevant for rhel-images?

Am I missing something here? Is there a self-serving way to trigger the build of ce

[2017-12-27 20:39] bparees commented on #445
@pauvos until this PR merges, the centos image will not be updated to a new LTS.

You can build your own image based on this branch if you would like, otherwise you'll have to wait for this PR to merge.

(There is also a PR for 2.89.1 which will probably merge first): https://github.com/openshift/jenkins/pull/441

[2017-12-27 20:43] bparees commented on #275
If your image is not a jenkins-slave enabled image, then setting the container name to "jnlp" will not work.

You either need to make your image be a jenkins slave image (such as by basing it off our jenkins slave base image that we provide), or you need to follow the kubernetes plugin instructions for running multiple containers and running specific commands in specific containers within your sla

[2017-12-27 22:21] vamsi248 commented on #275
@bparees thanks for ur suggestion.. i cant use in freestyle job.. because the link u provided is showing for the pipeline job. but i  am using freestyle job..
and second doubt? if i want to make my image as jenkins slave image how i need to do... in my image i use nodejs as my dependencies..

[2017-12-27 22:25] bparees commented on #275
You'd be best served by asking those questions of the maintainers of the kubernetes plugin for jenkins.  I don't know if it is possible.

you can use our nodejs slave image(openshift/jenkins-slave-nodejs-centos7).  If you want to extend it, just write a new dockerfile that starts with "FROM openshift/jenkins-slave-nodejs-centos7"

Or if you want to start from something cleaner and install your own

[2017-12-27 22:30] vamsi248 commented on #275
@bparees thanks for ur help... i am not using openshift.. i am using kubeadm in kubernetes.....
i can make my docker file by typing in dockerfile
From jenkins/jenkins-slave
because i am combing dotnet core and nodejs in one image..

[2018-01-01 22:35] #439 closed

[2018-01-01 22:35] #445 closed

[2018-01-02 00:14] gabemontero commented on #447
thanks @bakito !

I should have a PR up shortly to verify that change is copacetic in our env.  Seems fine / safe upon visual examination.

[2018-01-02 00:38] gabemontero commented on #448
@bakito we do not install the optional plugin by default; we only look to see if the optional plugin was installed already, and if so, make sure the optional plugin is at a sufficient version

what happened was plugins with conflicting dependencies showing up:
1) plugin A depends on plugin C at version 2
2) plugin B has an optional dependency on plugin C at version 3

On start up, plugin B would f

[2018-01-02 00:38] #448 closed

[2018-01-02 03:08] #447 closed

[2018-01-03 17:55] davidaah opened #465 "Error starting up jenkins-2-centos-7 based container"
Seeing the following error when deploying `jenkins-2-centos-7` based container
[code]

Steps to reproduce: create "Jenkins (Persistent)" application out of the service catalog in OpenShift 3.7

[2018-01-03 17:57] bparees commented on #465
@gabemontero possibly issues w/ the 32bit jvm?

[2018-01-03 17:58] bparees commented on #465
@davidaah do you see issues if you set OPENSHIFT_JENKINS_JVM_ARCH=x86_64 ?

[2018-01-03 17:59] bparees commented on #465
(we do test the 32 bit jvm so i'd be a bit surprised): https://github.com/openshift/jenkins/blob/master/2/test/run#L240-L245

[2018-01-03 18:05] davidaah commented on #465
@bparees let me see if i can force that somewhere, i don't believe the service catalog actually allows me to do that at creation but i may be able to edit the DeploymentConfig after the fact. i'm surprised 64bit would not be the default

[2018-01-03 18:16] davidaah commented on #465
update: manually updating that in the DC caused the pod to startup successfully ! -- let me know what the best course of action is to get this addressed? is it worth pursuing getting the upstream updated to 64bit in the first place?

[2018-01-03 18:27] gabemontero commented on #465
On Wed, Jan 3, 2018 at 12:57 PM, Ben Parees <notifications@github.com>
wrote:

Reasonable guess ... Doing a search on `Error: missing `server' JVM` you
get some hits.
Most are DOS related (re: spaces in the path), but I saw a Debian one as
well that talked to an incorrectly built
and corrupted JDK.

Maybe docker image storage is somehow messed up ... I don't have any other
wild guesses.

I started

[2018-01-03 18:30] gabemontero commented on #465
On Wed, Jan 3, 2018 at 1:27 PM, Gabe Montero <gmontero@redhat.com> wrote:

I was using this docker image:

`docker.io/openshift/jenkins-2-centos7                latest
55ffbe9ccb17        25 hours ago        2.229 GB`

@davidaah - can you post the analogous info for hte jenkins image you are
using?

Here is the beginning of my jenkins startup ... note it is the exact same
java path as noted in the

[2018-01-03 18:36] bparees commented on #465
we choose the JVM based on the container memory.  since you're running with 512megs of container memory, 32bit is more appropriate.

[2018-01-03 19:21] davidaah commented on #465
ahh very cool, good to know about the dynamic selection... thanks... yea i just used the default size in the catalog

here is the image hash:
[code]

[2018-01-03 19:25] davidaah commented on #465
looks like the same hash for when i launch the deployment forcing x86_64 -- -`openshift/jenkins-2-centos7@sha256:086aa73516aa405cd90deb33fbde75ac8d3d8fec4ed5c7ab354074d707c8f705`

[2018-01-04 06:32] bakito commented on #447
@gabemontero Thank you very much

[2018-01-04 06:40] bakito commented on #448
@gabemontero Somehow I can't reproduce the problem any more. Currently it works as you described. During the time I wrote the issue, all optional dependencies where installed.
I can't say it it was due to a problem of a plugin or something else.

Closing the issue is fine for me. Sorry for trouble.

[2018-01-04 14:10] gabemontero commented on #447
you're welcome @bakito and thanks again for alerting us to the update in jenkinsci/docker

[2018-01-04 14:13] gabemontero commented on #448
no problem @bakito ; I may have not made this clear, but the current behavior was not always what was done; there was a time when we were always installing optional plugins, but then changed it to the current behavior; I suspect you saw this on an older version of the image, but with a later version you are good.

[2018-01-04 15:09] bakito commented on #447
@gabemontero your pull request was incomplete, please see my pull request #466 for a fix

[2018-01-04 15:42] gabemontero commented on #451
Hey @bakito - see https://github.com/openshift/jenkins/pull/455#issuecomment-355314838 regarding when we expect to see the jenkins-2-rhel7 image updated with the fix for this at registry.access.redhat.com

[2018-01-04 16:23] #421 closed

[2018-01-07 22:27] karlnicholas opened #468 "Can't build on registered virtualbox rhel7"
Installed rhel 7 on virtualbox and registered it. Installed git and docker-ce. Get an error for the command

    make build TARGET=rhel7 VERSION=2

    running in ....
    loaded plugins: ovl, product-id, subscription-manager
    This system is not registered with an entitlement server. You can use subscription-manager to register.

![virtualbox_rhel_07_01_2018_14_26_29](https://user-images.github

[2018-01-07 23:39] bparees commented on #468
you'll have to take this problem up with the rhel docker distribution.

my understanding is subscriptions are supposed to be mounted into any container run on a subscribed system (which would include the container run as part of a docker build operation).

In the meantime, you can work around it by copying your subscription certs into a new image build on top of the ose image that the Jenkins imag

[2018-01-07 23:39] #468 closed

[2018-01-09 14:08] jr00n opened #470 "Warnings in Jenkins configuration screen after update to latest image"
Hi, just used the latest image and got this message when entering the configuration page in Jenkins:

You have not configured the CSRF issuer. This could be a security issue. For more information, please refer to this page.
You can change the current configuration using the Security section CSRF Protection.

Agent to master security subsystem is currently off. Please read the documentation and con

[2018-01-09 14:32] grdryn commented on #470
There might be some things in the discussion in #464 that are relevant to this.

[2018-01-09 14:48] jr00n opened #471 "JENKINS_JAVA_OVERRIDES -D parameter is getting quoted and so not working for me"
Hi tried to add

JENKINS_JAVA_OVERRIDES

-Dhudson.model.DirectoryBrowserSupport.CSP="default-src 'none'; img-src 'self'; style-src 'self'; script-src 'self'; font-src 'self';"

to my deployment (config) but at startup Jenkins is complaining...the parameter is getting 'quoted' in a way that it's not working. What can i do?

+ exec java -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=

[2018-01-09 14:59] jr00n commented on #470
Thanks @grdryn i've looked at your repo and use https://github.com/feedhenry/wendy-jenkins-s2i-configuration/blob/master/configuration/config.xml.tpl in the meanwhile.

[2018-01-09 18:24] jr00n opened #472 "Please remove base plugin multiple-scms-plugin"
This plug-in is causes null pointer exceptions in the log when displaying the /configuration page.

https://github.com/openshift/jenkins/blob/bb0877cb889609432b3c7713943d0d2c579556c6/2/contrib/openshift/base-plugins.txt#L24

https://issues.jenkins-ci.org/browse/JENKINS-40545

This plugin is deprecated https://plugins.jenkins.io/multiple-scms

So maybe better to remove also with the mercurial plugi

[2018-01-09 18:47] jim-minter commented on #471
`JENKINS_JAVA_OVERRIDES` is undergoing bash word splitting.  Each space in the variable has the effect of delimiting a separate argument sent to Jenkins, and no amount of quoting will help.

Usually this works in our favour, e.g. `JENKINS_JAVA_OVERRIDES='-Xmx1024m -Xms512m'` does the right thing (2 separate arguments sent to Jenkins).

In this case, however, it's wanted to send a single argument t

[2018-01-09 19:07] bparees commented on #471
There's some discussion of using eval to work around this here (see the second answer):
https://stackoverflow.com/questions/14038103/how-to-avoid-splitting-an-argument-in-a-variable-which-contains-spaces-in-double

I wonder if that would be a better approach?

[2018-01-09 19:39] jim-minter commented on #471
I did consider it.  My gut says that if we use `eval`, we'll regret it later, but I haven't come up with the specific reason yet.  I think `eval` makes us overly reliant on the input not being malicious.  While it's the user breaking their own pod with dodgy input, I suppose that's fine, but I'm concerned we could later find a case where one actor ends up being able to subvert another.

[2018-01-09 19:47] gabemontero commented on #470
On Tue, Jan 9, 2018 at 10:00 AM Jeroen Wolff <notifications@github.com>
wrote:

yep we are NOT turning on CSRF by default at this time per the discussion
thread @grdyn noted

[2018-01-09 20:03] bparees commented on #471
yeah it's not an exploit i'd be overly concerned with but you're right that it could expose something users don't realize is exposed.

this is definitely a worry for me.  I don't know that it's likely, but it would effectively break them on deployment.

is `hudson.model.DirectoryBrowserSupport.CSP` not something that can be configured via the jenkins config.xml instead?

[2018-01-09 20:06] jim-minter commented on #471
At the least JENKINS_JAVA_OVERRIDES and JNLP_JAVA_OVERRIDES are newly added variables, sufficiently recently that I think we could get away with making the change.
JENKINS_OPTS is not newly added, but we haven't encountered this issue on that env var either, so it could be left.

I couldn't find quickly a way to set hudson.model.DirectoryBrowserSupport.CSP via config.xml.

[2018-01-09 23:02] gabemontero commented on #470
also note ... the feature has been there for a while, jenkins upstream has simply decided to add the warning

[2018-01-09 23:02] #470 closed

[2018-01-09 23:14] gabemontero commented on #472
Thanks for the heads up on deprecation wrt multiple-scms, where generic pipeline support is claimed as the replacement, @jr00n

I'll see about running this through our regression testing on Wednesday and if things are OK get a merge going.

Looking through the links your sent, I did not see anything referencing mercurial.  And it is not listed as deprecated on its plugin page.  Did I miss somethin

[2018-01-10 17:24] gabemontero commented on #471
@bparees @jim-minter browser csp appears to be only settable via jvm system property

see https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Security+Policy
and https://github.com/jenkinsci/jenkins/blob/master/core/src/main/java/hudson/model/DirectoryBrowserSupport.java#L312

[2018-01-10 19:21] gabemontero commented on #472
ok, our plugin regression suite of freestyle and pipeline jobs passed with multiple-scms removed ... crafting a PR shortly to update the image.

per earlier comment, pending a response to my questions, refraining from deleting mercurial ... I see no NPE when entering /configure with multiple-scms gone and mercurial still there

[2018-01-10 20:12] #472 closed

[2018-01-11 08:25] arnaud-deprez opened #476 "Fine graine the OVERRIDE_PV_CONFIG_WITH_IMAGE_CONFIG process"
See comments [here](https://github.com/openshift/jenkins/commit/84c2a3c71200b9626e83d2a39e095f75b615c5ed#commitcomment-26745639).

Basically when you use this option OVERRIDE_PV_CONFIG_WITH_IMAGE_CONFIG, every file and directory in the git repository replaces the one in the volume.
For the directory, it may be too "hard" and so it may be more reasonable to keep the directory in the volume and only

[2018-01-11 10:26] arnaud-deprez commented on #476
@jr00n here is why I didn't did that in the first place: https://github.com/openshift/jenkins/pull/420#discussion_r151268350

[2018-01-11 14:40] gabemontero opened #477 "document the embedded oc compatability fallout"
Follow up to the recent 3.7 GA fallout, and various openshift-sme email threads, including https://mail.google.com/mail/u/0/#label/openshift-sme/16036b7c1d422563

1) @bparees 's last summation was I *think* pretty concise and comprehensive:

[code]

2) @bparees - was there a bugzilla or something already in play to handle this that I'm forgetting?  also, I'm thinking references the details here in

[2018-01-11 14:45] bparees commented on #477
@gabemontero no existing BZ, putting it in the jenkins repo readme for now seems like a reasonable starting point.  There's probably something that could be said here too about being aware of what oc client your jenkins image contains (and aligning your jenkins image version w/ your cluster version):
https://docs.openshift.org/latest/using_images/other_images/jenkins.html

possibly in here:
https:

[2018-01-11 15:05] gabemontero commented on #477
sounds good / thanks @bparees

I'm good with waiting until @jim-minter is finished with his current work (if I recall correctly it is targeted for delivery pretty soon), unless @jim-minter feels so inclined.

[2018-01-11 17:03] bparees commented on #476
I appreciate the use case but i think we're going down a deep rathole of config management here.

I don't want to start adding a dozen flags to let people choose exactly what parts of the image config they want vs what they want to keep from the PV.

At the end of the day you can solve this by:

1) building a new image w/ the config you want
2) building a new image w/ your own "Run" script that im

[2018-01-11 19:00] arnaud-deprez commented on #476
@bparees I agree, we can't handle each use case.

FYI, my idea wasn't to add a flag or so but "simply" going recursively to each file in subfolder.
*Advantage:*
* This would at keep existing content in directories and override just the needed files
*Inconvenients:*
* But if for whatever reason, we decide to rename a file maintain in git (like a job), this configuration will remain in the volume an

[2018-01-11 20:45] jim-minter commented on #471
Thanks for investigating @gabemontero !

[2018-01-11 21:00] jim-minter commented on #477
@gabemontero https://github.com/openshift/openshift-docs/pull/6981 includes the following text in the new using_images/other_images/jenkins_slaves.adoc:

[code]

Also in using_images/other_images/jenkins.adoc, it updates the example ConfigMap example to specify

[code]

instead of

[code]

[2018-01-11 22:03] gabemontero commented on #476
I think we have consensus.  At least enough of it.  Closing out.

[2018-01-11 22:03] #476 closed

[2018-01-11 22:39] jim-minter commented on #465
@davidaah the same container image works locally for me.  The `Error: missing 'server' JVM` message is only printed by the JVM when `stat`ing the given path fails.  I think it's pretty likely that your image is corrupt.

[2018-01-12 03:55] davidaah commented on #465
I wiped the cached image from my openshift infra along with the image stream definition, recreated the imagestream and manually pushed the image up and saw that a new commit hash was pulled but seeing the same exact error. The new image hash was f1f7f8140308ef4e0143c45b1334de389c6b7c55113c53ecd8d868fbaf38bdde

I dug deeper in to this and watched the journal logs on the host running the pod as it s

[2018-01-12 09:44] jr00n commented on #472
No, you are right. Mercurial slipped out my fingers. Just a plugin i don’t need, but not an issue here ;)

Regards,

Jeroen

[2018-01-12 12:01] jr00n commented on #476
@arnaud-deprez Can you help me explain what to do in my case?

I work at a company with a lot of java development teams. They al going to use jenkins in there openshift projects.

On my department we provide Software Development Tools like Jenkins etc.

We make a specific Jenkins image (based on the openshift/jenkins s2i image) with specific company config and plugins and some default jobs (as exa

[2018-01-12 13:04] gabemontero commented on #465
Some nice digging @davidaah

Why 32bit might need more memory is not obvious to me.  The only quasi-plausible reason that comes to mind is that maybe swap is somehow coming into play, and 32bit somehow has more of an impact on swap than 64bit.  Hence, the missing `/proc/120432/stat` was something that was swapped out or something.

If you have the time, I'd be curious what happens when you provisi

[2018-01-12 13:13] gabemontero commented on #472
On Fri, Jan 12, 2018 at 4:44 AM, Jeroen Wolff <notifications@github.com>
wrote:

Great thanks for following up!

[2018-01-12 13:20] gabemontero commented on #477
Cool @jim-minter - thanks

The only *potential* delta we might want to add are the caveats around the `latest` tag and the rhel vs. centos differences.

If you want to take a crack at that in your pull and we can debate / harden the details there, great.  Or I'm fine with percolating on it a bit more and then submitting a separate PR after yours merges, using what you've got as the starting point

[2018-01-12 14:55] bparees commented on #465
Hard to imagine the volume size is relevant(though I realize your observations imply otherwise), we store very little in the volume and I wouldn't expect the JVM to touch it at all (it's just used for jenkins config files).

Also what's the story w/ this from your logs:
[code]

is your master host node actually running out of disk space?

[2018-01-12 15:12] bparees commented on #476
@jr00n you should provide a customized jenkins image (inheriting from ours) which does the following:

1) sets its entrypoint/cmd to a new startup script provided by you
2) that new startup script can implement any config copying logic you want
3) that new startup script should then invoke the original jenkins startup script from the image (w/o the override env obviously), passing all args that ca

[2018-01-12 16:36] arnaud-deprez commented on #476
@jr00n you are in a mix-in situation where some jobs are defined in the image and are immutables and some are defined by the customers outside the image.

This is generally not recommended as docker container should be immutables.
You can find a lot of blog/article on the web that explain it but here is one from RedHat https://developers.redhat.com/blog/2016/02/24/10-things-to-avoid-in-docker-cont

[2018-01-16 08:33] spicysomtam opened #481 "Image tagging on docker hub"
I notice on docker hub  that you have now started tagging the centos images with the openshift release. Thats good since there was no tagging before. But how about also tagging them with the Jenkins release too? As a devops engineer, the Jenkins version is pretty important, and tbh we need to upgrade fairly regularly the Jenkins release because of security vulnerabilities, etc. You can have multip

[2018-01-16 20:33] davidaah commented on #465
good question, that was in the logs of the node where jenkins was running... so i would not expect to see this here. i had assumed the .707 GB was coming from the container log. let me try deploying again.

what's a mystery to me still is why the x86_64 is working everytime but the 32 bit version is not

Let me deploy again and report back

[2018-01-17 16:12] spicysomtam opened #484 "slave images: maven has access to openshift slave does not"
Maybe I am missing something. But if I run the maven k8s slave image, it can access the openshift project (eg `oc get all`). However if I use the base slave image, I get the following:

[code]

I added the slave with the same settings as maven and nodejs in Kubernetes Pod Template in the Cloud setting block.

[2018-01-17 16:19] bparees commented on #484
can you run oc version in both slaves? I wonder if you have an older/different version of the base slave image compared w/ the maven slave image.

[2018-01-17 19:07] #471 closed

[2018-01-17 21:59] davidaah commented on #465
Update starting with 1Gi memory launches jenkins fine

[code]

[2018-01-17 22:15] gabemontero commented on #465
Interesting ... so the 1G mem and default disk size would seem to lend credence to my "more swap space is needed with 32 bit" theory from https://github.com/openshift/jenkins/issues/465#issuecomment-357233062

[2018-01-17 22:16] gabemontero commented on #465
If so, smells like a README bullet or FAQ sort of tidbit

[2018-01-17 22:23] bparees commented on #465
There's no swap enabled in k8s containers, ever.  So "more swap needed" would mean "some swap needed" which isn't possible today.

It sounds like something has pushed us out of our previously carefully tuned "we can fit in 512megs" setup...either new plugins, plugin changes, or something related to @jim-minter's recent changes (depending what version of the image @davidaah is running).

I'm certai

[2018-01-18 14:33] jim-minter commented on #465
At this stage I cannot see how `Error: missing 'server' JVM at '/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.151-5.b12.el7_4.i386/jre/lib/i386/server/libjvm.so'.` can be indicative of a lack of memory.
I don't yet believe we need to increase the default memory from 512.

[2018-01-18 14:48] jim-minter commented on #465
@davidaah how many nodes do you have? Is something like the following possible: the image is corrupting on one of them due to lack of disk space and for some reason this is not being reported/detected; when you change the parameters you are altering where the container is being scheduled to?  Is there any correlation between the node where the image is scheduled and the failures?  How does `docker

[2018-01-19 02:05] davidaah commented on #465
@jim-minter picked a random node (as you can see from below the image was not present) and saw the same failure immediately:
[code]

Environment info:
[code]

[2018-01-19 18:51] jim-minter commented on #465
@davidaah Weird.  It works as expected for me on an up-to-date CentOS box.  What output do you get for `docker run --rm -m512m openshift/jenkins-2-centos7@sha256:fb844e13ec6e635c06dbeca7b62ed7e1d433a84ba3f99626bdfb15441a3d7288 stat /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.161-0.b14.el7_4.i386/jre/lib/i386/server/libjvm.so` ?

[2018-01-19 19:10] gabemontero commented on #481
Adding say a table to this repo's readme with the jenkins info seems reasonable.

As to pushing multiple tags for a given image ... I suspect we might be bumping up against openshift conventions, but don't know for sure .... before saying "no", any insight / opinions @bparees ?

[2018-01-19 19:13] gabemontero commented on #477
Upon further reflection, I think the precise tag / oc binary mapping is type of details suited to this repo's readme vs. clutter in the openshift-docs (where I think the detail @jim-minter went with there is appropriate).

Unless I hear compelling dissension I'll craft a PR, collect editorial comments, and merge.

[2018-01-19 19:51] bparees commented on #481
It wouldn't exactly cause a convention problem but i don't love it.

After we start making tags like "jenkins-2-centos7:openshiftv3.7-jenkinsv2.89" (which in itself is a mess) someone's going to start asking us to "please update the jenkins-2-centos7:v3.7-jenkinsv2.73" image to include the fix that was put into jenkins-2-centos7:v3.7-jenkinsv2.89".

The table is ok but someone's going to have to r

[2018-01-20 00:23] davidaah commented on #465
[code]

[2018-01-20 00:30] davidaah commented on #465
i ran locally on my mac and it started up fine. i'm going to try an update to date centos 7 box as well. if that works i will see if i can schedule an update of these hosts to see if it resolves the issue

[2018-01-20 10:20] spicysomtam commented on #484
I was using the v3.9 images, but have found an issue with the `oc` command in that it does not show up deployment configs against a v3.6 cluster! So reverted to the v3.7 slave images which has a non alpha/beta version of the `oc` command and that is fine. I'm using the maven image which can see everything in the project it is running (eg `oc get all`); I'll give the v3.7 slave image a test on Mond

[2018-01-20 10:41] spicysomtam commented on #481
I could see a problem where you have two version tags (say `v3.7` and `v3.9`)  and they have the same Jenkins version, so multiple tagging could be an issue? I suppose the problem is you want to use image `v3.7` but have the ability to upgrade the Jenkins version, since Jenkins is often updated due to security vulnerabilities. Since openshift runs as non root for containers its not easy to replace

[2018-01-20 16:02] bparees commented on #481
Changing the war should always involve building a new image. Mounting the war from a volume is possible, but it's a far less stable/reproducible deployment model.  In general you want to treat your images as being as immutable as possible.

[2018-01-20 16:03] bparees commented on #484
yes the v3.9 oc client is not backwards compatible to v3.6.  This is why we now tag our jenkins images w/ release versions so you can pick a jenkins image that's version-aligned with your cluster (and will include an oc binary that's version aligned w/ your cluster).

[2018-01-22 11:09] spicysomtam commented on #484
So I just retested with the v3.7 slave images; maven image has access to the current project jenkins runs in while slave image does not:

[code]

[2018-01-22 12:31] grdryn opened #487 "New Jenkins LTS patch release available: 2.89.3"
There don't appear to be any security fixes, but there are a couple of bug fixes and enhancements. See https://jenkins.io/changelog-stable/ for more details.

[2018-01-22 14:36] victorvoronin opened #488 "Plugins installation issue"
Some plugins look strange after installation.
Steps to reproduce:
1. Run container with host folder:
docker run -it -e JENKINS_PASSWORD=password -v /tmp/jenkins:/var/lib/jenkins openshift/jenkins-2-centos7
2. After container started, stop it with "Ctrl-C"
3. Look at plugins folder:
find /tmp/jenkins/plugins -name webapp
Result:
/tmp/jenkins/plugins/handlebars/webapp
/tmp/jenkins/plugins/handlebars

[2018-01-22 14:44] bparees commented on #488
that appears to be an issue w/ the handlebars plugin zip.  Specifically the 1.1 version:
https://updates.jenkins.io/download/plugins/handlebars/1.1/handlebars.hpi

[code]

[2018-01-22 14:44] #488 closed

[2018-01-22 14:45] bparees commented on #488
(we don't explicitly install this plugin, it's picked up as a dependency, so we can't simply move to the 1.1.1 version which does not appear to have this packaging problem).

[2018-01-22 14:49] gabemontero commented on #488
@bparees - we *could* explicitly install it until the dependency bumps its dependency version on handlebars ... this would be similar to our adjustments for security advisories

[2018-01-22 14:51] gabemontero commented on #488
I'm probably due to examine those explicit security advisory plugin installs as well, see if they've been picked up

[2018-01-22 14:57] bparees commented on #484
slave images run w/ the default service account for your project.  masters run w/ the jenkins service account (assuming you deployed using the openshift jenkins template).  presumably you have different permissions configured on those accounts.

you can override which service account the slaves run w/, or add permissions to the default service accuont.

[2018-01-22 15:00] bparees commented on #484
@gabemontero this is probably an area that needs some doc improvements.  This would probably be a good place to discuss it:
https://docs.openshift.org/latest/using_images/other_images/jenkins.html#using-the-jenkins-kubernetes-plug-in

Also the link in this section:
https://docs.openshift.org/latest/using_images/other_images/jenkins.html#kubernetes-plug-in

is broken. it points here: https://docs.o

[2018-01-22 15:15] victorvoronin commented on #488
And what about momentjs?

[2018-01-22 15:17] bparees commented on #488
@victorvoronin also appears to be a packaging issue.

[2018-01-22 16:07] gabemontero commented on #481
Back to indicating the jenkins version in the readme ....

I'm going to see if I can update a file in the repo that pulls the jenkins version from the resulting image as part of the build process out of the Makefile.  Then just link to that file from the readme.

[2018-01-22 16:28] gabemontero commented on #488
Ahh... there are actually disclaimers on both the handlebars and momentjs plugins to not install it directly - https://plugins.jenkins.io/handlebars and https://wiki.jenkins.io/display/JENKINS/Moment.js

That is different than the security advisory updates I mentioned previously....there were no warnings about installing those explicitly

So yeah per the @bparees original assessment we'll defer to

[2018-01-22 19:43] davidaah commented on #465
@jim-minter did some more testing, the only obvious difference I can find is that the one host has the latest docker available from centos while the other is running the latest docker from docker-ce stable repo

does openshift have a recommended docker version? looking at the ansible installer it seems to just install the "latest" available docker from configured yum repos

[2018-01-22 19:50] #481 closed

[2018-01-22 23:20] #477 closed

[2018-01-23 10:49] grdryn commented on #481
@gabemontero if you add a label with the specific Jenkins version, then I think one would be able to use a tool such as [skopeo](https://github.com/projectatomic/skopeo) to check the version without having to pull an image. E.g.:

[code]

Result:
[code]

[2018-01-23 15:27] jim-minter commented on #465
The latest CentOS docker is advisable on the grounds that a) it's used more for development, and b) it's what is validated against upstream (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.7.md#external-dependency-version-information).