[2020-02-04 16:56] akram commented on #1011
Hi @andyfeller
thank you for reporting this. I had a long look at this, and the article also states that the benefits are important for Jenkins instances having large heaps (>24GB) which is not the most common scenario for us. As we tend to encourage to have one Jenkins per application or domain and reuse agents.

I will close the issue then, but feel free to re-open it if you think it requires a

[2020-02-04 16:56] akram commented on #1011
/close

[2020-02-04 22:57] davgordo opened #1025 "Invalid Jenkins image coordinates in imagestream"
https://github.com/openshift/jenkins/blob/master/openshift/imagestreams/jenkins-rhel7.json refers to an image at `registry.redhat.io/openshift/jenkins-2-rhel7:v4.0`. This image does not seem to exist.

Curious, since this seems to have gone unnoticed, is there a location that is more common to source the Jenkins image streams and templates?

[2020-02-05 03:05] andyfeller commented on #1011
I’m not sure that’s historically been a recommendation or expectation around this project though I invite @gabemontero and @bparees to correct me if I’m wrong.  What’s more, that was our initial direction when we adopted openshift/jenkins and found it exponentially increased toil in the form of managing patches, upgrades, and cognitive load of end users.

By organizing Jenkins around our OUs, were

[2020-02-05 03:14] bparees commented on #1011
The best defaults are always going to be a struggle for something used in as many different ways as jenkins and in general we've had a hard time getting it right for any java app.

But assuming G1 has no clear drawbacks(I have done zero research on the subject) for most deployments, it seems worth considering using as the default, even if the benefits only apply to a small percentage of deployment

[2020-02-05 12:14] raphw commented on #1018
This is [a JVM restriction](http://hg.openjdk.java.net/jdk/jdk/file/932418820c80/src/jdk.attach/linux/native/libattach/VirtualMachineImpl.c#l167) to avoid that a process attaches to another user's process. In case of running in a container, this would not be necessary as sandboxing already is achieved but I do not think that it can be avoided in HotSpot.

[2020-02-05 13:15] gabemontero commented on #1011
Yeah in the past the openshift org collaborated with the middleware folks and open jdk folks on OOTB jvm heap/gc settings, typically following their lead.

With the JDK 11 full support for this image "close" (once the openjdk fixes the TLS bug we found which breaks the login plugin :-) ), it seems appropriate to me that @akram and @siamaksade might have a card in an upcoming sprint to reach out ag

[2020-02-05 13:24] akram commented on #1018
thank you @raphw for explicating and explaining this.
@jelmew , can you give more context and what are the consequences of this error?
I think you have probably extended the images to add things using JNI ? or you are using native calls from the pipeline?

[2020-02-05 15:05] akram commented on #1011
/reopen

Let's keep this one open then to track this documentation update and deeper investigations on it.
For sure, there are different scenario and usages, and not setting it to default would not prevent from changing it. In terms of performance and tuning, there is  definitely no "one size fit all" stratergy.

[2020-02-06 13:27] raphw commented on #1018
It's probably triggered by a library such as Mockito which uses self-attachment to get access to the instrumentation API. I'm a bit confused why the file is not owned by the user of the process. The process is normally creating this file.

[2020-02-07 14:25] jelmew commented on #1018
Dingding,  it is mockito/junit5 thingy. I am also confused why this happens. The command run is simply mvn clean test, so you would say it would own this.

[2020-02-08 09:59] raphw commented on #1018
Mockito uses Byte Buddy which spawns a process if you use the inline mock maker. This is to attach an agent to itself which cannit happen from equal l process ids. I do however wonder why this new process would be owned by a different user.

[2020-02-10 11:34] jelmew commented on #1018
Do you want a simple reproducer to test this?

[2020-02-11 00:02] raphw commented on #1018
If you can create one, I'd certainly have a look!

[2020-02-12 15:36] akram commented on #999
/close

[2020-02-12 15:36] #999 closed

[2020-02-19 21:32] leigh-j commented on #1005
Fix published

https://access.redhat.com/containers/?architecture&tab=package-list#/registry.access.redhat.com/openshift3/jenkins-2-rhel7/images/v3.11.170-5

[2020-02-19 21:32] #1005 closed

[2020-03-11 22:34] jbodswor commented on #1000
Has this been fixed yet?  I am also having this issue.

[2020-03-12 13:28] laetho commented on #1018
We have ran into a similar issue with Kotlin and Mockk. The Pod specification we use gets the openshfit "restricted" SCC "policy".

The uid and gid ranges are from you namespace (oc describe namespace <yourns>).

For us the id of the user can look like this:
[code]

Everything works as expected and files are created with the permissions according to policy:
[code]
But somehow it gets confused and

[2020-03-12 21:52] akram commented on #1018
@laetho and @raphw  to my understanding the primary group of the user is 0 here and 1000610000 is only a secondary group.
On my jenkins pods, if I rsh and do touch /tmp/file , then, the owner group is 0 not 1000610000

[code]

[2020-03-13 05:45] laetho commented on #1018
@akram Actually, that is absolutely correct. The primary group is 0, I just don't understand the mechanics of it using the secondary group or "supplementalGroup" in openshift context when creating files inside the container. I might be able to "trick" it with changing the primary group in /etc/passwd for the dynamic user.

[2020-03-13 05:50] laetho commented on #1018
@akram Can you check what scc policy you pod object got after admission controllers and scheduler modified it? It should be in the annotation section of the pod specification.

[2020-03-13 08:48] laetho commented on #1018
I have worked around our issue by adding the serviceaccount we used in the namespace to the anyuid scc:

[code]

Then modified the Pod specification used by the Jenkins kubernetes plugin:
[code]

I'll log an issue with RedHat regarding the restricted SCC which really should have worked in my opinion. Atleast to figure out why the supplementalGroup becomes the primary group.

[2020-03-16 08:29] waveywaves commented on #1020
/assign akram

[2020-03-16 09:58] waveywaves commented on #1000
@jbodswor The issue was fixed in https://github.com/openshift/jenkins-sync-plugin/pull/368
What version of sync plugin are you on ? Are you facing this issue in 1.0.44 ?

@bszeti Are you still facing this issue ?

[2020-03-19 05:25] jbodswor commented on #1000
Yes, still having trouble.  Upgraded Jenkins to the following...
---
Container Image: registry.redhat.io/openshift3/jenkins-2-rhel7:v3.11.170-5
Jenkins Version: 2.204.2
Openshift Sync: 1.0.44
---
All kubernetes pod templates have the empty lowercase http_proxy, https_proxy, and no_proxy EnvVars settings added (set to null).  Manually removing them only commits the change to the 2 custom slaves tha

[2020-03-25 03:26] shnplr opened #1040 "OpenShift 3.11 Jenkins maven agent with Maven 3.6.x"
Will there be a Jenkins maven slave image for Maven 3.6.x?

The S2I java 8 image appears to support Apache Maven 3.6.1 (Red Hat 3.6.1-6.3).

[2020-03-25 06:57] jr00n commented on #1000
Haveing same problem.

`2020-03-25 06:42:57.545+0000 [id=96]	INFO	i.f.j.o.PodTemplateUtils#setProxyEnvVar: Adding Proxy EnvVar for Template nodejs10
2020-03-25 06:42:57.546+0000 [id=96]	WARNING	i.f.j.o.ConfigMapWatcher#eventReceived: Caught: java.lang.NullPointerException
java.lang.NullPointerException
	at org.csanchez.jenkins.plugins.kubernetes.PodTemplate.setEnvVars(PodTemplate.java:490)
	at io.

[2020-04-02 00:21] waveywaves commented on #1040
Currently we have no plans of doing so, but you can go ahead and create your own agent based off of the `slave-base` scaffold present in the root of this repo. https://github.com/openshift/jenkins/tree/master/slave-base

[2020-04-23 12:40] andyfeller commented on #722
This appears to have been done as part of https://github.com/openshift/jenkins/pull/913 for upgrading the sync plugin.

[2020-04-30 12:06] dcdh commented on #997
Another way to build the image:

1. git clone https://github.com/openshift/jenkins.git /tmp/jenkins
1. cd /tmp/jenkins && git checkout e2a35ea
1. cd /tmp/jenkins/2 && docker build -t docker.io/openshift/jenkins-2-centos7:e2a35ea .

[2020-05-15 21:53] jimbair opened #1056 "Unable to change security realm with OpenShift Login plugin enabled at app creation"
When using the 'jenkins-persistent' template in OpenShift, if you try to switch your Access Control Security away from OpenShift Login to something else (OpenID in our case, but I've tried every other radio dial), when you click Save or Apply to make the change, Jenkins keeps "Login with OpenShift" as the Security Realm.

I am able to locally recreate this using code ready containers (crc) to spin

[2020-05-18 15:10] AbdulR3hman opened #1058 "go-init permission denied when running with podman"
Hi,

I'm having a problem building the go-init slave-base. The error is shown below;

podman build -t go-init-example .
STEP 1: FROM openshift/origin-release:golang-1.12 AS builder
STEP 2: COPY ./ /go/src/go-init
c9732b81e04f593170977d4930ca27fc709dc839db835517aab385fa87947a66
STEP 3: RUN go install go-init
can't load package: package go-init: open /go/src/go-init: permission denied
Error: error b

[2020-05-23 19:55] bszeti opened #1059 "release 4.4 - git plugin - java.lang.NoSuchMethodError: 'org.eclipse.jgit.lib.Ref org.eclipse.jgit.lib.Repository.getRef'"
In release 4.4. the installed Git plugins has a problem that causes an exception with pipelines from SCM. Problem is probably caused by incompatibility between [installed plugins](https://github.com/openshift/jenkins/blob/a08ad146ce5ccd847e534f91e1b24a3134d2dac6/2/contrib/openshift/base-plugins.txt):
- git-client:3.0.0
- git:3.9.3
See related ticket: https://issues.jenkins-ci.org/browse/JENKINS-53

[2020-05-26 10:33] akram commented on #1059
Hi @bszeti , thanks for reporting this, we will have a look at it

[2020-05-26 14:35] jimbair commented on #1056
A friendly ping to see if I should triage this issue here or at the plugin page - thank you

[2020-05-27 09:22] dokaspar opened #1060 "Cannot delete Jenkins job (permission denied)"
Hi,

In our Openshift environment, we run a Jenkins that I have built with a three-liner Dockerfile like this:
[code]
I may have made a mistake in not setting another USER after running as root...
So my first question is:
- **Which user should be set again after `USER root`?**

I assume that this is the reason that Jenkins now is unable to remove some directories. Everything in my persistent volum

[2020-06-02 14:13] mesadhan opened #1062 "openshift/jenkins-2-centos7 image throwing javax.net.ssl.SSLHandshakeException"
I'm using `openshift/jenkins-2-centos7` docker image in the on-premise `OKD Cluster v3.11`. When deploying that everything working perfectly but it throwing below expectations.

[code]

So I can't connect Jenkins server for plugin update related issue. Most importantly I cannot clone git repository.

[2020-06-02 21:46] mpreu opened #1063 "go-init breaks s2i builds"
Hi,

unless I am missing something obvious, the `go-init` init system introduced with `release-4.3` makes `s2i` builds currently impossible. Trying to run an `s2i` build locally or using a `source` build in OCP (verified against an OCP 3.11 cluster, no OCP 4.x cluster available) results in just starting the image without actually processing the `s2i` build scripts.

For example:

[code]
outputs

[

[2020-06-03 15:31] chriscarpenter12 opened #1064 "Upgrade Jenkins to support OpenShift plugin dependencies"
Installing the latest plugins from Jenkins plugin registry fail to activate the OpenShift Sync plugin because it depends on Kubernetes plugin. That plugin requires to use Jenkins 2.204.6.

![image](https://user-images.githubusercontent.com/458486/83656351-6d3e6980-a58d-11ea-99d4-6175a1747c15.png)

Can we get the Jenkins version updated to 2.204.6 to support the latest Kubernetes plugin?

![image](

[2020-06-03 15:48] chriscarpenter12 commented on #1064
It looks like the base was updated to `2.222` [already](https://github.com/openshift/jenkins/commit/9c670829e6d84a23c373329b6a15d310b9cc947b). How do we get this? The container at the RedHat container registry is using 2.204 still.

![image](https://user-images.githubusercontent.com/458486/83658415-2dc54c80-a590-11ea-8f51-a47ac4cd4977.png)

[2020-06-04 05:33] ahmedwaleedmalik commented on #836
Hi, are there any other workarounds for this ? Currently, this is acting as a blocker for me as well. Updating the volume doesn't seem like a viable solution.

[2020-06-04 12:58] akram commented on #1058
Hi @AbdulR3hman ,

are you running the image form master?
if yes, I suspect that a recent security fix that we added may be not working with podman on rhel7.
Can you confirm ?

[2020-06-18 08:08] khteh opened #1085 "Node.JS node always offline due to JNLP exception: java.net.MalformedURLException: no protocol:"
I am using OpenShift Jenkins pipeline to build a Node.JS application.
I have the following configMap:
[code]
The slave pod comes up and die due to the second container, jnlp, which I don't find anything traceable in the logs.
[code]
[code]
How can I fix this? Thanks.

[2020-06-18 08:20] khteh commented on #1085
I manage to collect the jnlp logs but this is collected after I switch to using image nodejs:latest, not the jenkins-agent-nodejs:latest:
[code]

[2020-06-19 11:28] khteh opened #1088 "OpenShift Jenkinsfile access git branch name and other environment variables"
How to retrieve git branch name and other standard/built-in environment variables in BuildConfig / Jenkinsfile? I have had the necessary git plugins installed. However, everything is null / empty when referenced in Jenkinsfile / BuildConfig template

env.GIT_BRANCH or GIT_BRANCH is empty.

[2020-06-19 12:03] chriscarpenter12 commented on #1064
Closing this because there's an [open PR](https://github.com/openshift/jenkins/pull/1067) already.

[2020-06-19 12:03] #1064 closed

[2020-06-19 16:19] akram commented on #1088
Hi @khteh

BuildConfig is only a configuration object and not a runtime object, it is used to trigger a build. Once the build is created (oc start-build) it is materialiazed as a pod and it has SOURCE_REPOSITORY, SOURCE_URI, etc... where we can get what you need.

Jenkinsfile describre a pipeline which is a wider context, and you can use any classic jenkins dsl based object to get  the git context

[2020-06-23 13:52] cliffred opened #1090 "nss_wrapper does not work in 32-bit JVM"
Whenever the Jenkins slave uses a 32-bit JVM nss_wrapper does not work and the following error is shown.
`ERROR: ld.so: object 'libnss_wrapper.so' from LD_PRELOAD cannot be preloaded: ignored.`
This causes Java to look in the regular /etc/passwd which does not contain a 'default' entry for the generated user id. Therefore `System.getProperty("user.home")` returns `?`.

I am using Openshift 3.11 an

[2020-06-24 11:24] abraverm opened #1093 "CentOS-Base.repo file is missing"
Building `jenkins/2/Dockerfile.localdev` fails due to a file that was removed:
https://raw.githubusercontent.com/cloudrouter/centos-repo/master/CentOS-Base.repo

The error:
[code]

[2020-06-24 16:09] akram commented on #1093
thanks for reporting this. working on a fix now

[2020-06-24 17:10] abraverm commented on #1093
I hope the original file will return as I'm using an older version of the repo (around 2.190.2 bump commit)

[2020-06-26 11:56] abraverm commented on #1093
is there a way to restore the original file?

[2020-06-26 15:31] akram commented on #1093
@abraverm I am afraid it is not possible. I don't have the historical reason on why we used this repository, but for sure we (Jenkins on OpenShift / Red Hat team) are not the owners of the repo there, and this dependency was there for a long time ago.

I have put a copy of the file in our current repository so, we shouldn't face the issue anymore.
Please, grab it from our main branch and tell me i

[2020-06-26 15:32] akram commented on #1093
/close

[2020-06-26 15:32] #1093 closed

[2020-06-26 15:36] akram commented on #1090
Hi @cliffred , thanks for reporting this.
we (re-)introduced nss_wrapper because of a security issue and indeed that makes the image dependant on the platform  architecture it has been built on.
Do you have the ability to try to build it on a x86 32bits arch? this should pull nss_wrapper for this archictecture insteand of the x86_64 one.

as another workaround, can you try setting HOME env var in

[2020-06-26 15:40] akram commented on #1085
Hi @khteh ,

iirc in the PodTemplate, the first containerTemplate of the must be named "jnlp" and not "nodejs" .
the PodTemplate can still have the name nodejs.

Could you please try and let us know ?

I see that there is also an error with proxy configuration, based on logs, it seems to be ignored

[2020-06-26 15:47] akram commented on #1063
Hi @mpreu, thanks for reporting this.

we have moved from dumb-init to go-init because dumb-init packages where not available anymore in Red Hat repositories that we use to build the enterprise bits. dumb-init was not supported upstream anymore, so we had to embed our own solution.

Would you mind trying the to build the image with the following syntax:
[code]
instead of
[code]

and see if it fixe

[2020-06-26 15:50] akram commented on #1062
Hi @mesadhan ,

can you give more context about the exception ?

[2020-06-26 15:54] akram commented on #1060
Hi @dokaspar

indeed, you should not hardcode `USER` , as this is something we consider that it can bring security issues, and especially if you set root.

The images that we provide are intended to be used on OpenShift, and openshift for security reason, by default, runs any image with an arbitrary random user higher than 100000000 ; this user is kept accross restarts so files continue to belong

[2020-06-26 22:16] mpreu commented on #1063
Hi @akram,

thanks for the response and the further explanations.

Testing like this:
[code]
leads to the following error in the s2i build process:

[code]

The important part
[code]

can be easily reproduced like this:

[code]

Whereas the following construct works:

[code]

[2020-06-27 10:37] khteh commented on #1085
This is fixed. Thanks.

[2020-06-27 10:37] #1085 closed

[2020-07-02 12:16] shakenfr opened #1104 "::q!"

[2020-07-02 12:17] #1104 closed

[2020-07-02 12:20] shakenfr opened #1105 "Dockerfile not build inside 2 folder"
hello,
I take this dockerfile to add addtional package that miss for me (like ksh package).
When I try a docker build .
I have an error when It tries to install yum packages

could not resolve host : base-4-6.ocp.svc; unknow  error

How can I correct this ?
best
bruno

[2020-07-03 11:19] tocosonic opened #1106 "Building image for CentOS fails on Step 13/22 with "Error getting repository data for rhel-fast-datapath-beta, repository not found""
I've just tried to build the images by using the source code as well as the documentation provided. My runtime environment is a CentOS7 (7.7.1908) VM.

I've tried building the branches **master** and **release-4.7** with this command:

`make build VERSION=2`

In both cases it (execution of a Dockerbuild) fails on step 13/22 with:

[code]

Any ideas? The repo `rhel-fast-datapath-beta` is excluded b

[2020-07-07 13:46] cliffred commented on #1090
Hi @akram,
Thanks for the suggestions. I worked around it by setting `OPENSHIFT_JENKINS_JVM_ARCH` to `x86_64` to always run on a 64-bit JVM, regardless of the memory limit.
The `HOME` env var does not influence the output of `System.getProperty("user.home")` in Java, so that doesn't work unfortunately.

As there are workarounds for this issue, and because of the necessity of nss_wrapper regarding

[2020-07-16 07:18] michaelsauter commented on #1093
@akram I just came across this issue. While this repository has been updated recently, and the RHEL based image was also pushed recently (28 days ago), the last push on Docker hub for `openshift/jenkins-2-centos7:v3.11` was 4 months ago. It seems that the image push doesn't work - as can be seen in https://ci.openshift.redhat.com/jenkins/view/All/job/push_jenkins_images/335/console, which shows th

[2020-07-16 07:22] clemensutschig commented on #1093
https://raw.githubusercontent.com/cloudrouter/centos-repo/master/CentOS-Base.repo seems to be populated again? ... maybe a simple rebuild does it?

[2020-07-21 13:28] michaelsauter opened #1109 "openshift/jenkins-2-centos7 is outdated"
While this repository has been updated recently, and the RHEL based image was also pushed recently to registry.access.redhat.com, the last push on Docker hub for [openshift/jenkins-2-centos7:v3.11](https://hub.docker.com/layers/openshift/jenkins-2-centos7/v3.11/images/sha256-02310a4743e1dddb29b37a75ebf10ad0279621b31f31b3f1201433c59736696c?context=explore) was 4 months ago. As a result, the latest

[2020-07-21 13:29] michaelsauter commented on #1093
Opened a new issue #1109 to address this - this is really crucial for users of OpenShift 3.11.

[2020-08-12 23:15] akram commented on #1088
/close

[2020-08-12 23:17] akram commented on #1105
you are probably using the rhel7 dockerfile which is supposed to run on a rhel7 host.
Use the Dockerfile.localdev instead that uses a CentOS based image and that can be built on any platform.

[2020-08-12 23:17] akram commented on #1105
/close

[2020-08-12 23:17] #1105 closed

[2020-08-12 23:18] akram commented on #1106
We see this sometimes. The workaround is to remove the exclusion of the repo.

[2020-08-13 03:21] khteh commented on #1088
@akram I `echo "Branch: ${env.BRANCH_NAME}"` in Jenkinsfile and the value is NULL!

/open

[2020-08-13 04:49] akram commented on #1088
/reopen

[2020-08-13 08:57] djbrown commented on #940
Was this issue resolved in the meantime? https://catalog.redhat.com/software/containers/openshift3/jenkins-agent-nodejs-12-rhel7/5ed780025a1346074ecce6a6

[2020-08-13 13:32] akram commented on #940
@djbrown , yes it was, thanks for the reminder
I will close it then
/close

[2020-08-13 13:33] #940 closed

[2020-08-19 08:13] chan43999 opened #1144 "openshift3/jenkins-2-rhel7:v.3.11 add option to skip TLS verification when install plugins"
In the `jenkins/2/contrib/jenkins/install-plugins.sh`. [line 229](https://github.com/openshift/jenkins/blob/openshift-3.11/2/contrib/jenkins/install-plugins.sh#L229). When trying to `curl` to download plugins. Can we add some code to read the system environment like 'SKIP_SSL_VERIFY' and add the `--insecure` flag to the`curl` command

[2020-08-19 08:56] akram commented on #1144
Hi @chan43999

this is available in more recent images by using the environment variable JENKINS_UC_INSECURE

https://github.com/openshift/jenkins/blob/release-4.6/2/contrib/jenkins/install-plugins.sh#L229

[2020-08-19 09:02] chan43999 commented on #1144
@akram We are using Openshift 3.11 and this image [openshift3/jenkins-2-rhel7](https://catalog.redhat.com/software/containers/openshift3/jenkins-2-rhel7/581d2f4500e5d05639b6517b?tag=v3.11.248-4). Im not sure which version of image contains the changes above because the image version is still 3.11 so I understand that it still use the branch `openshift-3.11`

[2020-08-19 09:05] akram commented on #1144
it is available in 4.x images (starting from 4.2 iirc).
You can reuse the same approach that the one  in the script or see if migrating to 4.x would be better for you.

[2020-08-19 09:14] chan43999 commented on #1144
Any chance to add this to version 3.11.x images in the future as well? So i don't have to customize the script by my self

[2020-08-19 10:02] akram commented on #1144
@chan43999 , we are only maintaining the 3.11 version. Such a feature being not vital nor a security issue; we don't plan to backport it

[2020-08-19 19:16] akram commented on #1090
Thanks
/close

[2020-08-19 19:16] #1090 closed

[2020-11-03 13:45] #676 closed

[2020-11-03 19:45] #735 closed

[2020-11-03 19:45] #777 closed

[2020-11-11 08:12] #858 closed

[2020-11-11 23:13] akostadinov opened #1181 "tag 4.6 should contain oc 4.6"
Hi, presently images pushed to Quay seems to be built from https://github.com/openshift/jenkins/blob/master/slave-base/Dockerfile.localdev#L13

So all images contain `oc 4.2`. I think `quay.io/openshift/origin-jenkins-agent-base:4.6` should contain `oc 4.6`. And `quay.io/openshift/origin-jenkins-agent-base:4.8` should contain `oc 4.8`. etc.

[2020-11-24 21:07] #1004 closed

[2020-11-26 21:14] #1025 closed

[2020-11-27 03:15] #1011 closed

[2020-11-28 06:43] #1062 closed

[2020-11-30 10:29] lbourgeois76 commented on #1018
there is any news about this subject ?

[2020-12-02 03:35] #1020 closed

[2020-12-03 03:39] #1000 closed

[2020-12-04 09:27] cmoulliard opened #1190 "Question: Get the User`s Token for curl request ?"
## Question

How can we get the User`s Token for curl request when `OPENSHIFT_ENABLE_OAUTH` is true ?
Such a token is needed when we want to perform such a request to get a crumbId

[code]

[2020-12-04 09:44] #1040 closed

[2020-12-08 09:58] #997 closed

[2020-12-13 22:19] #1059 closed

[2020-12-13 22:19] #1056 closed

[2020-12-16 04:27] #1058 closed

[2020-12-22 22:51] #1060 closed

[2020-12-22 22:51] #1063 closed

[2020-12-28 17:13] #1109 closed

[2020-12-30 11:19] #1018 closed

[2021-01-04 17:01] pjanouse opened #1191 "Bad usage of ${image_config_dir} in /usr/libexec/s2i/run"
The envvar `image_config_dir` isn't populated yet at its reference [here](https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L24) produces always an empty string thus file `/jenkins.model.JenkinsLocationConfiguration.xml.tpl` can't be found.

Function `create_jenkins_location_configuration_xml` is called immediately after its definition but the envvar `image_config_dir` is declared

[2021-01-10 06:00] #1106 closed

[2021-01-10 12:10] #1088 closed

[2021-01-16 18:23] #1144 closed

[2021-01-27 16:27] cmoulliard opened #1206 "Bump jenkins version as 2.235 is 9 months old"
## Proposition

Bump jenkins to a more recent version as the one packaged which is `2.235` is [9 months old](https://github.com/jenkinsci/jenkins/releases/tag/jenkins-2.235).

See package included within the image: https://catalog.redhat.com/software/containers/openshift3/jenkins-2-rhel7/581d2f4500e5d05639b6517b?container-tabs=packages -> `jenkins-2.235.5.1600415953-1.el7.noarch`

Latest release o

[2021-02-09 10:00] akram commented on #1206
Hi @cmoulliard
we are in the process of upgrading to 2.263.3 LTS.

[2021-02-10 08:45] cmoulliard commented on #1206
Super :-) When is it planned to release a new image as this one still uses 2.235 - https://catalog.redhat.com/software/containers/openshift3/jenkins-2-rhel7/ ? @akram

[2021-02-10 19:27] mbecca opened #1224 "Warning or Error?: _/bin/sh: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)_"
Hello,

I have the following warning/error? when extending the base image of the slave: quay.io/openshift/origin-jenkins-agent-base:4.8.0

_/bin/sh: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)_

Complete docker build log:

[code]

My Dockefile (simplifided)

Thanks in advance!

M.

[2021-02-24 14:32] struemli commented on #1191
I ran into the same problem. Leads to this error:
[code]
as `image_config_dir` is not yet defined.

[2021-03-07 12:01] tobyqin opened #1241 "Bug: Jenkins will failed to notify stash/bitbucket when there is multiple routes in namespace"
Hi team, we met an issue that Jenkins will failed to notify stash with below error:

[code]
As we found the `JENKINS_URL` was not set correctly in `/var/lib/jenkins.model.JenkinsLocationConfiguration.xml` file.

After digging into log and source code, we found a bug in bellow file:

https://github.com/openshift/jenkins/blob/84056bf7c0fc2b42b118761e610953e9b2fc89c5/2/contrib/s2i/run#L19

[code]
It

[2021-03-19 19:08] erikhjensen opened #1243 "Ideas for getting JSON or other rich logging format for better APM integration"
We're currently using Jenkins Masters in OpenShift and it seems to use the java.util.logging simple formatter.  I can teach our APM likely how to ingest the single line log files properly so that the severity maps correctly but the APM team's recommendation is to adjust the source appender instead.

Is it possible for us to adjust the Jenkins container to use log4j or another framework which would

[2021-04-11 18:35] #1181 closed

[2021-05-03 18:57] #1190 closed

[2021-05-18 07:29] maximili0n opened #1270 "Feature Request - Helm Chart"
Hi,
I was working with the official Jenkins docker image and their community Helm Chart. When I was migrating from our PoC environment to our productive environment I had to switch to the official RH Jenkins image due to compliance reason and tried to apply the official Helm Chart as well. Because of the differing file structure within the image as well as the s2i processes within the image, I was

[2021-05-26 07:39] pjanouse commented on #1191
/remove-lifecycle stale

[2021-06-06 14:30] tobyqin commented on #1241
/remove-lifecycle stale

[2021-06-10 16:06] isantiagom commented on #1018
If you cannot apply the workaround of changing the policy is there any other solution?

[2021-06-12 14:21] bookwar opened #1277 "jenkins base agent fails with cat: /sys/fs/cgroup/memory/memory.limit_in_bytes: No such file or directory"
When running `origin-jenkins-agent-base` with podman on Fedora 33, it fails as it tries to access `/sys/fs/cgroup/memory/memory.limit_in_bytes` which is not available

https://github.com/openshift/jenkins/blob/master/slave-base/contrib/bin/run-jnlp-client#L18

[code]

[2021-06-16 04:25] Dennis-kw-yiu opened #1284 "Update jenkins-ephemeral"
Hi all,

I am newbie to openshift when I build new app from the jenkins-ephemeral using the command "oc new-app jenkins-ephemeral -p MEMORY_LIMIT=2048Mi" , I found that some of the script in my jenkins file not works. The root cause seems due to the version of the Jenkins is not up-to-date. Is there any recommended way to update the Jenkins that built from the template?

Environment
Openshift 4.x

[2021-06-17 15:25] akram commented on #1284
Hi @Dennis-kw-yiu ,

can you share any logs?
the current version of Jenkins that we are using in our images are based on 2.277.x and new ones are coming with the latest LTS .

[2021-06-17 15:26] akram commented on #1277
PR #1019 addressing that is on the way to be merged.
This is related to the fact that fedora uses cgroups v2 .

[2021-06-17 15:27] akram commented on #1270
@waveywaves is working on that. We are planning to release it soon completary to openshift templates for our Jenkins image.

[2021-06-17 15:33] akram commented on #1243
Hi @erikhjensen
to do that, you can indeed use a customer formatter which is compatible with java.util.logging API (JUL) which is the one that we use and configure for our Jenkins image.

You can use an already existant jar (GELF Formatter for example) or develop your own and make sure it is available somewhere in the classpath so the JVM finds it; then you have to reference it and configure it in

[2021-06-17 15:37] akram commented on #1241
Hi @tobyqin ,

to my understanding we are getting the first route in the current namespaces matching also the JENKINS_SERVICE_NAME.
So, indeed, if you are exposing the service using 2 different routes the JENKINS_URL will be set to the first one.

There cannot be a silver bullet for that. If you really need 2 or n routes and pass this to your notification system, you will have to have multiple env

[2021-06-17 15:58] akram commented on #1206
we are now on 2.277.x

/close

[2021-06-17 16:00] #1206 closed

[2021-06-17 18:18] Dennis-kw-yiu commented on #1284
Hi @akram

However, when I check the version from the jenkins, it is 2.204.2 and found the version 2.289.1 is available

![image](https://user-images.githubusercontent.com/44917409/122452001-58d3e000-cfdb-11eb-9669-aa8aba09f167.png)
![image](https://user-images.githubusercontent.com/44917409/122452025-612c1b00-cfdb-11eb-8a1e-77f5c7c4502b.png)

[2021-06-17 21:16] erikhjensen commented on #1243
Thanks very much, I had a look for *gelf*.jar and it doesn't look like that's in our file system.  Are you specifically referring to a .jar that's part of Jenkins on OpenShift or, were you referring to a .jar available in industry?

Erik

From: Akram Ben Aissi ***@***.***>
Sent: Thursday, June 17, 2021 9:33 AM
To: openshift/jenkins ***@***.***>
Cc: Erik Jensen ***@***.***>; Mention ***@***.***>
Su

[2021-06-18 12:38] max-allan-surevine opened #1292 "kubernetes plugin has been updated but not pipeline DSL"
Someone seems to have upped the version of the k8s plugin but not the "Pipeline: DSL" plugin.
So, you get a failure to load the k8s plugin on startup. If you're running in an openshift cluster or have a k8s cluster defined in Clouds, this is pretty catastrophic and Jenkins will not start.
(Seen in quay.io/openshift/origin-jenkins@sha256:435b59b8ef826cbc06f6e2e1ca3507b50390fd9318ddedfa60767bb832d49

[2021-06-18 12:53] akram commented on #1292
Thanks Allan for reporting it.
Because of a hard dependency on openshift-client plugin, this dependency has been erratically pull during our tests.
We had to update openshit client plugin to make the workflow-cps pinning to work.

Our build script were reporting that workflow-cps:2.90 was used, but, 2.87 was remained packaged.
This is pending fix.

[2021-06-20 08:45] tobyqin commented on #1241
This is the expectation but not implementation, the implementation is:

[code]

expectation should be:

[code]

The bug we met is like this:

1. I have jenkins route in namespace, named as `jenkins-xxx-route`
2. When I deployed another app with route as `abc-route`, jenkins will fail to notify stash, as `abc-route` is ordered before `jenkins`
3. When I removed this `abc-route` and redeploy, jenkin

[2021-06-21 09:13] akram commented on #1292
it has been fixed over the weekend by #1294
can you please confirm that it is also working for you @max-allan-surevine ?
Please re-open if it is not.
/close

[2021-06-21 09:13] #1292 closed

[2021-06-21 09:15] akram commented on #1277
PR has been merged.
@bookwar can you please confirm it is also working for you?
if not, please reopen this issue.

Greetings
Akram
/close

[2021-06-21 09:15] #1277 closed

[2021-06-21 09:17] akram commented on #1241
I have missed that part:
[code]

[2021-06-21 21:47] akram commented on #1241
Filtering on the jenkins label or not will not solve the issue, as multiple routes can have the jenkins label, it will just move the problem to take the first route with jenkins label and point to service JENKINS_SERVICE_NAME.
As a workaround, I can only suggest you to rename your route so the script will pick the one matching your needs. Or you can propose another solution with a PR.

[2021-06-28 05:28] jitendar-singh commented on #1277
@akram I just tested it and below are the logs
[code]

[2021-07-11 01:29] tobyqin commented on #1241
I will try to create a PR for this issue, any guide should I follow?

[2021-07-11 07:51] #1224 closed

[2021-07-25 16:53] yanivpaz opened #1309 "Jenkins pods termination if DNS pod is restarting"
I suggest making the code below more resilient :
https://github.com/openshift/jenkins/blob/master/slave-base/contrib/bin/run-jnlp-client#L121

so when  DNS is not responding (because of DNS pod restart),
the pod will not be terminated as seen below :

Downloading <Jenkins host>:18080/jnlpJars/remoting.jar ...
+ curl -sS <Jenkins host>:18080/jnlpJars/remoting.jar -o /home/jenkins/remoting.jar
curl:

[2021-07-27 08:15] akram commented on #1309
Hi @yanivpaz ,
DNS pod restart while Jenkins agent startup is supposedly, a very rare case to happen. Can you describe the scenario where this is happening? is that specific to a Jenkins use case or a buggy DNS pod restarting too often?

[2021-07-27 09:41] yanivpaz commented on #1309
hi @akram  is a buggy DNS pod that sometimes restarts.
do you see issue to add  retry like described here: https://stackoverflow.com/questions/42873285/curl-retry-mechanism

[2021-07-27 10:06] akram commented on #1309
@yanivpaz  You can submit a PR then. That may be useful to community indeed.

[2021-08-05 07:38] lslebodn opened #1311 "Update jenkins in the branch openshift-3.11 for latest security bugfixes."
The branch openshift-3.11 contains LTS version of jenkis with known CVEs
jenkins-2.289.1  https://github.com/openshift/jenkins/blob/10eb612c7632d519de712ca76ac63167574dd1ed/2/Dockerfile#L41

Upstream report for CVE
https://www.jenkins.io/security/advisory/2021-06-30/#SECURITY-2278

We use downstream version of s2i image as part of dogfooding in RH.
We would like to be compliant with all necessary

[2021-08-09 13:11] yanivpaz commented on #1309
Yes, I am testing it.
 which minimum curl version do you think that we need to rely on?

# will run 6 iterations ( after 1,2,4,8,16,32,64 seconds)
curl --connect-timeout 5 \
    --retry-connrefused  --max-time 10 \
    --retry 6 \
    --retry-delay 0 \
    --retry-max-time 40 \
    'http://localhost'

[2021-08-11 19:50] ckavili opened #1313 "s2i cli doesn't work well with origin-jenkins"
Hi,

I've been using `quay.io/openshift/origin-jenkins` image with OpenShift s2i build successfully. However, when I try to run it with `s2i` cli, it doesn't work as expected. When I run the below s2i command, it triggers assemble script but it doesn't do much - instead it tries to start up Jenkins itself.

[code]

[code]

If you look at the running container during the s2i command, it runs a tar

[2021-08-23 16:31] adenhartog commented on #1018
This issue only occurs when building on a Jenkins agent, the Jenkins master can build these projects just fine.

We fixed this issue by changing the Jenkins working dir in the Pod template (Pod Templates -> <specific template> -> Containers -> Container Template -> Working directory) from /tmp to /var/tmp.

I suspect that the cause has to do with Jenkins changing the owning group of the Jenkins wo

[2021-08-23 16:51] adenhartog commented on #1018
I am not familiar with this code base but I do see a reference to the workingDir here: https://github.com/openshift/jenkins/blob/master/2/contrib/jenkins/kube-slave-common.sh

Maybe that needs to be changed?

[2021-08-24 07:13] Kiarashz opened #1315 "Not able to add source to multibranch pipeline"
Hi Team,

I have deployed all image tags at https://quay.io/repository/openshift/origin-jenkins into my OpenShift 4 SandBox and found that adding a source repository does not work when creating a mulitbranch pipeline job as nothing happens when selecting a repository type form the dropdown button.

The only tag that is working is the oldest v4.0.

Could you please take a look and advise?

Thanks

[2021-09-23 08:33] akram commented on #1284
Since this issue, earlier version of the Jenkins image has been released.
If you need to build your own image, please consider having a look at the provided 2/Dockerfile and specifgy an earlier version.

/close

[2021-09-23 08:33] #1284 closed

[2021-09-23 08:34] akram commented on #1270
This is now available here: https://github.com/openshift-helm-charts/charts/tree/main/charts/redhat/redhat/jenkins

/close

[2021-09-23 08:34] #1270 closed

[2021-09-23 10:05] akram commented on #1313
@ckavili can you elaborate on what you want to achieve?
This part of the jenkins on openshift code has been quite old, and our s2i integration was meant to be able to extend the jenkins image by specifying a set of additional plugins for it. Maybe, not all s2i features have been implementent fully.

It seems that you have found a workaround for it. If it is an easy fix for us that worth implementi

[2021-09-23 10:15] akram commented on #1309
@yanivpaz 5 retries would be sufficient because failing after too long may have other impacts.

[2021-09-23 10:21] akram commented on #1311
Fixed by https://github.com/openshift/jenkins/pull/1317

/close

[2021-09-23 10:22] akram commented on #1311
/reopen
I didn't notice that this was for 3.11

[2021-09-23 12:41] ckavili commented on #1313
hey @akram , thanks for the reply! We have [some configs](https://github.com/rht-labs/s2i-config-jenkins) to customize/extend Jenkins for our needs and we use `s2i` cli with GitHub actions to build and store this customized Jenkins image. It was working fine with `openshift/jenkins-2-centos7` but when we switched to `quay.io/openshift/origin-jenkins`, it seems, s2i process cannot actually trigger

[2021-09-23 13:35] akram commented on #1313
@ckavili mmm, could it be related to the fact that we use an `ENTRYPOINT` with args ?
https://github.com/openshift/jenkins/blob/master/2/Dockerfile.localdev#L97

[2021-10-01 12:59] blazmanx34 opened #1323 "SElinux and git-client"
Hello,
since we have upgraded our Jenkins to the last version : v3.11.521, we are not able to pull source code in our pipelines.

This message appears in the logs for each scm checkout :

[code]

It seems the problem is linked to SELinux.
With the previous version we used (v3.11.346), there were no problem.

Have you got an idea for a solution to solve this problem ?

In advance, thanks for your a

[2021-10-01 13:11] akram commented on #1323
Hi @blazmanx34,

can you give a bit more of a context? How are you using `git` here? Is it a direct call to the git binary from an `sh` directive in pipeline or are you using the git plugins one?
Did you perform a custom git install? is it in an agent? are you using a custom version of the ssh plugin?

Greetings
Akram

[2021-10-01 13:22] akram commented on #1323
@blazmanx34 can you please have a look at this: https://issues.jenkins.io/browse/JENKINS-64913 ?
it seems to be your issue and a workaround is proposed. The issue you are seeing could be related to the introduction of a git+ssh which is SELinux aware. I don't know if it is the case after v3.11.521

[2021-10-01 13:23] blazmanx34 commented on #1323
Thanks @akram for your answer.

We use the docker image of jenkins as it provided by RedHat. We have perform no custom git install.
The error appears on the jenkins master : https://catalog.redhat.com/software/containers/openshift3/jenkins-2-rhel7/581d2f4500e5d05639b6517b?container-tabs=overview
I can't use an agent for instance.

We use declarative pipelines.
The error appear in the "Declarative:

[2021-10-01 13:26] blazmanx34 commented on #1323
@akram I have already read this issue.
It seems indeed that my problem seems to be linked to this issue.
I confess that that I don't understand how can I make a workaround...

`A short-term workaround at this point was to save into Jenkins Credentials a copy of the key without a passphrase` ?
We have no passphrase in our credential.

[2021-10-01 15:21] blazmanx34 commented on #1323
@akram I have installed libselinux-utils in the jenkins image container and SELINUX is disabled

[code]

However, the git client plugin behaves as if the SELinux Enforced mode is enable because :
* `/usr/bin/chcon` is executable
* `/proc/self/attr/current` contains ":"
* `/sys/fs/selinux` directory exists
* `/sys/fs/selinux/enforce` doesn't exist

(https://github.com/jenkinsci/git-client-plugin/bl

[2021-10-04 07:43] blazmanx34 commented on #1323
@akram After several unsuccessful attempts to modify the image, I am at the same state.
For you, what is a possible workaround ?

[2021-10-08 11:09] jlpetitlaurent opened #1327 "why Jenkins property hudson.security.csrf.GlobalCrumbIssuerConfiguration.DISABLE_CSRF_PROTECTION sets to true"
Hi gus,
In Jenkins s2i, why does hudson.security.csrf.GlobalCrumbIssuerConfiguration.DISABLE_CSRF_PROTECTION java property set to true?
https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L630

I could not override this property as it is hard coded:
like this:
ENV JENKINS_JAVA_OVERRIDES='-Dhudson.security.csrf.GlobalCrumbIssuerConfiguration.DISABLE_CSRF_PROTECTION=false'

Regards
Je

[2021-11-03 13:10] lslebodn opened #1329 "Wrong version of jenkins is installed when using Dockerfile.localdev"
There was a commit in master to update jenkins into 2.289.3
https://github.com/openshift/jenkins/commit/e05f13f7c48d9fb1508b5282a30393cf81495f44#diff-6058a42922cbec8eb751f1aa8ac491dcadc2112e3a2f1e229cd37b3d6937da27

However jenkins-2.289.2-1.1 is still installed when using `Dockerfile.localdev`

### How to reproduce:
* git clone https://github.com/openshift/jenkins
* cd 2/
* docker build -t jenkin

[2021-11-03 13:17] lslebodn opened #1330 "Update jenkins to the latest LTS version"
The upstream jenkins page mentions 2.303.2 as the latest LTS version.
https://www.jenkins.io/changelog-stable/

And it was released almost a month ago (2021-10-06)
https://www.jenkins.io/changelog-stable/#v2.303.2

It would be good to upgrade to latest LTS version with all CVE bugfixes at least in master branch.
Upgrade in the **release-4.9** branch would be appreciated as well.

[2021-11-08 13:35] pdelmasgmf opened #1335 "Script run will failed with a new image version and PV"
There is a bug in the script **run**, the **install_plugins()** function is launched twice.

The 1st time because the version of the image is different from the deployed version
The 2nd time because OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS = true

install_plugins ():
- remove ${JENKINS_HOME}/plugins/*
- copy from /opt/openshift/plugins/* to ${JENKINS_HOME}/plugins
- remove /opt/openshift/plugins

So

[2021-11-15 19:17] chriscarpenter12 opened #1342 "pipeline-utility-steps plugin removed from base plugins"
In the process of updating our Jenkins install from 4.7 -> 4.8 I noticed a few plugins originally in the base plugins list were removed we relied on, specifically the `pipeline-utility-steps` plugin.

According to #1294 it removed these plugins entirely:

[code]

Assuming some of these plugins are pulled in as dependencies of others our updated 4.8 installation is missing the following which we pr

[2021-11-16 04:37] jemerald opened #1343 "Support for websocket connection"
See https://github.com/jenkinsci/jep/blob/master/jep/222/README.adoc

Around Jan 2020 Jenkins has added support for WebSocket connection from inbound agents.

This greatly simplifies the setup of Jenkins on OpenShift when slave pods needs to be spawn up in different namespace or even different cluster.

Without this, the Jenkins master deployment would require nodePort to be configured so that the

[2021-11-16 08:45] aiman-alsari commented on #1241
Have pushed a fix for this

[2021-11-17 04:53] #1241 closed

[2021-11-21 15:47] #1243 closed

[2021-11-23 13:29] vv9k commented on #1020
This issue still exists.

[2021-12-09 20:34] adambkaplan commented on #1330
The Jenkins image has now been upgraded to v2.303.3, which includes additional security fixes.

[2021-12-09 20:34] #1330 closed

[2022-01-20 10:15] ewoks opened #1366 "Jenkins images for OCP timeline"
Is there a timeline/plan for new Jenkins images for OCP?
Are there plans to publish Java 17 based image for OpenShift 4.x?

[2022-01-23 10:37] #1315 closed

[2022-01-24 02:48] chengjun0124 opened #1367 "Jenkins core vulnerability"
Jenkins 2.329 and earlier, LTS 2.319.1 and earlier does not require POST requests for the HTTP endpoint handling manual build requests when no security realm is set, resulting in a cross-site request forgery (CSRF) vulnerability.

I have not found the new version in https://catalog.redhat.com/software/containers/openshift4/ose-jenkins/5cdd918ad70cc57c44b2d279?container-tabs=packages. May I ask whe

[2022-01-28 19:21] ewoks commented on #1366
Can someone give any hint on this please? @mfojtik @adambkaplan @akram @gabemontero

[2022-01-28 19:23] ewoks commented on #1367
Is it related with any of these ticket? https://github.com/openshift/jenkins/issues?q=CVE-2022

[2022-01-28 20:12] gabemontero commented on #1366
Actually @ewoks we are pivoting a bit wrt openshift agent images.

In the upcoming 4.10 release (final code freeze was in fact earlier today), we are now providing multi container PodTemplates where the jnlp container is our base agent image, and the language container is an image from the RH container catalog.

We are shipping java/nodejs examples for those multi container pod templates, and as i

[2022-01-29 11:56] ewoks commented on #1366
Roger that, thanks for the clarifications. Is there anywhere I could read more details about migration path to this new model?

[2022-01-31 15:36] gabemontero commented on #1366
Sure.  This is pure Jenkins subject, so the doc is there, though the upcoming 4.10 doc will have some examples as well showing how to leverage this feature of the Jenkins Kubernetes Plugin.

The Jenkins doc you should look at are at https://plugins.jenkins.io/kubernetes/#plugin-content-usage and the multi container subsection at https://plugins.jenkins.io/kubernetes/#plugin-content-multiple-contai

[2022-02-01 07:48] samkhamk opened #1381 "Does Jenkins / Jenkins Slave need the sys_chroot capability to run on Openshift"
Hello Team,

We wants to know Does Jenkins / Jenkins Slave need the sys_chroot capability to run on Openshift ? if yes why and if no how we can use any opensource Jenkins image and deploy  it on Openshift as container without sys_chroot capability,

Does the official redhat Jenkins image works without sys_chroot capability also can we get information  how Redhat deploys the Jenkins in Openshift by

[2022-02-01 09:07] akram commented on #1381
Hi @samkhamk ,
the Jenkins image as provided by Red Hat usually runs on openshift under the `restricted`  SCC.
This SCC does not allow the `CHROOT` capability:

[code]

Our Jenkins image does not use SSH for server-agent communication but the JNLP protocol.

[2022-02-01 09:31] akram commented on #1381
Hi @samkhamk ,
the Jenkins image as provided by Red Hat usually runs on openshift under the `restricted` SCC.
If you are running on openshift/okd you need to check if the SCC does not drop the `CHROOT` capability.

[code]
Our Jenkins image does not use SSH for server-agent communication but the JNLP protocol.

[2022-02-01 09:32] akram commented on #1367
that's correct. The fix is being worked.

[2022-02-02 12:35] akram commented on #1329
We have fixed that during an upgrade. Thanks for reporting that.
/close

[2022-02-02 12:36] #1329 closed

[2022-02-02 13:19] lslebodn commented on #1329
Thank you very much

[2022-02-15 19:30] #1342 closed

[2022-02-16 05:25] chengjun0124 commented on #1367
I have got 2.319.2, thanks.

[2022-02-16 05:25] #1367 closed

[2022-02-16 06:02] chengjun0124 opened #1388 "Faild to upgrade 2.303.3 to 2.319.2"
Hi team

I tried to upgrad jenkins from 2.303.3(registry.redhat.io/openshift4/ose-jenkins@sha256:788061714cd4d1fec426eee54d533018ebf37100ba7a1142e2a2833bd655c66e) to 2.319.2(registry.redhat.io/openshift4/ose-jenkins:v4.9.0-202202080146.p0.ga71a115.assembly.stream) with ENVs
[code]
PVC is mounted to /var/lib/jenkins, and it's not empty. I need remain all my plugins. But it seems that jenkins cannot

[2022-02-16 10:42] akram commented on #1388
hi @chengjun0124 , in some cases, you will not be able to update plugins as-is because they may be incompatible with the new version of Jenkins.
it seems that this is the case for 4 plugins mentioned in this error message.
[code]

Make a backup of your PVC, and I would suggest you try to remove these plugins to see if the upgrade can happens.

We were having a discussion about this scenario yester

[2022-02-17 13:32] ma-fall commented on #1388
Hi @akram and @chengjun0124,

I have been facing the same issue.
Manually deleting the plugins did not help as far as I have understood it.

I believe that s2i run script is creating symbol links to the plugins before jenkins startup. (https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L432). The links point to the plugin versions that are part of the image.

Is it possible that os

[2022-02-17 13:33] akram commented on #1388
@jitendar-singh can you PTAL ?

[2022-02-18 14:28] chengjun0124 commented on #1388
@ma-fall I used the same way as yours, and upgraded jenkins successfully. Thank you @ma-fall @akram .

[2022-02-19 00:55] chengjun0124 commented on #1388
It takes more time to download and patch the specific version of plugin, it is not convenience if we need do these steps every time we upgrade ose-jenkins.

And another problem is that although I upgraded jenkins successfully via downloading and patching some necessary plugins which are list in the jenkins log with error message, many other plugins are covered by ose-jenkins. That means after I up

[2022-02-20 11:03] #1309 closed

[2022-02-20 17:03] #1311 closed

[2022-02-20 17:03] #1313 closed

[2022-02-21 12:59] gabemontero commented on #1388
The symbolic linking you found @ma-fall is part of the `OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS` configuration parameter discussed in https://docs.openshift.com/container-platform/4.9/openshift_images/using_images/images-other-jenkins.html#images-other-jenkins-env-var_images-other-jenkins

The idea that we have carried since the 3.x days is that if you manually upgrade a plugin we include with the

[2022-02-22 07:32] ma-fall commented on #1388
Hi @gabemontero

thanks for all the information and insights.

**What I have done:**
I have updated all Jenkins plugins to the latest available version.
Then have performed the Jenkins update by changing the used image
 - from: Jenkins [2.303.3 (4.9 Image) ](https://catalog.redhat.com/software/containers/openshift4/ose-jenkins/5cdd918ad70cc57c44b2d279?tag=v4.9.0-202111221622.p0.g20ddf94.assembly.s

[2022-02-22 14:36] gabemontero commented on #1388
OK thanks for the confirmation there.  That at least helps.

OK thanks for the confirmation here as well.  Yes, I think yours is the typical pattern historically.  But with the myriad of plugins it simply gets onerous for users like you, to the point that you have to do a bunch of manual upgrades to get the various plugins to a happy state.

We will have to see moving forward if what happened with

[2022-02-22 15:07] ma-fall commented on #1388
@gabemontero thanks for the clarification but unfortunately I don't fully get it.

I wanted to highlight that I found the env var `OVERRIDE_RELEASE_MIGRATION_OVERWRITE` which is also having impact on the plugin installation during startup. It was not mentioned in this discussion before and I can not find it in the [RedHat documentation](https://docs.openshift.com/container-platform/4.9/openshift_i

[2022-02-22 15:10] gabemontero commented on #1388
Yeah OVERRIDE_RELEASE_MIGRATION_OVERWRITE is only applicable for older 3.x versions.  That is not obvious though.

For 4.x only OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS is applicable

[2022-02-28 03:44] chengjun0124 commented on #1388
Hi @gabemontero

The upgrade method I used was just change my deploymentConfig yaml.
old yaml:
`Image: "registry.redhat.io/openshift4/ose-jenkins:v4.9.0-202111221622.p0.g20ddf94.assembly.stream"`
new yaml:
`image: "registry.redhat.io/openshift4/ose-jenkins:v4.9.0-202202080146.p0.ga71a115.assembly.stream"`

I didn't set `OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS`, I only set `OVERRIDE_RELEASE_MIGRATIO

[2022-02-28 09:43] Lonor commented on #1018
Same error occurred on JDK 8 agent, but not on JDK 11.

[2022-02-28 20:23] gabemontero commented on #1388
Thanks for clarifying @chengjun0124 that your core Jenkins upgrade was via upgrading OCP.

Do you know if at some point since the 4.7 install was done, did anybody manually upgrade plugins from the Jenkins Console?  The plugins you listed there as being the wrong version are plugins that are included in the image, and would only not be upgraded if someone previously manually upgraded those plugins

[2022-02-28 20:25] gabemontero commented on #1388
Also, setting OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS to true would re-establish those symbollic links and allow for future OCP upgrades to put the various dependent plugins at the correct versions.

[2022-03-01 03:11] chengjun0124 commented on #1388
Yes, I had installed and upgraded the image with tag 4.9.0x successfully in openshift 4.7, so I assume I can use tag 4.9.0x in openshift 4.7.

I upgraded some plugins via jenkins UI(Updates page and Advanced page). Does this mean 'Jenkins Console'?
**Updates page:**
<img width="1136" alt="1" src="https://user-images.githubusercontent.com/16715803/156095581-ecf760eb-b68b-4b02-883b-7653ece36b30.png"

[2022-03-01 12:44] gabemontero commented on #1388
Yes that is what I mean by "Jenkins Console" @chengjun0124

that's fine @chengjun0124, but then it is your responsibility to manually upgrade the plugins that were noted in your log as being at the wrong version after your upgrade.  Things are working "as designed".

[2022-03-01 13:19] blazmanx34 commented on #1323
For information, there is no problem since version v3.11.570

[2022-03-01 13:22] akram commented on #1323
@blazmanx34 thank you for the feedback

/close

[2022-03-01 13:22] #1323 closed

[2022-03-02 01:44] chengjun0124 commented on #1388
@gabemontero thank you.

[2022-03-02 01:48] chengjun0124 commented on #1388
Can I have a convenient way to upgrade jenkins core without manual upgrading plugins?

[2022-03-02 13:50] gabemontero commented on #1388
`OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS=true` is our answer for that @chengjun0124

[2022-03-03 01:56] chengjun0124 commented on #1388
@gabemontero
Yes, `OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS=true` works. But we cannot remain plugins' version as same as before upgrading unless we manually upgrade them.

[2022-03-03 17:35] gabemontero commented on #1388
OK great @chengjun0124 thanks for confirming

Apologies, I'm having some difficulty parsing this statement ^^, though I *think* I understand.

I *think* what your are saying, if I revisit you comment https://github.com/openshift/jenkins/issues/1388#issuecomment-1054952342, is that you had to manually upgrade

Bitbucket Branch Source
Mailer
Docker Commons
Matrix Project
Metrics
Badge
Credentials Bi

[2022-03-04 06:14] chengjun0124 commented on #1388
OK, I understood. Thank you very much.

[2022-03-07 17:15] #1327 closed

[2022-03-09 02:37] #1388 closed

[2022-03-11 14:08] gaborfinta opened #1405 "System email address gets reset after restart"
Hello!

We have a Jenkins deployment running on Openshift and whenever the pod gets restarted, the System Admin e-mail address gets reset to the default nobody.
I identified _/opt/openshift/configuration/jenkins.model.JenkinsLocationConfiguration.xml.tpl_ file as the template that is used on every startup. It is used to generate the location configuration file but only the Jenkins URL is substitut

[2022-03-16 12:16] akram commented on #1343
/remove-lifecycle rotten

[2022-03-17 16:34] trash-80 commented on #1224
/reopen

[2022-03-23 09:12] akram commented on #1381
/close

[2022-03-23 09:13] akram commented on #1381
/close

[2022-03-23 09:25] #1381 closed

[2022-03-23 09:26] akram commented on #1366
/close

[2022-03-23 16:34] akram commented on #1343
Fixed by #1312
/close

[2022-03-25 16:01] maximili0n opened #1418 "Image incompatible with Jenkins 2.332.1"
Hi,

I am running Jenkins in an OpenShift cluster (4.6, soon 4.7) by using the official RH image (https://catalog.redhat.com/software/containers/openshift4/ose-jenkins/5cdd918ad70cc57c44b2d279?tag=v4.10.0-202203141248.p0.g10e9ee3.assembly.stream&push_date=1647866353000&container-tabs=overview).
I am using the image to build my own where I update packages (including Jenkins) and install updates (pe

[2022-03-25 16:07] maximili0n commented on #1418
[Dockerfile.txt](https://github.com/openshift/jenkins/files/8352102/Dockerfile.txt)
[build-log.txt](https://github.com/openshift/jenkins/files/8352111/build-log.txt)

The build log is referencing the jenkins:v.4.6 image, but I also tried with the latest v4.10. The behaviour is the same.

[2022-04-01 08:02] michelmeeuwissen commented on #1366
- It is unclear to me if we are getting a Java 17 version of https://catalog.redhat.com/software/containers/openshift4/ose-jenkins-agent-maven/5cdd8fe55a13467289f615e7 or not?  Can not found anything about this unfortunately

[2022-04-03 23:03] #1343 closed

[2022-04-07 19:39] arve0 opened #1423 "yum.repos.d removed?"
Hi! 👋
I expected to find repos in /etc/yum.repos.d for jenkins slaves, such that one can enable yum modules, etc. For example registry.redhat.io/openshift4/ose-jenkins-agent-nodejs-12-rhel8:latest have no repos:

[code]

This seems unintended, as [description has "add your own tools"](https://github.com/openshift/jenkins/blob/master/slave-base/Dockerfile.rhel8#L22):

This broke our builds that run

[2022-04-28 05:55] gaborfinta commented on #1405
This is still an issue for us. Is there a chance this will be fixed?

[2022-05-11 16:11] gloria-zmm opened #1446 "Failed to download plugin with provided INSTALL_PLUGINS"
Hi,
We are using OVERRIDE_PV_PLUGINS_WITH_IMAGE_PLUGINS=true and INSTALL_PLUGINS={list of plugins} to install plugins during jenkins start up. We encountered this issue:
[code]
It happened at a very high frequency. Usually after several times of restart it can run successfully finally.
The image we are using is :
registry.redhat.io/openshift4/ose-jenkins:v4.9.0-202202080146.p0.ga71a115.assembly.st

[2022-05-12 01:06] chengjun0124 commented on #1446
Hi
I suffered the same issue. The issue is intermittent.

[2022-05-13 05:14] chengjun0124 commented on #1446
The issue is caused by network issue. When jenkins tries to download plugin, the network is not ready.

It is not an issue from openshift jenkins. Openshift jenkins uses parameter `--retry` of curl to make sure a successful download:
`curl $curl_options --connect-timeout "${CURL_CONNECTION_TIMEOUT:-20}" --retry "${CURL_RETRY:-5}" --retry-delay "${CURL_RETRY_DELAY:-0}" --retry-max-time "${CURL_RETR

[2022-06-13 11:30] akram commented on #1446
@chengjun0124 could you please propose a fix through a PR?
Network flakes and issues can be of a different types, so we still have choice on what to test. And testing on every iteration of download may be unproductive. what do you think?

[2022-06-13 13:47] akram commented on #1405
@gaborfinta do you have the possibility to use the casc plugin to configure that?
The default casc config is in `/var/lib/jenkins/proxy.yaml`

[2022-06-20 09:30] gaborfinta commented on #1405
We do not use that plugin.
Since the configuration file is a template file, it would be the best to substitute all values in it. For example, the email address would get its value from a "JENKINS_EMAIL" environment variable.

[2022-06-27 08:01] ma-fall opened #1456 "Update to Jenkins version 2.346.x"
The last jenkins image is providing 2.319.3 which was release more than 4 months ago.

It would be great if you could provide an up to date image with the latest LTS 😊

[2022-06-27 08:10] saschalaudien opened #1457 "Upgrade Jenkins LTS Version to fulfill Security Advisory Report Findings"
We are using the RedHat Openshift Jenkins Image. Currently we are trying to update the plugins from the Jenkins Security Advisor Report from May (https://www.jenkins.io/security/advisory/2022-05-17/) Unfortunately some of the plugins which which are using in our Jenkins Platform needs at least the Jenkins LTS Version 2.332.1. So that an update to the fixed plugin version will not work e.g., the sc

[2022-06-27 12:22] maximili0n commented on #1418
/remove-lifecycle stale

[2022-06-30 14:02] saschalaudien opened #1458 "Enable CSRF protection for the Jenkins RedHat Openshift Image"
Our Security department made the finding in our Jenkins environment that CSRF Protection is disabled by default in the Jenkins RedHat Openshift Image. It seems that this was introduced with Jenkins RedHat Openshift Image 2.222.1 here:

https://github.com/openshift/jenkins/commit/9c670829e6d84a23c373329b6a15d310b9cc947b

https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L659

For b

[2022-07-13 07:05] ggareth commented on #1446
The issue I was having was not with a flakey network, but with mirrors not being complete.
Have proposed a PR which reduces (makes it work for me) the effects

[2022-08-22 12:55] akram commented on #837
/close

[2022-08-22 12:58] akram commented on #837
/label -tide/merge-blocker

[2022-08-22 13:35] stevekuznetsov commented on #837
/reopen

[2022-08-24 11:25] jmguzik commented on #837
/close

[2022-08-24 11:26] #837 closed

[2022-08-30 06:57] fbm3307 opened #1475 "Testing issue created for samples operator"
this issue is created for the testing purpose no action required

[2022-08-30 07:11] fbm3307 commented on #1475
Closing this as it was only for workflow testing purpose

[2022-08-30 07:11] #1475 closed

[2022-08-30 09:32] fbm3307 opened #1476 "Testing issue creation for samples operator"
This issue is created for testing purpose. No action required.

[2022-08-30 09:43] fbm3307 commented on #1476
This issue was created as part of testing workflow hence closing it .

[2022-08-30 09:43] #1476 closed

[2022-09-05 08:01] #1423 closed

[2022-09-09 07:02] saschalaudien commented on #1457
@coreydaley I saw that you made an update of the Jenkins Version here: https://github.com/openshift/jenkins/commit/0a97a57213eac438c4468345018c4fd9da8020dd
Any idea when a new openshift image will drop out of this? Usually we look here for an update: https://catalog.redhat.com/software/containers/openshift4/ose-jenkins/
But I can't see any updates there with the new Jenkins Version.

[2022-09-09 17:27] coreydaley commented on #1457
4.12 (master) has not been released yet, we are currently working on release a new 4.11, hopefully it will be available next week.

[2022-10-04 14:50] openshift-merge-robot opened #1492 "Future Release Branches Frozen For Merging | branch:release-4.20 branch:release-4.21"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.20`
 - `release-4.21`

For more information, see the [branching documentation](https://docs.ci.openshift.org/docs/architecture/branching/).

[2022-10-04 17:17] jlebon opened #1493 "Kubernetes plugin is old"
The base image is currently shipping [`kubernetes:1.31.0`](https://github.com/openshift/jenkins/blob/c93cf5ddee06bfd299dc0991837333281500fe57/2/contrib/openshift/bundle-plugins.txt#L65), which is almost 10 months old now. There have been [many new releases](https://github.com/jenkinsci/kubernetes-plugin/releases) since then. Is there a reason the Kubernetes plugin pin hasn't been bumped in a while

[2022-10-04 18:20] coreydaley commented on #1493
We don't usually bump a plugin version unless it is 1.) affected by a CVE or 2.) a dependency of a plugin that is affected by a CVE. Is there a specific security or compatibility issue that you are running into?

[2022-10-04 18:23] coreydaley commented on #1456
/close
The current version of Jenkins being used on the master branch is 2.361.1 (https://github.com/openshift/jenkins/blob/master/2/contrib/openshift/jenkins-version.txt), which is also being backported to previous versions.

[2022-10-04 18:23] #1456 closed

[2022-10-04 19:06] dustymabe commented on #1493
It would seem on a development branch (i.e. `master` in this case) we'd periodically bump to latest version of whatever plugins existed that our jenkins version supported. Is that not the case?

We hit this because another plugin we install pulls in a newer version of `kubernetes-client-api`:

[code]

And then we hit https://issues.jenkins.io/browse/JENKINS-67483

So we needed a newer version of t

[2022-10-04 19:08] jlebon commented on #1493
The policy seems reasonable though it means that people adding their own plugins may end up actually pulling later versions of base plugins as minimum requirements in the ecosystem move forward. This increases the delta from what was tested in OpenShift.

[2022-10-04 20:19] coreydaley commented on #1493
Our hope going forward is that we can periodically bump to the `latest` version of plugins and test them thoroughly, but we have some work to do before we get to that point.

Do you have any idea what the oldest version of the kubernetes-client-api that would be compatible with what you are doing would be?

[2022-10-04 20:27] coreydaley commented on #1493
It looks like https://github.com/jenkinsci/kubernetes-plugin/releases/tag/3578.vb_9a_92ea_9845a_ bumps the kubernetes-client-api to 5.12.1-187.v577c3e368fb_6. Will that work?

[2022-10-04 20:47] dustymabe commented on #1493
That's good news!

Don't worry too much about this specific problem. We can handle overrides on our own (see https://github.com/coreos/fedora-coreos-pipeline/commit/4a6513d572cf06bcedca8c22fda0d7dec31d8c42).

We thought we were reporting a bug (i.e. somehow automation failed to update that plugin for some reason), but it sounds like this is as designed.

[2022-10-04 20:48] coreydaley commented on #1493
Ok. Let us know if you need anything else from us.
/close

[2022-10-04 20:48] #1493 closed

[2022-10-05 09:34] kurisd opened #1494 "icons missing form dashboard Jenkins 2.346.3"
Out of the box missing some ui element!
During the latest update to Jenkins 2.346.3 icons changed from png to svg inline in code but left some old png ref.
example:
<img width="1707" alt="image" src="https://user-images.githubusercontent.com/29768572/194027045-a7b9ccde-df28-4a1f-a400-06a1492eef8a.png">

<img width="1707" alt="image" src="https://user-images.githubusercontent.com/29768572/194028147

[2022-10-05 14:13] coreydaley commented on #1494
We are currently using 2.361.1 on the master branch and are working on backporting it to previous versions. https://github.com/openshift/jenkins/blob/master/2/contrib/openshift/jenkins-version.txt

[2022-10-06 12:10] kurisd commented on #1494
The latest version in redhat catalog is Jenkins 2.346.3
Could you release a newer version from master which contain Jenkins 2.361.1?
[latest redhat jenkins2](https://catalog.redhat.com/software/containers/openshift4/ose-jenkins/5cdd918ad70cc57c44b2d279?push_date=1664882830000&container-tabs=overview&architecture=amd64&tag=v4.10.0-202209270517.p0.g67bd879.assembly.stream)

[2022-10-06 13:23] coreydaley commented on #1494
We are working on it.

[2022-10-18 15:33] jlebon opened #1505 "Cannot modify cloud settings using JCasC"
In the Fedora CoreOS pipeline, we wanted to edit some settings of the `openshift` cloud to try to work around some issues (https://github.com/coreos/fedora-coreos-pipeline/pull/580). Unfortunately, we had to revert it (https://github.com/coreos/fedora-coreos-pipeline/pull/583) because it would overwrite the cloud config generated by the S2I run script.

What's the recommended approach to tweaking

[2022-10-19 14:55] #1418 closed

[2022-10-26 07:47] michelmeeuwissen commented on #1494
Any update on 4.10 version? with latest Jenkins. The Github plugin is unavailable on this 4.10:latest version

![image](https://user-images.githubusercontent.com/7009844/197965924-7767a19c-7918-47c4-9948-78502e230641.png)

[2022-10-31 07:01] saschalaudien commented on #1458
/remove-lifecycle rotten

[2022-10-31 07:03] #1457 closed

[2022-11-19 00:00] #1405 closed